{% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
{% load allif_navigation_tags %}
{% block allif-basic-search %}

{% endblock %}
{% block advanced-search %}{%endblock%}
{% block upload-excel-file %}{%endblock%}
{% block allif-header-links %}
<a href="{% allif_get_single_nav_link_url 'CompanyScopes' user_var glblslug %}">Scopes</a>
<a href="{% allif_get_single_nav_link_url 'AddScope' user_var glblslug %}">New Scope</a>
{% endblock %}
{% block list-table-content-seciton %}
<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonEditCompanyScope' item.id user_var glblslug %}"> {{item.name}}</a>

{% endblock %}
{% block list-table-content-seciton-dropdown-links %}
<a href="{% url 'allifmaalcommonapp:commonEditCompanyScope' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
{% endblock %}
  
  