

  /*........................ IMPORTANT NOTES ........................*/
  /*......................... DATE: 06/06/2024 01/12/1445..................*/
  /*......................... DEVELOPER: AHMED MUSE DIRIYE QOORYARE..................*/


/*...This page contains the main styling for the body and its contents....*/

/*...This root contains universal variables that are used throughout this application......*/
:root {
  --main-background-color: #F6F7F8;
  --main-text-font-size:1em;
  --main-font-type:system-ui, sans-serif,Helvetica,sans-serif,Arial,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  --main-green-color:#07891c;
  --main-blue-color:#3d22a7;
  --main-black-color:#0a0a0a;
  --main-table-links-color:#04010f;
  --main-red-color:#bd0303;
  --links-on-hover-text-color:#3a0bf7;
  --button-on-hover-color:#eeeeee;
}
*{
  font-family: var(--main-font-type);
  
}
.allif-ui-body {
  background-color: var(--main-background-color);
  font-size: var(--main-text-font-size);
  opacity: 1;
  position:sticky;
  text-align: left;
  max-width: 100%; 
  max-height: 100%;
  overflow-y: hidden;
  top:3em;
}

a:link{
    text-decoration: none;
  }
.allifmaincontainer {
  margin-top: 3em;
  background-color: var(--main-background-color);
  margin-right: 1em;
  margin-left: 1em;
  overflow-y: auto;
  overflow-x:hidden;
  min-width: min-content;
  max-width: 100%;
  min-height: min-content;
  max-height: 95vh;
  margin-bottom: 1em;
}
  
table * {
  font-family: var(--main-font-type);
  color:var(--main-black-color);
}
table.allifmaincontainer {
  background-color:var(--main-background-color);
  width: 100%;
  height: 100%;
  }

/*....style the links on the page header ....*/



/*... Start... styling of module dropdowns with closing links... the second option...module-menu-dropdown-container*/

.module-dropdown {
  position: relative;
  float: left;/*important*/
    }
    
/*... Hide the drop down content....*/
.content-dropdown-menu {
  display: none;
  background-color: var(--main-background-color);
}

/*...Show the drop down content on click....*/
.module-dropdown-menu {
  display: block;
  position: fixed;
  overflow: auto;
  min-width: max-content;
 margin-top: 2em;
 top: auto;
  border-radius: 0.1em;
  min-width: 10em;
  min-height: 10em;
  background-color:var(--main-background-color);
  z-index: 10;
  text-align: center;

  box-shadow: 0em 0em 0.5em #858585;
  overflow-y:auto;
  overflow-x: auto;
  
  min-height: fit-content;
  max-height: 70%;/*very important... to show the last link and also for the overflow scrollbar... dont make it more than 70%*/
  min-width: min-content;
  max-width: max-content;
  margin-right: 1em;
  border-radius: 0.3em;
  padding: 0.1em 0.2em 0.1em 0.2em;
 
  
}

.content-dropdown-menu a{
  display:block;
  text-align: left;
  position: relative;
  font-weight:normal;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: var(--main-black-color);
  
  width: 100%;
  height: fit-content;
  line-height: 2em;
  border: none;
  background: var(--main-background-color);
  border-bottom: 1px solid #dfdede;
  overflow: auto;
 

}

    /*-- end--- of clickable dropdown menu styling one--*/



/*... End... styling of module dropdowns with closing links... the second option...*/
a.module-menu-links,button.content-menu-dropdown-btn {
  color:  var(--main-blue-color);
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  border: none;
 
  }
  a.module-menu-links:hover,button.content-menu-dropdown-btn:hover{
    color: var(--links-on-hover-text-color);
  }
  button.content-menu-dropdown-btn-close {
    background-color:var(--main-background-color);
  }
    /*...............NOTES...............*/
    /*.
    1. The module menus can have as many links as you wish...for instance you can add more than 100 links...
    2. The module drop down menu can also have as many links as you wish...for instance you can add more than 100 links...
    3. So just add as many links as necessary both in the module side menu and the drop down container......*/
/*...START.... module menu one styling ...............*/
  
.module-menu-one {
  position: fixed;
  top: 7em;
  left: 1em;
  z-index:10;  
  box-shadow: 0em 0em 0.5em #858585;
  overflow-y:auto;
  overflow-x: auto;
  width: 0;
  height: 0;
  min-height: fit-content;
  max-height: 70%;/*very important... to show the last link and also for the overflow scrollbar... dont make it more than 70%*/
  min-width: min-content;
  max-width: max-content;
  }
  
.module-menu-one a, button.module-menu-dropdown-btn {
  position: relative;
  font-weight:normal;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: var(--main-black-color);
  display: block;
  width: 100%;
  height: fit-content;
  line-height: 2em;
  border: none;
  background: var(--main-background-color);
  border-bottom: 1px solid #dfdede;
  overflow: auto;
 
  }
  
  
  /*...END.... module menu one styling ...............*/
  
.module-menu-two {
  position: fixed;
  top: 7em;
  left: 1em;
  z-index:10;  
  box-shadow: 0em 0em 0.5em #858585;
  overflow-y:auto;
  overflow-x: auto;
  width: 0;
  height: 0;
  min-height: fit-content;
  max-height: 70%;/*very important... to show the last link and also for the overflow scrollbar... dont make it more than 70%*/
  min-width: min-content;
  max-width: max-content;
    }
  
.module-menu-two a, button.module-menu-dropdown-btn {
  position: relative;
  font-weight:normal;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: var(--main-black-color);
  display: block;
  width: 100%;
  height: fit-content;
  line-height: 2em;
  border: none;
  background: var(--main-background-color);
  border-bottom: 1px solid #dfdede;
  overflow: auto;
  }
  
.module-menu-two a:hover, button.module-menu-dropdown-btn:hover{
  color: var(--links-on-hover-text-color);
  }
  

  /*...START.... module menu three with search input styling ...............*/
.module-menu-three {
  position: fixed;
  top: 7em;
  left: 1em;
  z-index:10;  
  box-shadow: 0em 0em 0.5em #858585;
  overflow-y:auto;
  overflow-x: auto;
  width: 0;
  height: 0;
  min-height: fit-content;
  max-height: 70%;/*very important... to show the last link and also for the overflow scrollbar... dont make it more than 70%*/
  min-width: min-content;
  max-width: max-content;
    }
  
.module-menu-three a {
  position: relative;
  font-weight:normal;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: var(--main-black-color);
  display: block;
  width: 100%;
  height: fit-content;
  line-height: 2em;
  border: none;
  background: var(--main-background-color);
  border-bottom: 1px solid #dfdede;
  overflow: auto;
  }
  
  
/* ...this window below is responsible for opening up the various side menus through javascript... */
.module-menu-window {
  width:fit-content;
  height:fit-content;
  }

/* ...START....module menu drop downs content styling */
.module-menu-dropdown-container {
  display: none;
  position:absolute;
  left: 0.1em;
  z-index: 1;/*drop down will not open without this property....*/
  float: left;
  text-align: left;
  padding: 0.1em 0.1em 0.1em 0.1em;
  overflow: auto;
  min-width: 10em;
  background-color: var(--main-background-color);
    }
  
.module-menu-dropdown-container a {
  position: relative;
  font-weight:normal;
  font-size: 1em;
  text-align: left;
  left: 0.1em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;
  color: var(--links-on-hover-text-color);
  display: block;
  line-height: 2em;
  border-bottom: 1px solid #dfdede;
  width: 100%;
  }
    
.module-menu-dropdown-container a:hover {
  color: var(--main-blue-color);
    }
  

/*style the table in the search side nav module...*/
table.allif-search-table a {
  color: var(--main-blue-color);
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 0.1em 0.5em 0.1em 0.1em;
  }

table.allif-search-table tr, table.allif-search-table td{
  background-color: var(--main-background-color);
  height: fit-content;
  width: fit-content;
  padding: 0.1em 0.5em 0.1em 0.1em;
  }
  
table.allif-search-table a:hover{
color:var(--links-on-hover-text-color);
background-color: var(--main-background-color);
}

a.module-menu-close-link {
  color:var(--main-red-color);
  padding: 0.3em 0.3em 0.3em 0.3em;
  }
  
a.module-menu-close-link:hover {
  color:var(--main-red-color);
  font-style: italic;
  }
  /* ...END....module menu drop down content styling */
  
  /*....Start.....style table content describer....*/
  .table-content-description{
    text-align: center;
    padding: 0.1em 0.5em 0.1em 0.1em;
    font-family: var(--main-font-type);
    color: var(--main-blue-color);
  
  }
  
  /*....End.....style table content describer....*/
/* ...start....styling the main content tables... */
.allif-scroll-table {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 90vh;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-left: 0px;
  margin-right: 0px;
  overflow: auto;
  border-left: 0.05em solid #ddddfa;
  border-right: 0.05em solid #ddddfa;
  border-radius: 0.1em;
  background-color: var(--main-background-color);
  margin-bottom: 3em;
  box-shadow: 0em 0em 0.5em #858585;
    }
   
  /* make the table heads sticky and fixed ...*/
.allif-scroll-table thead tr {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */ 
  color: var(--main-black-color); 
  background-color: var(--main-background-color);
    }
    
.allif-table-header-row {
  box-shadow: 0em 0em 0.5em #858585;
  border: none;  
  }
  
.allif-scroll-table thead tr:hover {
  box-shadow: 0em 0em 0.5em var(--main-green-color);
  border: none;
  }
      
.allifmaincontainer tr:hover {
  background-color: #FFF;
  box-shadow: 0em 0em 0.1em var(--main-green-color);
  }
  
.table-layout tbody.allif-table-body {
  border-top: none;
}

  /* start --- below is for changing the color of the clicked row in the tables 037262......*/
.table-layout .clickedrow td, .table-layout .clickedrow a {
  background-color:  var(--main-blue-color);
  color: white;
  }
  /* end--- below is for changing the color of the clicked row in the tables*/

a.allif-table-links {
  color: var(--main-blue-color);
}
a.allif-table-links:hover {
  color: var(--links-on-hover-text-color);
}

/*styling for the form page*/
.allifmaincontainer .allif-form-container {
  background-color:var(--main-background-color);
  margin-bottom: 2em;
  margin-top: 1em;
}

.allif-form-container .allif-form-card {
  background-color: var(--main-background-color);
    }
.allifmaincontainer {
.allifmaal-submit-btn {
  background-color: var(--main-background-color);
  color: var(--main-black-color);
  box-shadow: 0em 0em 0.5em #858585;
  border: none;
}
}

.allifmaincontainer .allifmaal-submit-btn:hover{
  background-color: var(--button-on-hover-color);
  color: var(--main-black-color);
  box-shadow: 0em 0em 0.5em #858585;
  border: none;
  }

/*style for the details card*/
.allif-details-container .allif-details-card {
  border: 0.05em solid #ddddfa;
  border-radius: 0.3em;
  }
.allifmaincontainer .allif-details-container{
  margin-bottom: 2em;
  margin-top: 1em;
  }


  /*......start.....styling the dashboard page.....*/
  .allif-dashboard-card-header{
    background-color: var(--main-background-color);
    color: var(--main-black-color);
    border: 0.05em solid #ddddfa;
    border-radius: 0.3em;
    box-shadow: 0em 0em 0.3em var(--main-blue-color);
    text-align: center;
    margin-bottom: 3em;
    
  }
  .allif-dashboard-card-body{
    background-color: var(--main-background-color);
    box-shadow: 0em 0em 0.3em var(--main-green-color);
  }
  /*......end.....styling the dashboard page.....*/
 
/*... Start.... Styling of categories/sections part.....*/

.allif-section{
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0em 0em 0.2em var(--main-blue-color);
  margin: 0.5em;
  padding: .5em;
  border-radius: 0.3em;

   }
.allif-section-card-header{
  text-align: center;
  color: #0a0a0a;
    }
.allif-section-card {
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0em 0em 0.2em var(--main-green-color);
  margin: 0.3em;
  padding: .3em;
  border-radius: 0.3em;
  }
.allif-section-card a {
  color: var(--main-blue-color);
  }
.allif-section-card a:hover {
  color: var(--links-on-hover-text-color);
    }
/*... End.... Styling of categories/sections part.....*/

