{% load static %}
{% load humanize %}
<link rel="shortcut icon" href='{% static "allifapperp/css/images/allifmaal-icon.png" %}' type="png/ico">
<!DOCTYPE html>
<html>
<head>
<title>
{% block title %}
<!--the title of each page will be displayed here.....-->
{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block style %}
{% endblock %}

</head>
<body>
  {% include 'allifmaalcommonapp/base/uimainbase/main_style_for_pdfs.html' %}
<table class="company-details-section">
<thead>
  <tr>
  <th>
    <div>
    {% if main_sbscrbr_entity.logo %}
    <div class="company-pdf-logo">
    
      <img src="{{main_sbscrbr_entity.logo.path}}">
    
    </div>
    {% else %}
    {{main_sbscrbr_entity}}
    
    {% endif %}
    </div>
  </th>
  <th colspan="2">
    <li> Address: {{main_sbscrbr_entity.address}}</li>
    <li>Phone: {{main_sbscrbr_entity.phone1}} </li>
    <li>E-mail: {{main_sbscrbr_entity.email}}</li>
    <li>Website: {{main_sbscrbr_entity.website}} </li>
  </th>

  <th>
    {% for scope in scopes %}
  <li>{{scope.name}}</li>
  {% endfor %}
  </th>
    
  </tr>
</thead>

</table>


{% block body %}
{% endblock %}
<div class="allif_pdf_footer_content">
  www.allifmaal.com
</div>
{% block scripts %}
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
  

