{% load static %}
{% load humanize %}
<link rel="shortcut icon" href='{% static "allifapperp/css/images/allifmaal-icon.png" %}' type="png/ico">
<!DOCTYPE html>
<html>
<head>
<title>
{% block title %}
<!--the title of each page will be displayed here.....-->
{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  {% include 'allifmaalcommonapp/base/uimainbase/main_style_for_pdfs.html' %}
<table class="allif-pdf-company-details-section">
<thead>
  <tr>

  <th colspan="3"> <div class="company-pdf-logo">{% if main_sbscrbr_entity.logo %} <img src="{{main_sbscrbr_entity.logo.path}}"> {% else %} {{main_sbscrbr_entity}} {% endif %}</div></th>

  <th colspan="5">
    <strong> {{main_sbscrbr_entity.company}}</strong>
    <li>{{main_sbscrbr_entity.address}}</li>
    <li>{{main_sbscrbr_entity.phone1}} </li>
    <li>{{main_sbscrbr_entity.email}}</li>
    <li>{{main_sbscrbr_entity.website}} </li>
  </th>

  <th colspan="4">
    <strong>Our Scope</strong>
     {% for scope in scopes %} <li>{{scope.name}}</li> {% endfor %} </th>
    
  </tr>
</thead>

</table>

<div class="allif_pdf_header_title">{{title}}</div>

{% block body %}
{% endblock %}

<div class="allif_pdf_footer_content">
  
  <p>
    Processed By: {{system_user}}
  </p>
</div>
{% block scripts %}
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
  

