{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}

<!-- START... below is for loading contextual dynamic tags and links... used for only contextual links -->
{% load allif_contextual_action_tags %} {# this helps to put the links where you want and it loads them #}
{% allif_get_contextual_actions_map allifquery user_var glblslug as allif_contextual_action_links %}
<!--'allif_contextual_action_links' now holds the dictionary returned by the tag-->
<!-- END.. -->

{% load allif_navigation_tags %}

 {% block add-form-header-block %}

 
<div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddTransactionDetails' allifquery.id user_var glblslug %}">Refresh</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddTransactionItems' allifquery.id user_var glblslug %}">Add Item</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSpaceBookings' allifquery.id user_var glblslug %}">Space Allocation</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddSpaceBookingItems' allifquery.id user_var glblslug %}">Allocate Space</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonProgress' allifquery.id user_var glblslug %}">Progress Records</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonTransactionToPdf' allifquery.id user_var glblslug %}">Download</a></li>
     
    </div>
    </ul>
  </div>


  <a href="{% allif_get_single_nav_link_url 'Transactions' user_var glblslug %}">Transactions</a>
  
 
{% if 'AddTriageData' in allif_contextual_action_links %}
  <a class="action-button" href="{{ allif_contextual_action_links.AddTriageData.url }}">Nurse Triage</a>
  <a class="action-button" href="{{ allif_contextual_action_links.AddAssessment.url }}">New Doctor Observations</a>
  <a href="{{ allif_contextual_action_links.AddPrescription.url }}">New Prescription</a>
  <a class="action-button" href="{{ allif_contextual_action_links.AddAdmission.url }}">Admit</a>
 

<a class="action-button" href="{{ allif_contextual_action_links.AddReferal.url }}">Refer</a>

  {% else %}
{% endif %}

{% if 'commonAddTransactionDetails' in allif_contextual_action_links %}
    <a href="{{ allif_contextual_action_links.AddTest.url }}">New Assessment</a>
   
{% endif %}


{% if 'addExamDetails' in allif_contextual_action_links %} {# Example for a new action name #}

<a class="action-button" href="{{ allif_contextual_action_links.addExamDetails.url }}">New Examination</a>
 
{% else %}
{% endif %}

{% endblock %}

   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Transaction Name</td>
      <td>{{form.name}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Customer</td>
      <td>{{form.customer}}</td>
    </tr>
    
        
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
          <td class="allif-fix-table-col-forms">Description</td>
          <td>{{form.description}}</td>
        </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Staff in Charge</td>
      <td>{{form.employee_in_charge}}</td>
    </tr>
     
    {%endblock%}

     {% block standard-tab-col-one %}
      <tr>
      <td class="allif-fix-table-col-forms">Payment Mode</td>
      <td>{{form.payment_mode}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Quantity</td>
      <td>{{form.quantity}}</td>
    </tr>
    
    {%endblock%}
       
   {% block standard-tab-col-two %}
         <tr>
      <td class="allif-fix-table-col-forms">Amount</td>
      <td>{{form.amount}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Balance</td>
      <td>{{form.balance}}</td>
    </tr>
       
       
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
  <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Transactions' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% if 'AddTriageData' in allif_contextual_action_links %}

    <tr>
      <td class="allif-fix-table-col"> Record New Triage for {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{{ allif_contextual_action_links.AddTriageData.url }}">Nurse Triage</a></td>
    </tr>

 <tr>
      <td class="allif-fix-table-col"> New Assessment {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{{ allif_contextual_action_links.AddAssessment.url }}">Add Assessment</a></td>
    </tr>
     
     <tr>
      <td class="allif-fix-table-col"> New Lab Test for {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{{ allif_contextual_action_links.AddLabTest.url }}">Request New Lab Test</a></td>
    </tr>

    {%endif%}
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
  {% if 'AddTriageData' in allif_contextual_action_links %}
  
    
     <tr>
      <td class="allif-fix-table-col"> Refer {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{{ allif_contextual_action_links.AddReferal.url }}">New Referral</a></td>
    </tr>
     <tr>
      <td class="allif-fix-table-col"> New Prescription for {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{{ allif_contextual_action_links.AddPrescription.url }}">New Prescription</a></td>
    </tr>
   
    {%endif%}


    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteTransactionConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}
