{% extends 'allifmaaladminapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}

{%endblock%}
   
{% block body %}
<div class="allifmaincontainer">
<!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Control Center: Sessions:{{num_visits}}</a>
    <div class="dropdown allifmaal-content-dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Modules
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="content-dropdown-menu">
       
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Sectors</a></li>
      
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCompanies' user_var glblslug %}">Companies</a></li>
       <li><a class="dropdown-item" href="{% url 'allifmaaladminapp:adminappUsers' user_var glblslug %}">Subscribers</a></li>
      
      
    
    </div>
      </ul>
    </div>
    
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
   
  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Sales
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}" >Suppliers</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}">Customers</a></li>
    
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonWebsite' %}">Websites</a>
  
  </div>
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->
<!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">

    <div class="dropdown allifmaal-content-dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Navigate
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="content-dropdown-menu">
          
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDocsFormat' user_var glblslug %}">Doc Formats</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDataSorts' user_var glblslug %}">Data Filters</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCompanyDetailsForClients' user_var glblslug %}">Settings</a></li>
     
      </div>
      </ul>
    </div>

  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Explore
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonEmailsAndSMS' user_var glblslug %}">Communications</a></li>

        <li><a class="dropdown-item"href="{% url 'allifmaaladminapp:ui1' user_var glblslug %}">UIs</a></li>
        <li><a class="dropdown-item"href="{% url 'allifmaaladminapp:product_list' %}">Products</a></li>
     
        <li><a class="dropdown-item" href="{% url 'allifmaaladminapp:adminCustomerContacts' user_var glblslug %}">Contacts</a></li>
    
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonPrograms' user_var glblslug %}">Programs</a></li>
       <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonServices' user_var glblslug %}">Services/Subjects</a></li>
      
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonTasks' user_var glblslug %}">To do list</a>
 
  </div>
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->

<!--we can insert the other section here-->

  
<div class="allif-admin-img-container">
<img src="{% static 'allifapperp/css/images/Allifmaal-icon.png' %}" alt="Allifmaal" class="admin-home-image">
</div>

</div><!--end of main container of the page-->

   {% endblock %}
   