{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}

 {% block add-form-header-block %}
<a href="{% allif_get_single_nav_link_url 'Referrals' user_var glblslug %}">Referrals</a>
 
{% endblock %}
{% block details-table-col-one %}
 <tr>
    <td class="allif-fix-table-col">Customer</td>
    <td>{{allifquery.medical_file.customer}}</td>
  </tr>

{%endblock%}
{% block details-table-col-two %}
 <tr>
    <td class="allif-fix-table-col">Test For </td>
    <td>{{allifquery.items}}</td>
  </tr>
{%endblock%}
   {% block core-tab-col-one %}
  
    <tr>
        <td class="allif-fix-table-col-forms">Referral Reasons</td>
        <td>{{form.description}}</td>
      </tr>

    <tr>
      <td class="allif-fix-table-col-forms">Referring Dr</td>
      <td>{{form.referring_doctor}}</td>
    </tr>
   
    {%endblock%}

    {% block core-tab-col-two %}
   <tr>
      <td class="allif-fix-table-col-forms">Referral Type</td>
      <td>{{form.referral_type}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Referred to Dr</td>
      <td>{{form.referred_to_doctor}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Referred to External</td>
      <td>{{form.referred_to_external_organization}}</td>
    </tr>


    {%endblock%}

    


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Referrals' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteReferralConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}
