{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}

{% block title %}
{{title}}
{% endblock %}

{% block style %}

{%endblock%}

{% block body %}
<div class="allifmaal-main-container">

    <div class="card-header">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="container-fluid amel-content-header">
                    <div class="dropdown allifmaal-content-dropdown">
                        <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <div class="content-dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="{% url 'allifmaalcommonapp:commonEditSector' allifquery.id user_var glblslug %}">Edit
                                        Division</a></li>
                                <li><a class="dropdown-item body-delete-link"
                                        href="{% url 'allifmaalcommonapp:commonWantToDeleteSector' allifquery.id user_var glblslug %}">Delete
                                        Division</a></li>
                            </div>
                        </ul>
                    </div>
                    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
                    <a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Sectors </a>
                </div>
            </div>
            </div>
        </div>
    <div class="allifmaincontainer">
        <div class="row mt-3">
            <div class="col-md-12">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details"
                            type="button" role="tab" aria-controls="details" aria-selected="true">Division Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="branches-tab" data-bs-toggle="tab" data-bs-target="#branches"
                            type="button" role="tab" aria-controls="branches" aria-selected="false">Branches</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="additional-info-tab" data-bs-toggle="tab"
                            data-bs-target="#additional-info" type="button" role="tab" aria-controls="additional-info"
                            aria-selected="false">Additional Information</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="audit-log-tab" data-bs-toggle="tab" data-bs-target="#audit-log"
                            type="button" role="tab" aria-controls="audit-log" aria-selected="false">Audit Log</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <div class="table-details-content-description">{{allifquery}} Details</div>
                        <div class="allif-scroll-table">
                            <div class="allif-info-tables">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="table-responsive">
                                            <table class="table table-layout">
                                                <tbody>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Company</td>
                                                        <td>{{allifquery.company}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Division</td>
                                                        <td>{{allifquery.division}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Email</td>
                                                        <td>{{allifquery.email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Phone</td>
                                                        <td>{{allifquery.phone}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="allif-details-card table-responsive">
                                            <table class="table table-layout">
                                                <tbody>
                                                    <tr>
                                                        <td class="allif-fix-table-col">City</td>
                                                        <td>{{allifquery.city}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Created By</td>
                                                        <td>{{allifquery.owner}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">P.O.Box</td>
                                                        <td>{{allifquery.pobox}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Address</td>
                                                        <td>{{allifquery.address}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="allif-details-card table-responsive">
                                            <table class="table table-layout">
                                                <tbody>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Date</td>
                                                        <td>{{allifquery.date|date:'d/m/Y'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Last Update</td>
                                                        <td>{{allifquery.updatedon|date:'d/m/Y'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">UID</td>
                                                        <td>{{allifquery.divisionuid}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="allif-fix-table-col">Slug</td>
                                                        <td>{{allifquery.divisionslug}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="branches" role="tabpanel" aria-labelledby="branches-tab">
                        <div class="table-content-description"> <a
                                href="{% url 'allifmaalcommonapp:commonBranches' user_var glblslug %}" class="allif-table-links">
                                Branches</a> </div>
                        <div class="allif-scroll-table">
                            <div class="table-responsive allif-full-table">
                                <table class="table table-layout">
                                    <thead>
                                        <tr class="allif-table-header-row">
                                            <td class="allif-fix-table-col">Branches</td>
                                            <td>Division</td>
                                            <td>Owner</td>
                                            <td>Date</td>
                                            <td>Navigate</td>
                                            <td> . . . </td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody class="allif-table-body">
                                        {% for item in relatedqueryset %}
                                        <tr data-id="{{item.id}}">
                                            <td class="allif-fix-table-col">
                                                <a href="{% url 'allifmaalcommonapp:commonBranchDetails' item.id user_var glblslug %}"
                                                    class="allif-table-links">
                                                    {{item.branch}}
                                                </a>
                                            </td>
                                            <td>{{item.division}}</td>
                                            <td>{{item.owner}}</td>
                                            <td>{{item.date|date:'d/m/Y'}}</td>
                                            <td>
                                                <div class="dropdown allifmaal-content-dropdown">
                                                    <a href="#" onclick="showDropdown(event, this)"
                                                        class="dropdown-toggle dropdown-item" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">{{open_link}}</a>
                                                    <div class="dropdown-content">
                                                        <a href="{% url 'allifmaalcommonapp:commonEditBranch' item.id user_var glblslug %}"
                                                            class="dropdown-item" id="allif-table-drop-item-link">Edit
                                                            Item</a>
                                                        <a href="#" onclick="confirmDelete(this)" class="dropdown-item"
                                                            id="allif-table-drop-item-link-delete">Delete Item</a>
                                                    </div>
                                                </div>
                                                <div class="dropdown allif-confirm-action">
                                                    <a href="{% url 'allifmaalcommonapp:commonDivisionDetails' allifquery.id user_var glblslug %}"
                                                        id="allif-table-drop-item-link">No</a><span><strong> |
                                                        </strong></span>
                                                    <a href="{% url 'allifmaalcommonapp:commonDeleteBranch' item.id user_var glblslug %}"
                                                        id="allif-confirm-delete">Confirm</a>
                                                </div>
                                            </td>
                                            <td> . . . </td>
                                            <td></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="additional-info" role="tabpanel"
                        aria-labelledby="additional-info-tab">
                        <h4>Product Inventory</h4>
                        <p>This section can hold other details, like a list of products or assets.</p>
                        <div class="toggle-section">
                            <div class="toggle-button-container">
                                <button id="toggleButton" class="btn btn-primary btn-lg">Show Product Inventory</button>
                            </div>
                            <div id="tableContainer" class="collapse">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark">
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Stock</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Smart Watch Pro</th>
                                                <td>Electronics</td>
                                                <td>250</td>
                                                <td>$299.99</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Ergonomic Keyboard</th>
                                                <td>Computer Accessories</td>
                                                <td>150</td>
                                                <td>$89.99</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Wireless Mouse</th>
                                                <td>Computer Accessories</td>
                                                <td>400</td>
                                                <td>$49.99</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">HD Webcam</th>
                                                <td>Electronics</td>
                                                <td>180</td>
                                                <td>$129.99</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="audit-log" role="tabpanel" aria-labelledby="audit-log-tab">
                        <h4>Audit Log & Activity History</h4>
                        <p>Here you can display a history of changes or activities related to this division.</p>
                        <ul>
                            <li>Division created on {{allifquery.date|date:'d/m/Y'}} by {{allifquery.owner}}.</li>
                            <li>Last updated on {{allifquery.updatedon|date:'d/m/Y'}}.</li>
                            <li>(Add more detailed log entries here from your database)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<script>
    // JavaScript for the single-page toggle (the Product Inventory table within 'Additional Information' tab)
    const toggleButton = document.getElementById('toggleButton');
    const tableContainer = document.getElementById('tableContainer');

    if (toggleButton && tableContainer) { // Ensure elements exist before adding listener
        toggleButton.addEventListener('click', () => {
            tableContainer.classList.toggle('show');

            const isHidden = !tableContainer.classList.contains('show');

            if (isHidden) {
                toggleButton.textContent = 'Show Product Inventory';
            } else {
                toggleButton.textContent = 'Hide Product Inventory';
            }
        });
    }

    // You don't need additional JavaScript for Bootstrap tabs if you're using data-bs-toggle="tab"
    // Bootstrap handles the tab switching automatically.

    // Optional: If you have custom dropdowns (like your 'Navigate' column dropdowns),
    // ensure they are properly initialized if not handled by Bootstrap's data attributes.
    // The showDropdown and confirmDelete functions seem custom, make sure they are defined globally
    // or within a script that is loaded before this one.
    // If you want to use Bootstrap's dropdowns, remove showDropdown and use data-bs-toggle="dropdown"
    // directly on the <a> tag as demonstrated in the header dropdown.
</script>
{% endblock %}