{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
<!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Sectors:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaalcommonapp:commonAddDivision' user_var glblslug %}">Add Divison</a>
    <a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a>
    <a href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}">Suppliers</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
  
  
    <a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a>
    <a href="{% url 'allifmaaladminapp:adminappHome' user_var glblslug %}"> Admin Home</a>
    <a href="{% url 'allifmaalcommonapp:commonCompanies' user_var glblslug %}">Companies </a>
  
  <a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Sectors </a>
  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Modules
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}">Customers</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">Employees</a></li>
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonDivisions' user_var glblslug %}">Divisions</a>
  
  </div>
  
    </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->

<div class="allifmaincontainer">
  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"> <!--start....table column-->
    <div class="allif-scroll-table">
      <div class="table-responsive allif-full-table">
      <table class="table table-layout">
        <thead>
          <tr class="allif-table-header-row">
          <td class="allif-fix-table-col">Division Name</td>
          <td>Compnay Sector</td>
          <td>Company Owner</td>
          <td>Company Email Address</td>
          <td>Actions</td>
          </tr>
          </thead>
          <tbody class="allif-table-body">
          
            {% for item in allifqueryset %} 
        <tr>
          <td class="allif-fix-table-col">
            <a href="{% url 'allifmaalcommonapp:commonSectorDetails' item.id user_var glblslug %}" class="allif-table-links">
           {{item.name}}
           </a>
          </td>
          
          <td>
            {{item.owner}}
            
           </td>
          <td>
          
           {{item.notes}}
            
          </td>

          <td>
           {{item.date|date:'d/m/Y'}}
          </td>

          <td>
            <div class="dropdown allifmaal-content-dropdown">
              <a class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{open_link}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="content-dropdown-menu">
                <li><a class="dropdown-item" href="">Edit Item</a></li>
                <li><a class="dropdown-item" href="">Edit Item</a></li>
               
              </div>
              </ul>
            </div>
          </td>
         
        </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
     </div>


  
  </div><!--end....table column-->

</div><!--end....table row-->

<div class="allif-form-container">
<div class="table-content-description"> Add New Sector </div>


<div class="allif-scroll-table">
  <div class="table-responsive allif-full-table">
  <table class="table table-layout">
   
      <tbody class="allif-table-body">
      
        
    <tr>
      <form method='POST' action=''>{% csrf_token %}
      <td>
       
       {{form.name}}
      
      </td>
      
      <td>
       
        {{form.name}}
       
       </td>
       <td>
        <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn">
       </td>
      </form>
    </tr>
    
    
    </tbody>
  </table>
  </div>
 </div>


    
  </div><!--end of row div --->

</div>
</div>
  
  {% block scripts %}
 
  {% endblock %}
  {% endblock %}


