{% extends 'allifmaaluiapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<div class="allifmaincontainer">

  <!--start....main headere-->
  <div class="card-header">

    <div class="row mt-12" ><!--start....header row-->

    <div class="col-md-12"><!--start....header column-->
          
    <a href="#" class="module-menu-one-open-link module-menu-links">Navigate <i class="fa fa-caret-down"></i></a>
    <a href="#" class="module-menu-two-open-link module-menu-links">Open <i class="fa fa-caret-down"></i></a>
    <a href="#" class="module-menu-three-open-link module-menu-links">Search <strong>+</strong> <i class="fa fa-caret-down"></i></a>
    <a href="" class="module-menu-links">Link</a>
    <a href="#" class="module-menu-links">Sales Returns </a>
    <a href="#" class="module-menu-links"> <span>Customers</span> </a>
    
 <!-- start of on click dropdown Menu-->
 <div class="module-dropdown">
  <!--NOTE.... we can replace the button below with anchor...ie <a href="javascript:void(0);" onclick="openModuleMenuOne()" -->
  <button onclick="openModuleMenuOne()" class="content-menu-dropdown-btn"> Navigate <i class="fa fa-caret-down"></i></button>
  <!--in the styling of content-dropdown-menu-one, we set display:none so that the content is hidden and is shown using javascript toggle class called module-dropdown-menu-one with the help of content-dropdown-menu-one-id below... the other modules use the same priniciple-->
  <div id="content-dropdown-menu-one-id" class="content-dropdown-menu">
    <a href="javascript:void(0);" onclick="openModuleMenuOne()" class="module-menu-close-link"> Close The Menu <i class="fa fa-close"></i></a>
    
      <a href="">Module 1</a>
      <a href="#">Invoices</a>
  
      <button class="module-menu-dropdown-btn" >Quotations<i class="fa fa-caret-down"></i></button>
      <div class="module-menu-dropdown-container">
        <a href="">Module 1</a>
        <a href="#">Suppliers</a>
      </div>
      <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
      <div class="module-menu-dropdown-container">
        <a href="">Logistics</a>
        <a href="#">Invoices</a>
        <a href="#">Quotations</a>
        <a href="#">Invoices</a>
        <a href="#">Quotations</a>
      </div>
      <a href="#">Invoices</a>
      <a href="#">Invoices</a>

 
    <!--table here-->
  </div>
  </div>
  <!--end of on click dropdown menu one-->

  <!-- start of on click dropdown Menu-->
 <div class="module-dropdown">
    <button onclick="openModuleMenuTwo()" class="content-menu-dropdown-btn"> Open Modules <i class="fa fa-caret-down"></i> </button>
    <div id="content-dropdown-menu-two-id" class="content-dropdown-menu">
      <a href="javascript:void(0);" onclick="openModuleMenuTwo()" class="module-menu-close-link"> Close The Menu <i class="fa fa-close"></i></a>
    
        <a href="">Module 1</a>
        <a href="#">Invoices</a>
    
        <button class="module-menu-dropdown-btn" >Quotations<i class="fa fa-caret-down"></i></button>
        <div class="module-menu-dropdown-container">
          <a href="">Module 1</a>
          <a href="#">Suppliers</a>
        </div>
        <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
        <div class="module-menu-dropdown-container">
          <a href="">Logistics</a>
          <a href="#">Invoices</a>
          <a href="#">Quotations</a>
          <a href="#">Invoices</a>
          <a href="#">Quotations</a>
        </div>
        <a href="#">Invoices</a>
        <a href="#">Invoices</a>

      
</div>
</div>

     <!-- start of on click dropdown Menu-->
 <div class="module-dropdown">
  <button onclick="openModuleMenuThree()" class="content-menu-dropdown-btn"> Search <i class="fa fa-caret-down"></i></button>
  <div id="content-dropdown-menu-three-id" class="content-dropdown-menu" >
    <a href="javascript:void(0);" onclick="openModuleMenuThree()" class="module-menu-close-link"> Close The Menu <i class="fa fa-close"></i></a>

    <table class="table allif-search-table">
     
      <tr>
      <form method='POST' action=''>{% csrf_token %}
        <label id="numofitems"> </label>
        <input type="text" id="allifsearchcommonfield" class="form-control allifsearchcommonfieldclasstwo"
        placeholder="Search for something" >
          </form>
        </tr>
      <tr>
        <td>
      <a href=""> New Customer </a>
        </td>

        <td> 
          <a href="">Payments</a>
        </td>

        </tr>

        <tr>
        <td>
      <a href=""> Customers </a>
        </td>
        <td>     
          <a href="">Transactions</a>
        </td>

        </tr>
        <tr>
          <td>
        <a href="">Statements </a>
          </td>
          <td>     
            <a href="">Transactions</a>
          </td>
          </tr>
        </table>
      
        <table class="table allif-search-table">
          <tr>
          <td scope="col">Customer</td>
          <td scope="col">Balance</td>
          </tr>
  
        <tbody id="display-searched-data-here">
        
        </tbody>
          </table>

  </div>
  </div>

<a href="#" class="module-menu-links"> <span>Cus</span> </a>



<!--start....module side nav one menu-->
 <div class="module-menu-one">
  <a href="#" class="module-menu-one-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
  <a href="" >Search</a>

  <button class="module-menu-dropdown-btn" >Quotations<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   <a href="">Module 1</a>
   <a href="#">Suppliers</a>
 </div>

 <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   <a href="">Logistics</a>
   <a href="#">Invoices</a>
   <a href="#">Quotations</a>
   <a href="#">Invoices</a>
   <a href="#">Quotations</a>
   
 </div>

    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
 </div>
 <!--end....module side nav one menu-->

 <!--start....module side nav two menu-->
 <div class="module-menu-two">
  <a href="#" class="module-menu-two-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
  <a href="" >menu 2</a>

  <button class="module-menu-dropdown-btn" >Menu2<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   <a href="">Menu 2</a>
   <a href="#">Suppliers</a>
 </div>

 <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   <a href="">Logistics</a>
   <a href="#">Invoices</a>
  
 </div>

    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
   
 </div>
 <!--end....module side nav two menu-->

 <!--start....module side nav three with search menu-->
 <div class="module-menu-three">
    <table class="table allif-search-table">
      <tr>
        <a href="#" class="module-menu-three-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
      </tr>
      <tr>
      <form method='POST' action=''>{% csrf_token %}
        <label id="numofitems"> </label>
        <input type="text" id="allifsearchcommonfieldtwo" class="form-control allifsearchcommonfieldclass"
        placeholder="Search for something" >
          </form>
        </tr>
      <tr>
        <td>
      <a href=""> New Customer </a>
        </td>

        <td> 
          <a href="">Customer Payments</a>
        </td>

        </tr>

        <tr>
        <td>
      <a href=""> Customer Statements </a>
        </td>
        <td>     
          <a href="">Transactions</a>
        </td>

        </tr>
        <tr>
          <td>
        <a href=""> Customer Statements </a>
          </td>
          <td>     
            <a href="">Customer Transactions</a>
          </td>
          </tr>
        </table>
    
      <table class="table allif-search-table">
        <tr>
        <td>Customer</td>
        <td>Balance</td>
        </tr>

      <tbody id="tbody">
      </tbody>
        </table>
   
 </div>
 <!--start....module side nav three with search menu-->
 
    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->
    

  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"> <!--start....table column-->
    <div class="allif-scroll-table"> 
      <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row" >
          <td>Category</td>
          <td>Description</td>
          <td>PartNo.</td>
          <td>Quantity</td>
          <td>Price</td>
          <td>Details</td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
                    
        <tr>
          <td >
            <a href="" class="allif-table-links">
            first cat
            </a>
          </td>
          <td>
            Allifmaal ERP Application V3.4
          </td>
          <td>AllifERPV4.3</td>
          
          <td>34556</td>
          
          <td>15,667</td>
          <td>
            Latest version on Subscription bases
          </td>
        </tr>

      </tbody>
    </table>
  
  </div>
  
  </div><!--end....table column-->

</div><!--end....table row-->

<!--end of table-->

</div><!--end of main container of the page....-->

  {% block scripts %}
 
  {% endblock %}
  
   {% endblock %}
   