  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonCustomerPaymentSearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonCustomerPaymentAdvanceSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}

    <a href="{% url 'allifmaalcommonapp:commonReceiveCustomerMoney' user_var glblslug %}">Receive Customer Payment</a>
   
    <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Navigate
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% allif_get_single_nav_link_url 'SupplierPayments' user_var glblslug %}">Supplier Payments</a></li>
      <li><a class="dropdown-item" href="{% allif_get_single_nav_link_url 'PostedSupplierPayments' user_var glblslug %}">Posted Supplier Payments</a></li>
     <li><a class="dropdown-item" href="{% allif_get_single_nav_link_url 'CustomerPayments' user_var glblslug %}">Customer Payments</a></li>
     <li><a class="dropdown-item" href="{% allif_get_single_nav_link_url 'PostedCustomerPayments' user_var glblslug %}">Posted Customer Payments</a></li>
    <li><a class="dropdown-item" href="{% allif_get_single_nav_link_url 'ReceiptClientPayment' user_var glblslug %}">Receipt Customer Payments</a></li>
    
     
   

    </div>
    </ul>
  </div>

  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col">Description</td>
   <td class="allif-table-header-td">Customer</td>
  <td class="allif-table-header-td">Amount</td>
  <td class="allif-table-header-td">Date</td>
   
  {% endblock %}
  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCustomerPaymentDetails' item.id user_var glblslug %}"> {{item.description}} </a>{%endblock%}</td>
  
  <td class="allif-table-content-td"> {{item.customer}} </td>
  <td class="allif-table-content-td">
    <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCustomerPaymentDetails' item.id user_var glblslug %}">
     {{item.amount|floatformat:2|intcomma}}</a>
     </td>
  <td class="allif-table-content-td"> {{item.date|date:'d/m/Y'}} </td>
  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonCustomerPaymentDetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">More Details</a>
  
  {% endblock %}


