{% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
{% load allif_navigation_tags %}
{% block allif-basic-search-action %}
{% url 'allifmaalcommonapp:commonUserSearch' user_var glblslug %}
{% endblock %}
{% block advanced-search %}{%endblock%}
{% block upload-excel-file %}{%endblock%}
{% block allif-header-links %}
 <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a>
    <a href="{% url 'allifmaalusersapp:changeYourUserPassword' %}">Change Password</a>
    <a href="{% url 'allifmaalcommonapp:commonAddUser' user_var glblslug %}">New Staff</a>
    <a href="{% url 'allifmaalcommonapp:commonSalaries' user_var glblslug %}">Payroll</a>
    <a href="{% url 'allifmaalcommonapp:commonStaffProfiles' user_var glblslug %}">Profiles</a>
    <a href="{% url 'allifmaalcommonapp:commonAddStaffProfile' user_var glblslug %}">New Profile </a>
    <a href="{% url 'allifmaalcommonapp:commonApprovers' user_var glblslug %}">Approvers </a>

    <a href="{% url 'allifmaalcommonapp:commonSalaries' user_var glblslug %}">Salary Payments</a>

{% endblock %}
{% block list-table-content-seciton-links %}
<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonUserDetails' item.id user_var glblslug %}"> {{item.first_name}}</a>

{% endblock %}
{% block list-table-content-seciton-dropdown-links %}
<a href="{% url 'allifmaalcommonapp:commonEditUser' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
{% endblock %}
  
