{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<div class="allifmaincontainer">

  <!--start....main headere-->
  <div class="card-header">

    <div class="row mt-12" ><!--start....header row-->

    <div class="col-md-12"><!--start....header column-->
          
    <a href="#" class="module-menu-one-open-link module-menu-links">Navigate <i class="fa fa-caret-down"></i></a>
    <a href="#" class="module-menu-two-open-link module-menu-links">Open <i class="fa fa-caret-down"></i></a>
    <a href="#" class="module-menu-three-open-link module-menu-links">Search <strong>+</strong> <i class="fa fa-caret-down"></i></a>
    <a href="" class="module-menu-links">Sales </a>
    <a href="#" class="module-menu-links">Sales Returns </a>
    <a href="#" class="module-menu-links"> <span>Customers</span> </a>


<!--start....module side nav one menu-->
 <div class="module-menu-one">
  <a href="#" class="module-menu-one-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
 
  <button class="module-menu-dropdown-btn" >Quotations<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
  
   <a href="#">Details</a>
 </div>

 <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">

   <a href="#">Invoices</a>
   <a href="#">Quotations</a>
   <a href="#">Invoices</a>
   <a href="#">Quotations</a>
   
 </div>

    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
 </div>
 <!--end....module side nav one menu-->

 <!--start....module side nav two menu-->
 <div class="module-menu-two">
  <a href="#" class="module-menu-two-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
  

  <button class="module-menu-dropdown-btn" >Menu2<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   
   <a href="#">Suppliers</a>
 </div>

 <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
  
   <a href="#">Invoices</a>
  
 </div>

    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
   
 </div>
 <!--end....module side nav two menu-->

 <!--start....module side nav three with search menu-->
 <div class="module-menu-three">
    <table class="table allif-search-table">
      <tr>
        <a href="#" class="module-menu-three-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
      </tr>
      <tr>
      <form method='POST' action=''>{% csrf_token %}
        <label id="numofitems"> </label>
        <input type="text" id="allifsearchcommonfield" class="form-control allifsearchcommonfieldclass"
        placeholder="Search for something" >
          </form>
        </tr>
      <tr>
        <td>
      <a href=""> New Customer </a>
        </td>

        <td> 
          <a href="">Customer Payments</a>
        </td>

        </tr>

        <tr>
        <td>
      <a href=""> Customer Statements </a>
        </td>
        <td>     
          <a href="">Transactions</a>
        </td>

        </tr>
        <tr>
          <td>
        <a href=""> Customer Statements </a>
          </td>
          <td>     
            <a href="">Customer Transactions</a>
          </td>
          </tr>
        </table>
      
      <hr style="color: #714b67;">

      <table class="table allif-search-table">
        <tr>
        <td scope="col">Customer</td>
        <td scope="col">Balance</td>
        </tr>

      <tbody id="tbody">
      </tbody>
        </table>
   
 </div>
 <!--start....module side nav three with search menu-->
 
    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->
    

  <div class="row mt-12"> <!--start....table row-->
    <div class="allif-details-container">
      <div class="row"><!--start of row div --->
      
        <!--start of column two-->
        <div class="col-md-4">
          <div class="allif-details-card ">
            <!--start of the table here-->
          <table class="table allif-details-table table-layout">
            <tbody>
          <tr>
            <td>Company</td>
            <td>{{allifquery.company}}</td>
            
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{allifquery.firstName}}</td>
        
            </tr>
          <tr>
            <td>Middle Name</td>
            <td>{{allifquery.middleName}}</td>
        
            </tr>
          <tr>
            <td>Last Name</td>
            <td>{{allifquery.lastName}}</td>
        
            </tr>
          <tr>
            <td>Last Name</td>
            <td>{{allifquery.staffNo}}</td>
        
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{allifquery.gender}}</td>
          
              </tr>
          </tbody>
          </table>
        
          </div>
              </div>
      
           
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
        <tr>
          <td>Title</td>
          <td>{{allifquery.title}}</td>
          
        </tr>
        <tr>
          <td>Education</td>
          <td>{{allifquery.education}}</td>
          
        </tr>
        <tr>
          <td>Department</td>
          <td>{{allifquery.department}}</td>
      
          </tr>
          <tr>
            <td>Username</td>
            <td>{{allifquery.username}}</td>
      
            </tr>
        <tr>
          <td>Rights Category</td>
          <td>{{allifquery.sysperms}}</td>
    
        </tr>
        <tr>
          <td>Comments</td>
          <td>{{allifquery.comment}}</td>
    
          </tr>
         
        </tbody>
        </table>
      
        </div>
            </div>
      
      
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
        <tr>
          <td>Salary</td>
          <td>{{allifquery.salary|floatformat:2|intcomma}}</td>
        </tr>
        <tr>
          <td>Total Paid Salary</td>
          <td>{{allifquery.total_salary_paid|floatformat:2|intcomma}}</td>
        </tr>
        <tr>
          <td>Payable Salary</td>
          <td>{{allifquery.salary_payable|floatformat:2|intcomma}}</td>
        </tr>
        <tr>
          <td>Salary Balance</td>
          <td>{{allifquery.salary_balance|floatformat:2|intcomma}}</td>
        </tr>
        </tbody>
        </table>
      
      </div>
    </div>
      
      </div><!--end of row div --->
        
          </div>

</div><!--end....table row-->

<!--end of table-->



  <!--start....main headere-->
  <div class="card-header">

    <div class="row mt-12" ><!--start....header row-->

    <div class="col-md-12"><!--start....header column-->

    <a href="" class="module-menu-links">Sales </a>
    <a href="#" class="module-menu-links">Sales Returns </a>
    <a href="#" class="module-menu-links"> <span>Customers</span> </a>

    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->
    

  <div class="row mt-12"> <!--start....table row-->
    <div class="allif-details-container">
      <div class="row"><!--start of row div --->
      
        <!--start of column two-->
        <div class="col-md-4">
          <div class="allif-details-card ">
            <!--start of the table here-->
          <table class="table table-layout allif-details-table">
            <tbody>
          <tr>
            <td>Quote Value</td>
            <td>Place Holder</td>
            
          </tr>
          <tr>
            <td>Discount Amount</td>
            <td>Place Holder{{Quote_id.total|floatformat:2|intcomma}} </td>
        
            </tr>
          
          </tbody>
          </table>
        
          </div>
              </div>
      
      
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
        <tr>
          <td>Quote Value</td>
          <td>{{Quote_id.total|floatformat:2|intcomma}}</td>
          
        </tr>
        <tr>
          <td>Discount Amount</td>
          <td>Place holder</td>
      
          </tr>
          <tr>
            <td>Value After Discount</td>
            <td>{{Quote_id.valueafterdiscount|floatformat:2|intcomma}}</td>
      
            </tr>
      
        </tbody>
        </table>
      
        </div>
            </div>
      
      
       <!--start of column two-->
       <div class="col-md-4">
        <div class="allif-details-card ">
          <!--start of the table here-->
        <table class="table table-layout allif-details-table">
          <tbody>
        <tr>
          <td>Quote Value</td>
          <td>first for this value tal staabdles </td>
        
        </tbody>
        </table>
      
      </div>
    </div>
      
      </div><!--end of row div --->
        
          </div>

</div><!--end....table row-->

<!--end of table-->

</div><!--end of main container of the page....-->
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   







