{% extends 'allifmaaluiapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<div class="allifmaincontainer">
<div class="row mt-12">
<div class="col-md-3">
    <div class="allif-section">
    <div  class="card-header allif-section-card-header">
    Distribution
    </div>
    <div class="p-3 allif-section-card">
   <a href="">Allif ERP V3.3 </a>
    </div>
</div>
    </div>
<div class="col-md-3">
    <div class="allif-section">
    <div  class="card-header allif-section-card-header">
   Healthcare
    </div>
    <div class="p-3 allif-section-card">
    <a href="">Allif ERP V3.3 </a>
    </div>
</div>
    </div>
<div class="col-md-3">
    <div class="allif-section">
    <div  class="card-header allif-section-card-header">
   Education
    </div>
    <div class="p-3 allif-section-card">
    <a href="">Allif ERP V3.3 </a>
    </div>
</div>
    </div>
    <div class="col-md-3">
        <div class="allif-section">
        <div  class="card-header allif-section-card-header">
       Hospitality
        </div>
        <div class="p-3 allif-section-card">
       <a href="">Allif ERP V3.3 </a>
        </div>
    </div>
        </div>
    </div>

    <div class="row mt-12">
        <div class="col-md-3">
            <div class="allif-section">
            <div  class="card-header allif-section-card-header">
           Logistics
            </div>
            <div class="p-3 allif-section-card">
           <a href="">Allif ERP V3.3 </a>
            </div>
        </div>
            </div>
        <div class="col-md-3">
            <div class="allif-section">
            <div  class="card-header allif-section-card-header">
           E-Commerce
            </div>
            <div class="p-3 allif-section-card">
            <a href="">Allif ERP V3.3 </a>
            </div>
        </div>
            </div>
        <div class="col-md-3">
            <div class="allif-section">
            <div  class="card-header allif-section-card-header">
           Websites
            </div>
            <div class="p-3 allif-section-card">
            <a href="">Allif ERP V3.3 </a>
            </div>
        </div>
            </div>
            <div class="col-md-3">
                <div class="allif-section">
                <div  class="card-header allif-section-card-header">
                Transportation
                </div>
                <div class="p-3 allif-section-card">
               <a href="">Allif ERP V3.3 </a>
                </div>
            </div>
                </div>
            </div>

            <div class="row mt-12">
                <div class="col-md-3">
                    <div class="allif-section">
                    <div  class="card-header allif-section-card-header">
                    Technology
                    </div>
                    <div class="p-3 allif-section-card">
                   <a href="">Allif ERP V3.3 </a>
                    </div>
                </div>
                    </div>
                <div class="col-md-3">
                    <div class="allif-section">
                    <div  class="card-header allif-section-card-header">
                   Firms
                    </div>
                    <div class="p-3 allif-section-card">
                    <a href="">Allif ERP V3.3 </a>
                    </div>
                </div>
                    </div>
                <div class="col-md-3">
                    <div class="allif-section">
                    <div  class="card-header allif-section-card-header">
                   Real Estate
                    </div>
                    <div class="p-3 allif-section-card">
                    <a href="">Allif ERP V3.3 </a>
                    </div>
                </div>
                    </div>
                    <div class="col-md-3">
                        <div class="allif-section">
                        <div  class="card-header allif-section-card-header">
                       Consultancy
                        </div>
                        <div class="p-3 allif-section-card">
                       <a href="">Allif ERP V3.3 </a>
                        </div>
                    </div>
                        </div>
                    </div>

</div><!--end of main container of the page....-->

{% block scripts %}

{% endblock %}
{% endblock %}
   
