{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
<!--start....main headere-->
<div class="card-header">

  <div class="row mt-12" ><!--start....header row-->
  
  <div class="col-md-12"><!--start....header column-->
  
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Warehouses/Stores:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaalcommonapp:commonSpaces' user_var glblslug %}">Warehouses</a>
    <a href="{% url 'allifmaalcommonapp:commonAddSpaceBookingItems' allifquery.id user_var glblslug %}">Add New Space Booking</a>
 
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->

<div class="allifmaincontainer">  
<div class="row mt-12"> <!--start....table row-->

  <div class="col-md-12"> <!--start....table column-->

    <div class="allif-scroll-table">
      <div class="table-responsive allif-full-table">
      <table class="table table-layout">
        <thead>
          <tr class="allif-table-header-row">
          <td class="allif-fix-table-col">Space</td>
        
          <td>Asset</td>
          <td>Date</td>
       
          <td>Navigate</td>
          
          <td> . . . </td>
          <td></td>
          </tr>
          </thead>
          <tbody class="allif-table-body">
           
          
          {% for item in allifqueryset %} 
          <tr data-id="{{item.id}}">
          <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonSpaceDetails' item.id user_var glblslug %}">{{item.space}}</a></td>
         
            <td>
            {{item.trans_number}}
           </td>
          
           <td>
            {{item.date}}
           </td>
          
           <td>
            <div class="dropdown allifmaal-content-dropdown">
              <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
              <div class="dropdown-content">
                <a href="{% url 'allifmaalcommonapp:commonEditSpace' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                
              </div>
            </div>
            <div class="dropdown allif-confirm-action">
              
              <a href="{% url 'allifmaalcommonapp:commonSpaces' user_var glblslug %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
              <a href="{% url 'allifmaalcommonapp:commonDeleteSpace' item.id user_var glblslug %}" id="allif-confirm-delete">Confirm</a>
            </div>
  
           
          </td>
         <td> . . . </td>
         <td></td>
        
    
      </tr>
      {% endfor %}
     
        </tbody>
      </table>
      </div>
     </div>

     
      </div><!--end....table column-->
  </div>

</div><!--end....table row-->

<!--end of table-->

</div><!--end of main container of the page....-->

  {% block scripts %}
  <!--when you put the js code here, it gives a repetitive results....-->
  {% endblock %}
  
   {% endblock %}
   
