{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}

 {% block add-form-header-block %}
<a href="{% allif_get_single_nav_link_url 'flights' user_var glblslug %}">Flights</a>
 <a href="{% allif_get_single_nav_link_url 'newFlight' user_var glblslug %}">New Flight</a>
<a href="{% allif_get_single_nav_link_url 'flightTickets' user_var glblslug %}">Tickets</a>
<a href="{{ allif_contextual_action_links.flightTicketPdf.url }}">Download Ticket</a>



{% endblock %}

   {% block core-tab-col-one %}
   
     <tr>
      <td class="allif-fix-table-col-forms">Passenger</td>
      <td>{{form.passenger}}</td>
    </tr>

    
     <tr>
      <td class="allif-fix-table-col-forms">Origin</td>
      <td>{{form.origin}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Destination</td>
      <td>{{form.destination}}</td>
    </tr>

    
     <tr>
      <td class="allif-fix-table-col-forms">Nationality</td>
      <td>{{form.nationality}}</td>
    </tr>
     <tr>
            <td class="allif-fix-table-col-forms">Ticket Status</td>
            <td>{{form.ticket_status}}</td>
          </tr>
     
     
    {%endblock%}

    {% block core-tab-col-two %}
     
      <tr>
        <td class="allif-fix-table-col-forms">Travel Date</td>
        <td>{{form.travel_date}}</td>
      </tr>
        <tr>
          <td class="allif-fix-table-col-forms">Booking Date</td>
          <td>{{form.booking_date}}</td>
        </tr>
         
         
          <tr>
            <td class="allif-fix-table-col-forms">Ticket Type</td>
            <td>{{form.ticket_type}}</td>
          </tr>
          <tr>
            <td class="allif-fix-table-col-forms">Payment</td>
            <td>{{form.payment}}</td>
          </tr>
         
    {%endblock%}

     {% block standard-tab-col-one %}
      <tr>
            <td class="allif-fix-table-col-forms">Luggage</td>
            <td>{{form.luggage}}</td>
          </tr>
          <tr>
            <td class="allif-fix-table-col-forms">Children</td>
            <td>{{form.children}}</td>
          </tr>

     
    <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
    
     <tr>
        <td class="allif-fix-table-col-forms">Description</td>
        <td>{{form.description}}</td>
      </tr>
     
    {%endblock%}
       
   {% block standard-tab-col-two %}
   
     <tr>
        <td class="allif-fix-table-col-forms">Seat Number</td>
        <td>{{form.seat_number}}</td>
      </tr>

    <tr>
        <td class="allif-fix-table-col-forms">Price</td>
        <td>{{form.price}}</td>
      </tr>
        <tr>
          <td class="allif-fix-table-col-forms">Tax Amount</td>
          <td>{{form.tax_amount}}</td>
        </tr>
          <tr>
            <td class="allif-fix-table-col-forms">Total Amount</td>
            <td>{{form.total_amount}}</td>
          </tr>

    
     <tr>
      <td class="allif-fix-table-col-forms">Passport</td>
      <td>{{form.passport}}</td>
    </tr>

    
    {%endblock%}
     {% block bottom-fields-col-one %}
      <tr>
        <td class="allif-fix-table-col-forms">Flight</td>
        <td>{{form.flight}}</td>
      </tr>
      {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'flightTickets' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.deleteFlightTicketConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}

    
{% block item_details_related_items_full_table %}
  <div class="allif-full-table-content-main-wrapper">
      {% include 'allifmaalcommonapp/includes/tables/full-table-header-upper-section.html' %}

      {% block list-table-headers %}
        <td class="allif-fix-table-col"> Item</td>
        <td class="allif-fix-table-col"> Quantity</td>
        <td class="allif-table-header-td"> Origin</td>
        <td class="allif-table-header-td"> Destination </td>
        <td class="allif-table-header-td"> Status</td>
         {% endblock %}
        <td class="allif-table-header-td">Navigate</td>
      {% include 'allifmaalcommonapp/includes/tables/full-table-header-lower-section.html' %}
      
      {% for item in allifqueryset %}  
        <tr data-id="{{item.id}}" class="allif-table-header-content-row">
        {% block list-table-content-seciton %}
        <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}
          <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonShipmentItemDetails' item.id user_var glblslug %}"> {{item.items}} </a>{%endblock%}</td>
        <td class="allif-table-content-td"> {{item.quantity}} </td>
        <td class="allif-table-content-td"> {{item.origin}}</td>
         <td class="allif-table-content-td"> {{item.destination}}</td>
        <td class="allif-table-content-td"> <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonEditShipmentItem' item.id user_var glblslug %}">{{item.shipment_status}} </a></td>
        {% endblock %}
        <td class="allif-table-content-td">
           
        {% include 'allifmaalcommonapp/includes/tables/full-table-dropdown-upper-section.html' %}

        {% block list-table-content-seciton-dropdown-links %}
        <a href="" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
        {% endblock %}

        {% include 'allifmaalcommonapp/includes/tables/full-table-lower-section.html' %}
        </td>
    </tr>
      {% endfor %}
    {% include 'allifmaalcommonapp/includes/tables/full-table-last-section.html' %}

      </div>
{%endblock%}

