{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}

 {% block add-form-header-block %}

 <a href="{% allif_get_single_nav_link_url 'Jobs' user_var glblslug %}">Jobs</a>
 <a href="{{ allif_contextual_action_links.AddJobDetails.url }}">Job Details</a>
  <a href="{{ allif_contextual_action_links.InvoiceJob.url }}"> Invoice Job</a>
  <a href="{{ allif_contextual_action_links.AddJobItems.url }}">Job Items</a>
<a href="{{ allif_contextual_action_links.JobInvoicePdf.url }}">Download</a>
<a href="{{ allif_contextual_action_links.JobTransactionPdf.url }}">Job Transaction</a>

{% endblock %}

   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
   
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Customer</td>
      <td>{{form.customer}}</td>
    </tr>
   
    {%endblock%}

     {% block standard-tab-col-one %}
     <tr>
        <td class="allif-fix-table-col-forms">Description</td>
        <td>{{form.description}}</td>
      </tr>
    {%endblock%}
       
   {% block standard-tab-col-two %}
      
    <tr>
      <td class="allif-fix-table-col-forms">Payment Terms</td>
      <td>{{form.payment_terms}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Currency</td>
      <td>{{form.currency}}</td>
    </tr>
       
       
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Jobs' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteJobConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}
