

{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<style>
  .confirm-delete-dropdown {
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
  }

  .dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }

  .show {
    display: block;
  }

  .confirm-delete {
    background-color: #ffcccc; /* Red background for confirmation */
  }
  #allif-confirm-delete{
    color: red;
  }
</style>
<!--start....main headere-->
<div class="card-header">

  <div class="row mt-12" ><!--start....header row-->
  
  <div class="col-md-12"><!--start....header column-->
  
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">{{title}}:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
  
  
  <a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a>
  <a href="{% url 'allifmaaladminapp:adminappHome' user_var glblslug %}"> Admin Home</a>
  <a href="{% url 'allifmaalcommonapp:commonCompanies' user_var glblslug %}">Companies </a>

<a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Sectors </a>

  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Accounts
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonGeneralLedgers' user_var glblslug %}">GL Accounts</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonChartofAccounts' user_var glblslug %}">Chart of A/Cs</a></li>
      
      </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}" >Suppliers</a>
  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Banks
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonBanks' user_var glblslug %}">Banks</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonBankShareholderDeposits' user_var glblslug %}">Deposits</a>
        </li>
      <li><a href="{% url 'allifmaalcommonapp:commonBankWithdrawals' user_var glblslug %}">Withdrawals</a></li>
      </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonDepartments' user_var glblslug %}">Departments</a>
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->
      


<div class="allifmaincontainer">

 
  <div class="row mt-12"> <!--start....table row-->
    

  <div class="col-md-12"> <!--start....table column-->
    <div class="allif-scroll-table">
      <div class="table-responsive allif-full-table">
      <table class="table table-layout">
        <thead>
          <tr class="allif-table-header-row">
          <td class="allif-fix-table-col">Sector Name</td>
          <td>Sector Notes</td>
          <td>Created By</td>
          <td>Date</td>
         
          <td>Actions</td>
          
          <td> . . . </td>
          <td></td>
          </tr>
          </thead>
          <tbody class="allif-table-body">
          
          
          {% for item in allifqueryset %} 
          <tr data-id="{{item.id}}">
          <td class="allif-fix-table-col"><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonSectorDetails' item.id user_var glblslug %}">{{item.name}}</a></td>
          <td>{{item.notes}}</td>
          <td>{{item.owner}}</td>
          <td>{{item.date|date:'d/m/Y'}}</td>
         
          <td>
            <div class="dropdown allifmaal-content-dropdown">
              <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Actions</a>
              <div class="dropdown-content">
                <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete</a>
                <a href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Sectors</a>
              </div>
            </div>
            <div class="dropdown confirm-delete-dropdown">
              <a href="{% url 'allifmaalcommonapp:commonDeleteDocsFormat' item.id %}" id="allif-confirm-delete">Confirm</a>
            </div>




          </td>
         
         <td> . . . </td>
         <td></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
     </div>

    

  
  
  </div><!--end....table column-->
</div><!--end....table row-->

<div class="allif-form-container">
  <div class="table-content-description"> Add New Document Format </div>
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <tbody class="allif-table-body">
      <tr>
        <form method='POST' action=''>{% csrf_token %}
        <td>{{form.name}}</td>
        <td>{{form.notes}}</td>
         <td><input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
        </form>
      </tr>
      </tbody>
    </table>
    </div>
   </div>
    </div><!--end of row div --->

<br>
<!--end of table-->






</div><!--end of main container of the page-->
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   