{% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
{% load allif_navigation_tags %}
{% block allif_header_forms_dropdown%}
{% endblock %}

{% block allif-header-links %}
<a href="{% allif_get_single_nav_link_url 'MeasuringUnits' user_var glblslug %}">Measuring Units</a>
<a href="{% allif_get_single_nav_link_url 'AddUnit' user_var glblslug %}">New Unit</a>
{% endblock %}
{% block list-table-content-seciton %}
<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonEditUnit' item.id user_var glblslug %}"> {{item.name}}</a>
{% endblock %}
{% block list-table-content-seciton-dropdown-links %}
<a href="{% url 'allifmaalcommonapp:commonEditUnit' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
{% endblock %}
  