
<div>
    <nav class="navbar navbar-expand-lg navbar-light allifmaal-top-nav-bar">
    
    <!--start......side nav bar section....-->
    <div class="allifmaal-side-nav-bar container-fluid" >
      
    <a class="side-nav-dropdown-btn nav-link dropdown-toggle navbar-brand" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
      {% if main_sbscrbr_entity != '' %}
      {{main_sbscrbr_entity|truncatewords:1}}
      {% else %}
      Menu
      {% endif %}
      
      
    </a>
        
    <ul class="dropdown-menu allifmaal-side-nav-dropdown">
      <div class="amrullah-side-navbar">
        
        <li><a class="dropdown-item" href="{% url 'allifmaaladminapp:adminappHome' user_var glblslug %}">Allifmaal</a></li>


        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSectors' user_var glblslug %}">Sectors</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaaladminapp:adminappUsers' user_var glblslug %}">Users</a></li>
        
       
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDocsFormat' user_var glblslug %}">Doc Formats</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDataSorts' user_var glblslug %}">Data Filters</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCompanies' user_var glblslug %}">Companies</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCompanyDetailsForClients' user_var glblslug %}">Settings</a></li>
        
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDivisions' user_var glblslug %}">Divisions</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonBranches' user_var glblslug %}">Branches</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDepartments' user_var glblslug %}">Departments</a></li>
      
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddCompanyScope' user_var glblslug %}" >Scopes</a></li>
        
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonEmailsAndSMS' user_var glblslug %}">Comms</a></li>
        <li><a  class="dropdown-item" href="{% url 'allifmaalcommonapp:commonStaffProfiles' user_var glblslug %}">Profiles</a></li>
        <li><a  class="dropdown-item" href="{% url 'allifmaalcommonapp:commonGeneralLedgers' user_var glblslug %}">GL A/Cs</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonChartofAccounts' user_var glblslug %}">Chart of A/Cs</a></li>
        <li><a class="dropdown-item"href="{% url 'allifmaalcommonapp:ui1' user_var glblslug %}">UIs</a></li>
        
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonEmailsAndSMS' user_var glblslug %}">Comms</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonBanks' user_var glblslug %}">Banks</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonBankShareholderDeposits' user_var glblslug %}">Deposits</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonBankWithdrawals' user_var glblslug %}">Withdrawals</a></li>
       
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}">Suppliers</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaaladminapp:adminCustomerContacts' user_var glblslug %}">Contacts</a></li>
        
        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonScrollableTable' user_var glblslug %}">Table</a></li>
        <li><a class="dropdown-item" href="{% url 'allifmaalusersapp:userLogoutPage' %}">Logout</a></li>

        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonTasks' user_var glblslug %}">Tasks</a></li>

        <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:link_list' %}">Links</a></li>
        
        <li><a class="dropdown-item"href="{% url 'allifmaalcommonapp:ui1' user_var glblslug %}">UIs</a></li>
        <div class="btn-group">
          <button class="side-nav-dropdown-btn dropdown-toggle " type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
          Sales
          </button>
          <ul class="dropdown-menu">
            <div class="side-navbar-dropdown-menu">
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">last</a></li>
            </div>
          </ul>
        </div>
        <li><a class="dropdown-item" href="#">Customers</a></li>
    
    
        <div class="btn-group">
          <button class="side-nav-dropdown-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Engineering
          </button>
          <ul class="dropdown-menu">
            <div class="side-navbar-dropdown-menu">
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            </div>
          </ul>
        </div>
    
        <li><a class="dropdown-item" href="#">Menu item</a></li>
    
    
      <div class="btn-group">
        <button class="side-nav-dropdown-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
          Customers
        </button>
        <ul class="dropdown-menu">
          <div class="side-navbar-dropdown-menu">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          </div>
          
        </ul>
      </div>
      <li><a class="dropdown-item" href="#">Insurances</a></li>
      <li><a class="dropdown-item" href="#">Stock</a></li>
    
    
    <li><a class="dropdown-item" href="#">Customers</a></li>
    
    
        <div class="btn-group">
          <button class="side-nav-dropdown-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            Engineering
          </button>
          <ul class="dropdown-menu">
            <div class="side-navbar-dropdown-menu">
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            </div>
          </ul>
        </div>
        <li><a class="dropdown-item" href="#">Menu item</a></li>
    
        </div>
      
          </ul>
        </div>
          <!--end......side nav bar section....-->
    
    
    <!--start of top nav bar section-->
    <div class="container-fluid">
      <a class="nav-link" href="#">Home</a>
      <!--button below is very important and shows the hidden links when the screen is small-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Invoices</a>
          </li>
          
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="side-navbar-dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            
            </div>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sales
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
           
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </ul>
    
        </li>
            
        <li>
          <a class="nav-link" href="">Common</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'allifmaaladminapp:adminappUsers' user_var glblslug %}">Users</a>
        </li>
        
        <li>
          <a class="nav-link" href="{% url 'allifmaalcommonapp:commonExpenses' user_var glblslug %}">Expenses</a>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>

          </ul>
        </li>
    
        <li>
          <a class="nav-link" href="#">Engineering</a>
        </li>
        
      </ul>
        </div>
      </div>
    
    </nav>
    </div>