       <div>
          <label>Start Date</label>
          <input type="date" class="form-control" name="startdate" placeholder="Starting Balance">
        </div>
        <div>
          <label>End Date</label>
          <input type="date" class="form-control" name="enddate" placeholder="Ending Balance">
        </div>

        <div>
          <label>Start Value</label>
          <input type="text" class="form-control" name="startvalue" placeholder="">
        </div>
        <div>
          <label>End Value</label>
          <input type="text" class="form-control" name="endvalue" placeholder="">
        </div>
        
        
        <div>
          <label >Select Option</label>
          <select name="requiredformat" class="form-control">
            {% for item in formats %}
            <option>{{item.name}}</option>
            
         {% endfor %}
         
        </select>
        </div>
  
        
        <button type="submit" class="btn allifmaal-submit-btn">Submit</button>
    
    </form>
    <hr>
      
      </div>
      </ul>
    </div>

    <a class="amel-table-list-identifier">{{title}}:</a>
   
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>