{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}

 {% block add-form-header-block %}

<a href="{% allif_get_single_nav_link_url 'flights' user_var glblslug %}">Flights</a>
<a href="{{ allif_contextual_action_links.addFlightDetails.url }}">Flight Details</a>
<a href="{{ allif_contextual_action_links.flightpdf.url }}">Download Flight Details</a>
  
{% endblock %}

   {% block core-tab-col-one %}
   
       <tr>
        <td class="allif-fix-table-col-forms">Airline</td>
        <td>{{form.carrier}}</td>
      </tr>
   <tr>
      <td class="allif-fix-table-col-forms">Origin</td>
      <td>{{form.origin}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Destination</td>
      <td>{{form.destination}}</td>
    </tr>


    {%endblock%}

    {% block core-tab-col-two %}
    
       <tr>
        <td class="allif-fix-table-col-forms">Departure</td>
        <td>{{form.departure}}</td>
      </tr>
       <tr>
        <td class="allif-fix-table-col-forms">Arival</td>
        <td>{{form.arrival}}</td>
      </tr>

       <tr>
          <td class="allif-fix-table-col-forms">Flight Status</td>
          <td>{{form.flight_status}}</td>
        </tr>

     
    
      
    {%endblock%}

     {% block standard-tab-col-one %}

      <tr>
        <td class="allif-fix-table-col-forms">Ticket Price</td>
        <td>{{form.ticket_price}}</td>
      </tr>
       <tr>
        <td class="allif-fix-table-col-forms">Tax Amount</td>
        <td>{{form.tax_amount}}</td>
      </tr>
       
        
    <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
     <tr>
        <td class="allif-fix-table-col-forms">Description</td>
        <td>{{form.description}}</td>
      </tr>
 <tr>
        <td class="allif-fix-table-col-forms">Transit</td>
        <td>{{form.transit}}</td>
      </tr>

    
    
    {%endblock%}
       
   {% block standard-tab-col-two %}
      <tr>
          <td class="allif-fix-table-col-forms">Flight Capacity</td>
          <td>{{form.flight_capacity}}</td>
        </tr>
         <tr>
          <td class="allif-fix-table-col-forms">Seats Available</td>
          <td>{{form.seats_available}}</td> 
        </tr>
         <tr>
          <td class="allif-fix-table-col-forms">Seats Booked</td>
          <td>{{form.seats_booked}}</td>  
        </tr>
         <tr>
          <td class="allif-fix-table-col-forms">Via</td>
          <td>{{form.via}}</td>  
        </tr>
        
      
       <tr>
          <td class="allif-fix-table-col-forms">Captain</td>
          <td>{{form.captain}}</td>
        </tr>
         <tr>
          <td class="allif-fix-table-col-forms">Co-Pilot</td>
          <td>{{form.co_pilot}}</td> 
        </tr>

    
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'flights' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.deleteFlightConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}
