{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Divisions:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaalcommonapp:commonAddDivision' user_var glblslug %}">Add Divison</a>
    <a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a>
    <a href="{% url 'allifmaalcommonapp:commonSuppliers' user_var glblslug %}">Suppliers</a>
  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Modules
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCustomers' user_var glblslug %}">Customers</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">Employees</a></li>
    </div>
    </ul>
  </div>
  <a href="{% url 'allifmaalcommonapp:commonDivisions' user_var glblslug %}">Divisions</a>
  
  </div>
  
    </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->
 
<div class="allifmaincontainer">
  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"> <!--start....table column-->
    <div class="allif-scroll-table table-responsive">

      <table class="table table-layout allifmaal-full-table">
        <thead>
          <tr class="allif-table-header-row">
          <td class="allif-fix-table-col">Division Name</td>
          <td>Compnay Sector</td>
          <td>Company Owner</td>
          <td>Company Email Address</td>
          <td>Compnay Sector</td>
          <td>Company Owner</td>
          <td>Company Email Address</td>
          
          </tr>
          </thead>
          <tbody class="allif-table-body">
              
          {% for item in allifqueryset %}
          <tr>
            <td class="allif-fix-table-col">
              <a href="{% url 'allifmaalcommonapp:commonDivisionDetails' item.id user_var glblslug %}" class="allif-table-links">
             {{item.division}}
              </a>
            </td>
           
            <td>
              {{item.company.sector}}fsdfsfsdfs kjwlkjekjrewrlewj lkjl
            </td>
            <td>{{item.owner}}fjlsdjfljlskfj jsfjdslkfjds lsjkljfklsdjfsk lksjfl</td>
            
            <td>{{item.email}}ljkllkfjds jslkfjlkdsjfklsj lsjj</td>
         
            <td>
              {{item.company.sector}}fsdfsfsdfs kjwlkjekjrewrlewj lkjl
            </td>
            <td>{{item.owner}}fjlsdjfljlskfj jsfjdslkfjds lsjkljfklsdjfsk lksjfl</td>
            
            <td>{{item.email}}ljkllkfjds jslkfjlkdsjfklsj lsjj</td>
        
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
     
  
  </div><!--end....table column-->

</div><!--end....table row-->

<!--end of table-->

</div><!--end of main container of the page....-->

  
  {% block scripts %}
 
  {% endblock %}
  
   {% endblock %}
   1. |floatformat:2|intcomma
2. |date:'d/m/Y'
