{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
 
<!--start....main headere-->
<div class="card-header">

<div class="row mt-12" ><!--start....header row-->

<div class="col-md-12"><!--start....header column-->

<div class="container-fluid amel-content-header">

  <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
  <a href="{% url 'allifmaalcommonapp:commonBanks' user_var glblslug %}">Banks</a>
  <a href="{% url 'allifmaalcommonapp:commonAddBank' user_var glblslug %}">New Bank</a>
   
    
  <a href="{% url 'allifmaalcommonapp:commonBankShareholderDeposits' user_var glblslug %}">Deposits</a>
  <a href="{% url 'allifmaalcommonapp:commonBankWithdrawals' user_var glblslug %}">Withdrawals</a>
  

</div>

    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->


  <div class="allifmaincontainer">
{% if allifquery_update %}
<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description">Edit New Bank</div>
  <form method='POST' action=''>{% csrf_token %}
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
    
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>

      <tr>
        <td class="allif-fix-table-col">Division</td>
        <td>{{form.division}}</td>
    
        </tr>
        
        <tr>
          <td class="allif-fix-table-col">Branch</td>
          <td>{{form.branch}}</td>
      
          </tr>
          <tr>
            <td class="allif-fix-table-col">Department</td>
            <td>{{form.department}}</td>
        
            </tr>
            <tr>
              <td class="allif-fix-table-col">Name</td>
              <td>{{form.name}}</td>
          
              </tr>
           
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
        
         
              <tr>
                <td class="allif-fix-table-col">Account</td>
                <td>{{form.account}}</td>
            
                </tr>
            <tr>
              <td class="allif-fix-table-col">Deposit</td>
              <td>{{form.deposit}}</td>
          
              </tr>
              <tr>
                <td class="allif-fix-table-col">Balance</td>
                <td>{{form.balance}}</td>
            
                </tr>
          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
         
            <tr>
              <td class="allif-fix-table-col">Withdrawal</td>
              <td>{{form.withdrawal}}</td>
          
              </tr>
              <tr>
                <td class="allif-fix-table-col">Comments</td>
                <td>{{form.comments}}</td>
            
                </tr>
            <tr>
              <td class="allif-fix-table-col">Action</td>
              <td> <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
          
              </tr>
          </tbody>
          </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>
</form>
<!--end of table-->

</div><!--end of main container of the page....-->
{% else %}
<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description">Add New Bank</div>
  <form method='POST' action=''>{% csrf_token %}
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
    
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>
      <tr>
        <td class="allif-fix-table-col">Name</td>
        <td>{{form.name}}</td>
    
        </tr>
        <tr>
          <td class="allif-fix-table-col">Account</td>
          <td>{{form.account}}</td>
      
          </tr>
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
        
        <tr>
          <td class="allif-fix-table-col">Deposit</td>
          <td>{{form.deposit}}</td>
      
          </tr>
          <tr>
            <td class="allif-fix-table-col">Balance</td>
            <td>{{form.balance}}</td>
        
            </tr>
          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
         
            <tr>
              <td class="allif-fix-table-col">Withdrawal</td>
              <td>{{form.withdrawal}}</td>
          
              </tr>
              <tr>
                <td class="allif-fix-table-col">Comments</td>
                <td>{{form.comments}}</td>
            
                </tr>
            <tr>
              <td class="allif-fix-table-col">Action</td>
              <td> <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
          
              </tr>
          </tbody>
          </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>
</form>
<!--end of table-->

</div><!--end of main container of the page....-->
{% endif %}



</div>

</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
