{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  {% include 'allifmaalcommonapp/banks/banks-header.html' %}
  {% endblock %}
   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Account</td>
      <td>{{form.account}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Balance</td>
      <td>{{form.balance}}</td>
    </tr>
    
    {%endblock%}

      {% block core-tab-col-two %}
    <tr>
      <td class="allif-fix-table-col-forms">Description</td>
      <td>{{form.description}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Deposit</td>
      <td>{{form.deposit}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Withdrawal</td>
      <td>{{form.withdrawal}}</td>
    </tr>
  
    {%endblock%}
  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Banks' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.wanttodeletebank.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}
