{% load allif_navigation_tags %}
<a href="{% allif_get_single_nav_link_url 'Banks' user_var glblslug %}">Banks</a>
<a href="{% allif_get_single_nav_link_url 'AddBank' user_var glblslug %}">Add Bank</a>
<a href="{% allif_get_single_nav_link_url 'Deposits' user_var glblslug %}">Deposits</a>
<a href="{% allif_get_single_nav_link_url 'AddDeposits' user_var glblslug %}">Add Deposit</a>
<a href="{% allif_get_single_nav_link_url 'Withdrawals' user_var glblslug %}">Withdrawals</a>
<a href="{% allif_get_single_nav_link_url 'AddWithdrawals' user_var glblslug %}"> Add Withdrawal</a>
