{% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
{% load allif_navigation_tags %}
{% load humanize %}
{% block allif-basic-search-action %}
{% url 'allifmaalcommonapp:commonBankSearch' user_var glblslug %}
{% endblock %}
{% block advanced-search %}{%endblock%}
{% block upload-excel-file %}{%endblock%}
{% block allif-header-links %}
 {% include 'allifmaalcommonapp/banks/banks-header.html' %}
{% endblock %}
{% block list-table-headers %}
<td class="allif-fix-table-col"> Bank </td>
<td class="allif-table-header-td"> Account</td>
<td class="allif-table-header-td"> Deposit </td>
<td class="allif-table-header-td"> Withdrawal</td>
<td class="allif-table-header-td">Balance </td>
{% endblock %}
{% block list-table-content-seciton %}
<td class="allif-fix-table-col">
   <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonBankDetails' item.id user_var glblslug %}"> {{item.name}} </a>
</td>
<td class="allif-table-content-td"> {{item.account}} </td>
<td class="allif-table-content-td"> {{item.deposit|floatformat:2|intcomma}}</td>
<td class="allif-table-content-td"> {{item.withdrawal|floatformat:2|intcomma}}</td>
<td class="allif-table-content-td">{{item.balance|floatformat:2|intcomma}}</td>
{% endblock %}

{% block list-table-content-seciton-dropdown-links %}
<a href="{% url 'allifmaalcommonapp:commonEditBank' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Bank</a>
<a href="{% url 'allifmaalcommonapp:commonBankDetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Bank Details</a>

{% endblock %}
 

