{% extends 'allifmaalcommonapp/ui/general/delete-confirm.html'%}
{% load allif_navigation_tags %}
 <a href="{% allif_get_single_nav_link_url 'MeasuringUnits' user_var glblslug %}">Measuring Units</a>
  <a href="{% allif_get_single_nav_link_url 'AddUnit' user_var glblslug %}">New Unit</a>
{% block delete-action-decline %}
<a class="amel-table-list-identifier" href="{% url 'allifmaalcommonapp:commonTransactions' user_var glblslug %}">No, Dont Delete {{allifquery}}</a>
{% endblock %}

{% block delete-action-confirm %}
<a class="amel-table-list-identifier body-delete-link" href="{% url 'allifmaalcommonapp:commonDeleteProgress' allifquery.id user_var glblslug %}"> Yes, Delete {{allifquery}}</a>
{% endblock %}
     