{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Expenses' user_var glblslug %}">Expenses</a>
  <a href="{% allif_get_single_nav_link_url 'AddExpense' user_var glblslug %}">Add New Expense</a>
  {% endblock %}
   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Supplier Name</td>
      <td>{{form.name}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Description</td>
      <td>{{form.description}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Supplier</td>
      <td>{{form.supplier}}</td>
    </tr>
    
    
        
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Amount</td>
      <td>{{form.amount}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Expense A/C</td>
      <td>{{form.expense_account}}</td>
    </tr>
   
   
    {%endblock%}

     {% block standard-tab-col-one %}
    
  
    {%endblock%}
       
   {% block standard-tab-col-two %}
 
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Expenses' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteExpenseConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}



