  {% extends 'allifmaalcommonapp/ui/details/item-details.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Expenses' user_var glblslug %}">Expenses</a>
  <a href="{% allif_get_single_nav_link_url 'AddExpense' user_var glblslug %}">Add New Expense</a>
  {%endblock%}

  {% block details-table-col-one %}
    <tr>
      <td class="allif-fix-table-col">Name</td>
      <td>{{allifquery.name}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col">Description</td>
      <td>{{allifquery.description}}</td>
    </tr>
   
  {%endblock%}

  {% block details-table-col-two %}
   <tr>
    <td class="allif-fix-table-col">Supplier</td>
    <td>{{allifquery.supplier}}</td>
  </tr>
  
   <tr>
    <td class="allif-fix-table-col">Amount</td>
    <td>{{allifquery.amount|floatformat:2|intcomma}}</td>
  </tr>
  
  {% endblock %}
  
  {% block core-details-tab-col-one %}
  <tr>
    <td class="allif-fix-table-col">Expense A/C</td>
    <td>{{allifquery.expense_account}}</td>
  </tr>
  
  {%endblock%}

  {% block core-details-tab-col-two %}
 
  <tr>
    <td class="allif-fix-table-col">Date</td>
    <td>{{allifquery.date|date:'d/m/Y'}}</td>
  </tr>

  {% endblock %}

  {% block allif_sensitive_section_col_one %}
   <tr>
      <td class="allif-fix-table-col">{{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% url 'allifmaalcommonapp:commonPostExpense' allifquery.id user_var glblslug %}">Post Expense</a></td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col">{{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Expenses' user_var glblslug %}">Go Back</a></td>
    </tr>
    
  {%endblock%}

  {% block general-details-tab-col-two %}
  <tr>
    <td class="allif-fix-table-col">Description</td>
    <td>{{allifquery.description}}</td>
  </tr>
  {% endblock %}
  
  {% block allif_sensitive_section_col_two %}
  <tr>
    <td class="allif-fix-table-col">Delet {{allifquery}}</td>
    <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteExpenseConfirm.url }}">Delete {{allifquery}}</a></td>
  </tr>
  {%endblock%}

  {% block item_details_related_items_full_table %} {%endblock%}
  {% block item_details_related_items_full_half_tables %}{%endblock%}

 