  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonExpenseSearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonExpenseAdvancedSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}
  <a href="{% allif_get_single_nav_link_url 'Expenses' user_var glblslug %}">Expenses</a>
  <a href="{% allif_get_single_nav_link_url 'AddExpense' user_var glblslug %}">Add New Expense</a>
  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col"> Name</td>
  <td class="allif-table-header-td"> Description</td>
  <td class="allif-table-header-td"> amount</td>
 
  <td class="allif-table-header-td">Date </td>
  {% endblock %}

    
  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonExpenseDetails' item.id user_var glblslug %}"> {{item.name}} </a>{%endblock%}</td>
  <td class="allif-table-content-td"> {{item.description}} </td>
  <td class="allif-table-content-td"> {{item.amount}}</td>
 
  <td class="allif-table-content-td"> {{item.date|date:'d/m/Y'}}</td>

  
  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonEditExpense' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
  
  
  {% endblock %}
  






