{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  
<a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
<a href="{% url 'allifmaalcommonapp:commonAddStaffProfile' user_var glblslug %}">Add Profile</a>

<a href="{% url 'allifmaalcommonapp:commonStaffProfiles' user_var glblslug %}">Profiles</a>

<a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">Staff</a>

  {% endblock %}
   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">First Name</td>
      <td>{{form.first_name}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Last Name</td>
      <td>{{form.last_name}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">User Category</td>
      <td>{{form.user_category}}</td>
    </tr>

     
    {%endblock%}

      {% block core-tab-col-two %}
    
   
     <tr>
      <td class="allif-fix-table-col-forms">Division</td>
      <td>{{form.division}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Branch</td>
      <td>{{form.branch}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Department</td>
      <td>{{form.department}}</td>
    </tr>

    <tr>
      <td class="allif-fix-table-col-forms">Operation Year</td>
      <td>{{form.operation_year}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Operation Term</td>
      <td>{{form.operation_term}}</td>
    </tr>

   
    {%endblock%}
    {% block bottom-fields-col-one %}
     <tr>
      <td class="allif-fix-table-col-forms">Email</td>
      <td>{{form.email}}</td>
    </tr>
    {%endblock%}
    {% block bottom-fields-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Username</td>
      <td>{{form.username}}</td>
    </tr>
    {%endblock%}

    {% block static-form-fields %} {%endblock%}
  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Banks' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.wanttodeletebank.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}

