{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Spaces' user_var glblslug %}">Spaces</a>
 <a href="{% allif_get_single_nav_link_url 'SpaceUnits' user_var glblslug %}">Space Units</a>
<a href="{% allif_get_single_nav_link_url 'AddSpaceUnit' user_var glblslug %}">New Space Unit</a>
  {% endblock %}
   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Space Name</td>
      <td>{{form.name}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Description</td>
      <td>{{form.description}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Amenities</td>
      <td>{{form.amenities}}</td>
    </tr>
   
    {%endblock%}

    {% block core-tab-col-two %}
   
     <tr>
      <td class="allif-fix-table-col-forms">Base Price/Night</td>
      <td>{{form.base_price_per_night}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Capacity</td>
      <td>{{form.capacity}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Monthly Rent</td>
      <td>{{form.monthly_rent}}</td>
    </tr>
    
   
    {%endblock%}

     {% block standard-tab-col-one %}
     
    <tr>
      <td class="allif-fix-table-col-forms">Max. Occupancy</td>
      <td>{{form.max_occupancy}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Unit Cost</td>
      <td>{{form.unitcost}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Unit Price</td>
      <td>{{form.unitprice}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Current Status</td>
      <td>{{form.current_status}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Customer</td>
      <td>{{form.customer}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Staff in Charge</td>
      <td>{{form.emplyee_in_charge}}</td>
    </tr>


    <tr>
      <td class="allif-fix-table-col-forms">Main Space</td>
      <td>{{form.space}}</td>
    </tr>
    
    {%endblock%}
       
   {% block standard-tab-col-two %}
   <tr>
      <td class="allif-fix-table-col-forms">Area SQM</td>
      <td>{{form.area_sqm}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Rooms</td>
      <td>{{form.rooms}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">No. of WashRooms</td>
      <td>{{form.washrooms}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Space Floor</td>
      <td>{{form.space_floor}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Space Type</td>
      <td>{{form.space_type}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Unit Type</td>
      <td>{{form.unit_type}}</td>
    </tr>
   
  
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'SpaceUnits' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteSpaceUnitConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}
