  {% extends 'allifmaalcommonapp/ui/details/item-details.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Spaces' user_var glblslug %}">Spaces</a>
 <a href="{% allif_get_single_nav_link_url 'SpaceUnits' user_var glblslug %}">Space Units</a>
<a href="{% allif_get_single_nav_link_url 'AddSpaceUnit' user_var glblslug %}">New Space Unit</a>
  {%endblock%}

  {% block details-table-col-one %}
    <tr>
      <td class="allif-fix-table-col">Name</td>
      <td>{{allifquery.name}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col">Main Building</td>
      <td>{{allifquery.space}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Description</td>
      <td>{{allifquery.description}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Employee in Charge</td>
      <td>{{allifquery.emplyee_in_charge}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Number</td>
      <td>{{allifquery.number}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col">Code</td>
      <td>{{allifquery.code}}</td>
    </tr>
    
  {%endblock%}

  {% block details-table-col-two %}
  <tr>
      <td class="allif-fix-table-col">Unit Cost</td>
      <td>{{allifquery.unitcost}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Unit Price</td>
      <td>{{allifquery.unitprice}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Unit Type</td>
      <td>{{allifquery.unit_type}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Capacity</td>
      <td>{{allifquery.capacity}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Area SQM</td>
      <td>{{allifquery.area_sqm}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">#Rooms</td>
      <td>{{allifquery.rooms}}</td>
    </tr>
     
  {% endblock %}
  
  {% block core-details-tab-col-one %}
 <tr>
      <td class="allif-fix-table-col">Per Night Price</td>
      <td>{{allifquery.base_price_per_night|floatformat:2|intcomma}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Max Occupancy</td>
      <td>{{allifquery.max_occupancy}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Number</td>
      <td>{{allifquery.monthly_rent}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Amenities</td>
      <td>{{allifquery.amenities}}</td>
    </tr>
    
  {%endblock%}

  {% block core-details-tab-col-two %}
  <tr>
      <td class="allif-fix-table-col">Space Floor</td>
      <td>{{allifquery.space_floor}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Space Type</td>
      <td>{{allifquery.space_type}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Current Status</td>
      <td>{{allifquery.current_status}}</td>
    </tr>
    
  <tr>
    <td class="allif-fix-table-col">Balance</td>
    <td>{{allifquery.balance|floatformat:2|intcomma}}</td>
  </tr>
  {% endblock %}

  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col">{{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'SpaceUnits' user_var glblslug %}">Go Back</a></td>
    </tr>
  {%endblock%}

  {% block general-details-tab-col-two %}
  <tr>
    <td class="allif-fix-table-col">Description</td>
    <td>{{allifquery.description}}</td>
  </tr>
  {% endblock %}
  
  {% block allif_sensitive_section_col_two %}
  <tr>
    <td class="allif-fix-table-col">Delet {{allifquery}}</td>
    <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteSpaceUnitConfirm.url }}">Delete {{allifquery}}</a></td>
  </tr>
  {%endblock%}

{% block item_details_related_items_full_half_tables %}
{%endblock%}




