{% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
{% load allif_navigation_tags %}
{% load humanize %}
{% block allif-basic-search-action %}
{% url 'allifmaalcommonapp:commonSpaceUnitSearch' user_var glblslug %}
{% endblock %}
{% block advanced-search %}{%endblock%}
{% block upload-excel-file %}{%endblock%}
{% block allif-header-links %}
 <a href="{% allif_get_single_nav_link_url 'Spaces' user_var glblslug %}">Spaces</a>
 <a href="{% allif_get_single_nav_link_url 'SpaceUnits' user_var glblslug %}">Space Units</a>
<a href="{% allif_get_single_nav_link_url 'AddSpaceUnit' user_var glblslug %}">New Space Unit</a>
{% endblock %}
{% block list-table-headers %}
<td class="allif-fix-table-col"> Unit Name </td>
<td class="allif-table-header-td"> Property</td>
<td class="allif-table-header-td"> Tenant </td>
<td class="allif-table-header-td"> Status</td>

{% endblock %}
{% block list-table-content-seciton %}
<td class="allif-fix-table-col">
   <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonSpaceUnitDetails' item.id user_var glblslug %}"> {{item.name}} </a>
</td>
<td class="allif-table-content-td"> {{item.space}} </td>
<td class="allif-table-content-td"> {{item.customer}}</td>
<td class="allif-table-content-td"> {{item.current_status}}</td>

{% endblock %}

{% block list-table-content-seciton-dropdown-links %}
<a href="{% url 'allifmaalcommonapp:commonEditSpaceUnit' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
<a href="{% url 'allifmaalcommonapp:commonSpaceUnitDetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>

{% endblock %}
 

