{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'MedicalAssessments' user_var glblslug %}">Assessments</a>
 
  {% endblock %}
  {% block details-table-col-one %}
   <tr>
    <td class="allif-fix-table-col">Patient</td>
    <td>{{allifquery.medical_file.customer}}</td>
  </tr>
  {%endblock%}
   {% block details-table-col-two %}
    <tr>
    <td class="allif-fix-table-col">File UID</td>
    <td>{{allifquery.medical_file.number}}</td>
  </tr>
  {%endblock%}
   {% block core-tab-col-one %}
    
     <tr>
      <td class="allif-fix-table-col-forms">Systolic Pressure</td>
      <td>{{form.blood_pressure_systolic}}</td>
    </tr>
    
      <tr>
      <td class="allif-fix-table-col-forms">Diastolic Pressure</td>
      <td>{{form.blood_pressure_diastolic}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Temperature</td>
      <td>{{form.temperature}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Respiration Rate</td>
      <td>{{form.respiration_rate}}</td>
    </tr>
   
      <tr>
      <td class="allif-fix-table-col-forms">Oxygen Saturation</td>
      <td>{{form.oxygen_saturation}}</td>
    </tr>
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Complaints</td>
      <td>{{form.complaints}}</td>
    </tr>
     
    {%endblock%}

     {% block standard-tab-col-one %}
    
     <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
     <tr>
        <td class="allif-fix-table-col-forms">Description</td>
        <td>{{form.description}}</td>
      </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Quantity</td>
      <td>{{form.quantity}}</td>
    </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Pulse Rate</td>
      <td>{{form.pulse_rate}}</td>
    </tr>
    
  
     <tr>
      <td class="allif-fix-table-col-forms">Medical History</td>
      <td>{{form.past_medical_history}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Current Medication</td>
      <td>{{form.current_medication}}</td>
    </tr>

    
    {%endblock%}
       
   {% block standard-tab-col-two %}
  
    <tr>
      <td class="allif-fix-table-col-forms">Treatment Plan</td>
      <td>{{form.treatment_plan}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Any Conditions</td>
      <td>{{form.known_chronic_conditions}}</td>
    </tr>
   
     <tr>
      <td class="allif-fix-table-col-forms">Staff</td>
      <td>{{form.staff}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Date</td>
      <td>{{form.record_date}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Balance</td>
      <td>{{form.balance}}</td>
    </tr>
    
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'MedicalAssessments' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteAssessmentConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}
  {% block bottom-fields-col-one %}
  
     <tr>
      <td class="allif-fix-table-col-forms">Weight</td>
      <td>{{form.weight}}</td>
    </tr>
  {%endblock%}
  {% block bottom-fields-col-two %}
  
     <tr>
      <td class="allif-fix-table-col-forms">Height</td>
      <td>{{form.height}}</td>
    </tr>
  {%endblock%}

