{% extends 'allifmaalshaafiapp/base/uimainbase/shaafibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}

<div class="allifmaal-main-container">

<div class="allif-header-main-wrapper">
 <!--... START OF HEADER.... -->
{% include 'allifmaalcommonapp/includes/headers/header-upper-section.html' %}
<a href="{% url 'allifmaalshaafiapp:triageData' user_var glblslug %}">Triage Records</a>
<a href="{% url 'allifmaalshaafiapp:prescriptions' user_var glblslug %}">Prescriptions</a>


{% include 'allifmaalcommonapp/includes/headers/header-lower-section.html' %}
 <!--... ENDT OF HEADER.... -->
</div>
  <div class="allifmaincontainer">

 <!--START.... start of single pages content and its links section-->
<div class="allif-single-page-tabs-contents-main-wrapper" >
 {% include 'allifmaalcommonapp/includes/links/single-page-links.html' %}
    <!--start of singple page contents-->
    <div class="tab-content allif-single-page-tab-content-wrapper" id="allif-single-page-tab-content-wrapper-id">

       <!--START.. Start of show/hide table section one-->
      <div class="tab-pane allif-single-page-tab-content-pane show active" id="allif-single-page-tab-core-details" role="tabpanel" aria-labelledby="allif-single-page-tab-core-details-id">
        <form method='POST' action=''>{% csrf_token %}

        <div class="allif-forms-table-main-wrapper">
        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-one-section.html' %}
     <tr>
        <td class="allif-fix-table-col-forms">Systolic Pressure</td>
        <td>{{form.blood_pressure_systolic}}</td>
    
        </tr>
        <tr>
            <td class="allif-fix-table-col-forms">Diastolic Pressure</td>
            <td>{{form.blood_pressure_diastolic}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col-forms">Temperature</td>
            <td>{{form.temperature}}</td>
        
            </tr>
            
            <tr>
            <td class="allif-fix-table-col-forms">Allergies</td>
            <td>{{form.allergies}}</td>
        
            </tr>
            
      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-section.html' %}
      <tr>
            <td class="allif-fix-table-col-forms">Weight</td>
            <td>{{form.weight}}</td>
        
            </tr>
            
            <tr>
            <td class="allif-fix-table-col-forms">Height</td>
            <td>{{form.height}}</td>
        
            </tr>
            
   <tr>
            <td class="allif-fix-table-col-forms">Complaints</td>
            <td>{{form.complaints}}</td>
        
            </tr>
        
         
      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-last-section.html' %}
      
     
    </div>
  </div>
       <!--END... End of show/hide table more details section one..ok...hree....-->


 <!--START.. Start of show/hide table section one-->
    <div class="tab-pane allif-single-page-tab-content-pane show" id="allif-single-page-tab-standard-details" role="tabpanel" aria-labelledby="allif-single-page-tab-standard-details-id">
      <div class="allif-forms-table-main-wrapper">
      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-one-section.html' %}
     
             <tr>
            <td class="allif-fix-table-col-forms">Chronic Conditions</td>
            <td>{{form.known_chronic_conditions}}</td>
        
            </tr>
          <tr>
            <td class="allif-fix-table-col-forms">Medical History</td>
            <td>{{form.past_medical_history}}</td>
        
            </tr>
  <tr>
            <td class="allif-fix-table-col-forms">Oxygen Saturation</td>
            <td>{{form.oxygen_saturation}}</td>
        
            </tr>
            <tr>
            <td class="allif-fix-table-col-forms">Resipration Rate</td>
            <td>{{form.respiration_rate}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col-forms">Pulse Rate</td>
            <td>{{form.pulse_rate}}</td>
        
            </tr>
           <tr>
            <td class="allif-fix-table-col-forms">Current Medication</td>
            <td>{{form.current_medication}}</td>
        
            </tr>
             
          

      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-section.html' %}

     
        <tr>
        <td class="allif-fix-table-col-forms">Recorded By</td>
        <td>{{form.staff}}</td>
  
      </tr>
          <tr>
          <td class="allif-fix-table-col-forms">Pain Level</td>
          <td>{{form.pain_level}}</td>
        </tr>
          
          <tr>
          <td class="allif-fix-table-col-forms">Triage Level</td>
          <td>{{form.triage_level}}</td>
        </tr>
          <tr>
          <td class="allif-fix-table-col-forms">Arrival Mode</td>
          <td>{{form.mode_of_arrival}}</td>
        </tr>
          <tr>
          <td class="allif-fix-table-col-forms">Mobility</td>
          <td>{{form.mobility_status}}</td>
        </tr>
          <tr>
          <td class="allif-fix-table-col-forms">Mental Status</td>
          <td>{{form.mental_status}}</td>
        </tr>
          <tr>
          <td class="allif-fix-table-col-forms">Triage Disposition</td>
          <td>{{form.triage_disposition}}</td>
        </tr>
         
         
      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-last-section.html' %}
      
     {% include 'allifmaalcommonapp/includes/forms/standard-form-fields.html' %}
     </div>
    </div>
       <!--END... End of show/hide table more details section one-->

  <div class="tab-pane allif-single-page-tab-content-pane show" id="allif-single-page-tab-general-details" role="tabpanel" aria-labelledby="allif-single-page-tab-general-details-id">
    <div class="allif-forms-table-main-wrapper">
    {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-one-section.html' %}
     
  <tr>
          <td class="allif-fix-table-col-forms">Treatment Plan</td>
          <td>{{form.treatment_plan}}</td>
        </tr>
  

    {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-section.html' %}
<tr>
          <td class="allif-fix-table-col-forms">Disposition Notes</td>
          <td>{{form.disposition_notes}}</td>
        </tr>
      
    <tr>
      <td class="allif-fix-table-col-forms">Quantity</td>
      <td>{{form.quantity}}</td>
    </tr>

    {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-last-section.html' %}
    
    {% include 'allifmaalcommonapp/includes/forms/general-form-fields.html' %}
     </div>
    </div>
       <!--END... End of show/hide table more details section one-->

    <div class="tab-pane allif-single-page-tab-content-pane show" id="allif-single-page-tab-static-details" role="tabpanel" aria-labelledby="allif-single-page-tab-static-id">
     <div class="allif-forms-table-main-wrapper">
    {% include 'allifmaalcommonapp/includes/forms/static-form-fields.html' %}
     </div>
    </div>
       <!--END... End of show/hide table more details section one-->
  
    <div class="allif-forms-table-main-wrapper">

        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-one-section.html' %}
     
  <tr>
          <td class="allif-fix-table-col-forms">Description</td>
          <td>{{form.description}}</td>
        </tr>
  

    {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-section.html' %}

    
     {% include 'allifmaalcommonapp/includes/forms/forms-save-button.html' %} 
    {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-last-section.html' %}
    
      </div>
      
    
      </form>
        </div>

      </div>
      <!--END.... END of single pages content and its links section-->
   

    </div>

</div>
  {% block scripts %}

  
  {% endblock %}
   {% endblock %}
   