  {% extends 'allifmaalcommonapp/ui/details/item-details.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block add-form-header-block %}
<a href="{% allif_get_single_nav_link_url 'triagedata' user_var glblslug %}">Triage</a>
<a href="{{ allif_contextual_action_links.EditTriageData.url }}">Edit Triage Details</a>
  {%endblock%}

  {% block details-table-col-one %}
  <tr>
    <td class="allif-fix-table-col">Staff in Charge</td>
    <td>{{allifquery.medical_file.employee_in_charge}}</td>
  </tr>

   <tr>
    <td class="allif-fix-table-col">Medical File</td>
    <td>{{allifquery.medical_file}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Complaints</td>
    <td>{{allifquery.complaints}}</td>
  </tr>

  {%endblock%}

  {% block details-table-col-two %}
  <tr>
    <td class="allif-fix-table-col">Weight</td>
    <td>{{allifquery.weight}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Height</td>
    <td>{{allifquery.height}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Systolic</td>
    <td>{{allifquery.blood_pressure_systolic}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Diastolic</td>
    <td>{{allifquery.blood_pressure_diastolic}}</td>
  </tr>
   
  {% endblock %}
  
  {% block core-details-tab-col-one %}
  <tr>
    <td class="allif-fix-table-col">O2 Saturation</td>
    <td>{{allifquery.oxygen_saturation}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">History</td>
    <td>{{allifquery.past_medical_history}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Respiration Rate</td>
    <td>{{allifquery.respiration_rate}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Chronics</td>
    <td>{{allifquery.known_chronic_conditions}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Current Medication</td>
    <td>{{allifquery.current_medication}}</td>
  </tr>

  <tr>
    <td class="allif-fix-table-col">Pain Level</td>
    <td>{{allifquery.pain_level}}</td>
  </tr>
 
  {%endblock%}

  {% block core-details-tab-col-two %}
 <tr>
    <td class="allif-fix-table-col">Triage Disposition</td>
    <td>{{allifquery.triage_disposition}}</td>
  </tr>

   <tr>
    <td class="allif-fix-table-col">Allergies</td>
    <td>{{allifquery.allergies}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Disposition Notes</td>
    <td>{{allifquery.disposition_notes}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Triage Level</td>
    <td>{{allifquery.triage_level}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Arrival Mode</td>
    <td>{{allifquery.mode_of_arrival}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Mobility</td>
    <td>{{allifquery.mobility_status}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Mental Status</td>
    <td>{{allifquery.mental_status}}</td>
  </tr>

  {% endblock %}

  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col">{{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'triagedata' user_var glblslug %}">Go Back</a></td>
    </tr>
 
  {%endblock%}

  {% block general-details-tab-col-two %}
  <tr>
    <td class="allif-fix-table-col">Description</td>
    <td>{{allifquery.description}}</td>
  </tr>
  {% endblock %}
  
  {% block allif_sensitive_section_col_two %}
  <tr>
    <td class="allif-fix-table-col">Delet {{allifquery}}</td>
    <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteTriageConfirm.url }}">Delete {{allifquery}}</a></td>
  </tr>
  {%endblock%}

  {% block item_details_related_items_full_table %} {%endblock%}
  {% block item_details_related_items_full_half_tables %}{%endblock%}

  
