{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
    {% include 'allifmaalcommonapp/includes/delete/delete-confirm-upper-section.html' %}
    {% block delete-actions %}
      <tr>
        <td class="allif-fix-table-col">Edit {{allifquery}}</td>
        <td><a class="amel-table-list-identifier" href="">No, Dont Delete {{allifquery}}</a></td>
      </tr>
     <tr>
        <td class="allif-fix-table-col">Delet {{allifquery}}</td>
        <td><a class="amel-table-list-identifier body-delete-link" href=""> Yes, Delete {{allifquery}}</a></td>
      </tr>
      {%endblock%}
    {% include 'allifmaalcommonapp/includes/delete/delete-confirm-lower-section.html' %}
{% block scripts %}
  {% endblock %}
   {% endblock %}