{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
    {% include 'allifmaalcommonapp/includes/delete/delete-confirm-upper-section.html' %}
    
      <tr>
        <td class="allif-fix-table-col">Edit {{allifquery}}</td>
        <td>
          {% block delete-action-decline %}
          <a class="amel-table-list-identifier" href="">No, Dont Delete {{allifquery}}</a>
        {% endblock %}
        </td>
      </tr>
     <tr>
        <td class="allif-fix-table-col">Delet {{allifquery}}</td>
        <td>
          {% block delete-action-confirm %}
          <a class="amel-table-list-identifier body-delete-link" href=""> Yes, Delete {{allifquery}}</a>
        {% endblock %}
        </td>
      </tr>
     
    {% include 'allifmaalcommonapp/includes/delete/delete-confirm-lower-section.html' %}
{% block scripts %}
  {% endblock %}
   {% endblock %}