{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  {% include 'allifmaalcommonapp/banks/banks-header.html' %}
  {% endblock %}
   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Deposit Name</td>
      <td>{{form.name}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Description</td>
      <td>{{form.description}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Amount</td>
      <td>{{form.amount}}</td>
    </tr>
     
        
    {%endblock%}

      {% block core-tab-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Bank</td>
      <td>{{form.bank}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Equity A/C</td>
      <td>{{form.bankcoa}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Asset A/C</td>
      <td>{{form.asset}}</td>
    </tr>
     
  
    {%endblock%}
  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Withdrawals' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteWithdrawal.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}



