{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allif_pdf_main_body_container">
    <div class="allif_pdf_search_header">Chart of Accounts Search Results</div>
    <table class="table-bordered">
    <tr>
    <thead>
    <tr class="allif-pdf-table-header">
    <th>Code</th>
    <th>Description</th>
    <th>Balance</th>
    <th>Category</th>
    </tr>
    </thead>
    <tbody>
    {% for item in searched_data %}
    <tr>
    <td>{{item.code}}</td>
    <td>{{item.description}}</td>
    <td>{{item.balance|floatformat:2|intcomma}}</td>
    <td> {{item.category}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
        
</div> 

{% block scripts %}

{% endblock %}

{% endblock %}
   
