{% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
{% load allif_navigation_tags %}
{% block allif-basic-search-action %}
{% url 'allifmaalcommonapp:commonCategorySearch' user_var glblslug %}
{% endblock %}
{% block advanced-search %}{%endblock%}
{% block upload-excel-file %}{%endblock%}
{% block allif-header-links %}
<a href="{% allif_get_single_nav_link_url 'Categories' user_var glblslug %}">Categories</a>
<a href="{% allif_get_single_nav_link_url 'AddCategory' user_var glblslug %}">Add Category</a>
{% endblock %}
{% block list-table-content-seciton %}
<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCategoryDetails' item.id user_var glblslug %}"> {{item.name}}</a>

{% endblock %}
{% block list-table-content-seciton-dropdown-links %}
<a href="{% url 'allifmaalcommonapp:commonEditCategory' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
{% endblock %}
  
  