{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Profiles' user_var glblslug %}">Staff Profiles</a>
  <a href="{% allif_get_single_nav_link_url 'AddStaffProfile' user_var glblslug %}">New Profile</a>
  {% endblock %}
   {% block core-tab-col-one %}
     <tr>
      <td class="allif-fix-table-col-forms">First Name</td>
      <td>{{form.firstName}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Middle Name</td>
      <td>{{form.middleName}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Last Name</td>
      <td>{{form.lastName}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">User Name</td>
      <td>{{form.username}}</td>
    </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Title</td>
      <td>{{form.title}}</td>
    </tr>
    
    
    {%endblock%}

      {% block core-tab-col-two %}
       <tr>
      <td class="allif-fix-table-col-forms">Education</td>
      <td>{{form.education}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Salary</td>
      <td>{{form.salary}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Paid Salary</td>
      <td>{{form.total_salary_paid}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Salary Payable</td>
      <td>{{form.salary_payable}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Salary Balance</td>
      <td>{{form.salary_balance}}</td>
    </tr>
    
    {%endblock%}
    {% block bottom-fields-col-one %}
     <tr>
      <td class="allif-fix-table-col-forms">Category</td>
      <td>{{form.sysperms}}</td>
    </tr>
    {%endblock%}
    {% block bottom-fields-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Gender</td>
      <td>{{form.gender}}</td>
    </tr>
    {%endblock%}

    {% block static-form-fields %} {%endblock%}
  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Profiles' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteStaffProfileConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}

