{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize cache %} {# Load humanize and cache tags #}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
 
  <!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
  
    <a class="amel-table-list-identifier">Operation Year Terms:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    
    <a href="{% url 'allifmaalcommonapp:commonAddOperationYearTerm' user_var glblslug %}"> Add New Term </a>
   
  <a href="{% url 'allifmaalcommonapp:commonOperationYearTerms' user_var glblslug %}">Operation Year Terms</a>

<a href="{% url 'allifmaalcommonapp:commonOperationYears' user_var glblslug %}">Operation Years</a>


  </div>
    </div><!--end....header column-->
    </div><!--end....header row-->
  </div><!--end....main headere-->
  
<div class="allifmaincontainer">

    {# Principle 7: Caching Strategy (Template Fragment Caching) #}
    {# Cache this block for 300 seconds (5 minutes). The cache key includes user_var and glblslug for uniqueness per user/company. #}
    {# % cache 300 latest_taxes_block user_var glblslug % #} 
      

<div class="row mt-12"> <!--start....table row-->
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="table-responsive allif-full-table">
    <table class="table table-layout">
      <thead>
        <tr class="allif-table-header-row">
        <td class="allif-fix-table-col">Action Time</td>
        <td>Action Type</td>
        <td>User</td>
        <td>Content Type</td>
       
        <td>Object ID</td>
        <td>Content Object</td>

        <td>Representation</td>
        <td>Chage Message</td>
        <td>Last Update</td>

        <td>Navigate</td>
        
        <td> . . . </td>
        <td></td>
        </tr>
        </thead>
        <tbody class="allif-table-body">
         
        
        {% for action in allifqueryset %} 
        <tr data-id="{{item.id}}">
        
                        <td class="allif-fix-table-col">{{ action.action_time|naturaltime}}</td>
                        <td>{{ action.action_type }}</td>
                        <td>{{ action.user }}%</td>
                        <td>{{ action.content_type }}</td>
                        <td>{{ action.object_id }}</td>
                        <td>{{ action.content_object }}</td>
                        <td>{{ action.object_repr }}</td>
                        <td>{{ action.change_message }}</td>
                        <td>{{ action.last_updated|naturaltime }}</td>
                    
        
        <td>
            <div class="dropdown allifmaal-content-dropdown">
              <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
              <div class="dropdown-content">
                <a href="" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                
              </div>
            </div>
            <div class="dropdown allif-confirm-action">
              
              <a href="" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
              <a href="" id="allif-confirm-delete">Confirm</a>
            </div>
  
           
          </td>
       <td> . . . </td>
       <td></td>
      
  
    </tr>
    {% endfor %}
    
      </tbody>
    </table>
    </div>
   </div>

</div><!--end....table column-->

</div><!--end....table row-->
{#% endcache % #}
</div>

</div>
  {% block scripts %}
 
  {% endblock %}
  {% endblock %}











