<form action="{% url 'ecommerceapp:add-online-customer' %}" method="post">
    {% csrf_token %}
   
{{form}}
    
    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Add">

</form>
<table class="table table-hover">
    <thead>
        
      <tr>
       
        <th scope="col">User</th>
        <th scope="col">Customer Name</th>
        
        <th scope="col">Customer Email</th>
        
      </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
     
        <td>{{customer.systemUser}}</td>
        <td>{{customer.customerName}}</td>
       
        <td>{{customer.customerEmail}}</td>

        
        
        <td><a href="{% url 'ecommerceapp:delete-online-customer' customer.id %}">
            <button style="width: auto;height: auto;border: none;background-color: red" > Delete </button></a></td>
       
      </tr>
     
    
    </tbody>
    {% endfor %}
  </table>