<form action="{% url 'ecommerceapp:add-online-shippingaddress' %}" method="post">
    {% csrf_token %}
   
{{form}}
    
    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Add">

</form>
<table class="table table-hover">
    <thead>
        
      <tr>
       
        <th scope="col">Customer</th>
        <th scope="col">Order</th>
        
        
        <th scope="col">address</th>
        <th scope="col">Added date</th>
        
        
        
      </tr>
    </thead>
    <tbody>
        {% for detail in shipping_details %}
        <tr>
     
        <td>{{detail.customerName}}</td>
        <td>{{detail.order}}</td>
        <td>{{detail.address}}</td>
        <td>{{detail.date_added}}</td>
       
       
      </tr>
     
    
    </tbody>
    {% endfor %}
  </table>