
  
  {% extends 'estore/baseOnlineStore.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'allifmaalonlineapp:online-store' %}">&#x2190; Continue Shopping</a>
	<br>
  <form action="{% url 'allifmaalonlineapp:add-online-items' %}" method="post">
    {% csrf_token %}
   
{{form}}
    
    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Add">

</form>
<table class="table table-hover">
    <thead>
        
      <tr>
       
        <th scope="col">Product</th>
        <th scope="col">Order</th>
        
        <th scope="col">Quantity</th>
        <th scope="col">Date Added</th>
        
      </tr>
    </thead>
    <tbody>
        {% for orderitem in orderitems %}
        <tr>
     
        <td>{{orderitem.product}}</td>
        <td>{{orderitem.order}}</td>
       
        <td>{{orderitem.quantity}}</td>
        <td>{{orderitem.date_added}}</td>
       
        <td><a href="{% url 'allifmaalonlineapp:delete-online-ordered-item' orderitem.id %}">
            <button style="width: auto;height: auto;border: none;background-color: red" > Delete </button></a></td>
      </tr>
      
    
    </tbody>
    {% endfor %}
  </table>



</div>
{% endblock content %}


