<div class="allif-single-page-tab-links-wrapper">
    <ul class="nav nav-tabs allif-single-page-tab-links-wrapper" >

      <a class="nav-link active allif-single-page-tab-links" id="allif-single-page-tab-core-details-id" data-bs-toggle="tab"
       data-bs-target="#allif-single-page-tab-core-details" type="button" role="tab" aria-controls="details" aria-selected="true">
       {% if title %}
       {{title}} Core Details
       {% else %}
       Add/Edit Core Details
       {% endif %}
       
      </a>
    
      <a class="nav-link allif-single-page-tab-links" id="allif-single-page-tab-standard-details-id" data-bs-toggle="tab"
        data-bs-target="#allif-single-page-tab-standard-details" type="button" role="tab" aria-controls="branches" aria-selected="false">
          
        {% if title %}
       {{title}} Standard Details
       {% else %}
       Add/Edit Standard Details
       {% endif %}
      </a>
       
      {% if ahmedmuse%}
      <a class="nav-link allif-single-page-tab-links" id="allif-single-page-tab-general-details-id" data-bs-toggle="tab" 
        data-bs-target="#allif-single-page-tab-general-details" type="button" role="tab" aria-controls="additional-info" aria-selected="false">
       
        {% if title %}
       {{title}} General Details
       {% else %}
       Add/Edit General Details
       {% endif %}
       
        </a>
       {% endif %}
        
    {% if ahmedmuse%}
        <a class="nav-link allif-single-page-tab-links" id="allif-single-page-tab-static-details-id" data-bs-toggle="tab" 
        data-bs-target="#allif-single-page-tab-static-details" type="button" role="tab" aria-controls="additional-info" aria-selected="false">
      
        {% if title %}
       {{title}} Static Details
       {% else %}
       Add/Edit Static Details
       {% endif %}
       

        </a>
        {% endif %}
       
      </ul>
      </div>