
<div class="sort-form-wrapper">
    <form method="POST" action=""> {% csrf_token %}
    <select name="sort_option" id="sort_option" style="height: 2em; background-color: #cdcdcd">
        {% for ui_label, field_name in sort_options %}
        <option value="{{ ui_label }}" {% if current_sort_ui_label == ui_label %} selected {% endif %}
         class="allif-sort-form-dropdown-content-wrapper">{{ ui_label }} </option>
            
        {% endfor %}
    </select>
    
    <button type="submit" class="btn allifmaal-submit-btn">Apply Sorting</button>

    {# --- CRUCIAL: Hidden inputs to preserve GET parameters on POST --- #}
    <input type="hidden" name="scope" value="{{ current_scope }}">
    <input type="hidden" name="user_var" value="{{ user_var }}">
    <input type="hidden" name="glblslug" value="{{ glblslug }}">
    </form>
</div>
