{% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
{% load allif_navigation_tags %}
{% load humanize %}
{% block allif_header_forms_dropdown%} {%endblock%}
{% block allif-header-links %}
<a href="{% allif_get_single_nav_link_url 'Companies' user_var glblslug %}">Companies</a>
<a href="{% allif_get_single_nav_link_url 'AddCompany' user_var glblslug %}">Add Company</a>
  
{% endblock %}

{% block list-table-headers %}
<td class="allif-fix-table-col"> Company </td>
<td class="allif-table-header-td"> Sector</td>
<td class="allif-table-header-td"> Owner </td>
<td class="allif-table-header-td"> Email</td>
<td class="allif-table-header-td">Status </td>
{% endblock %}
{% block list-table-content-seciton %}
<td class="allif-fix-table-col">
   <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCompanyDetailsForAllifAdmin' item.id user_var glblslug %}"> {{item.company}} </a>
</td>
<td class="allif-table-content-td"> {{item.sector}} </td>
<td class="allif-table-content-td"> {{item.owner}}</td>
<td class="allif-table-content-td"> {{item.owner.email}}</td>
<td class="allif-table-content-td">{{item.status}}</td>
{% endblock %}

{% block list-table-content-seciton-dropdown-links %}
<a href="{% url 'allifmaalcommonapp:commonEditEntityByAllifAdmin' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Company</a>
<a href="{% url 'allifmaaladminapp:adminBlockUnblockEntity' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">
   {% if item.status == 'Blocked' %} Unblock {% else %} Block {% endif %}
</a>

{% endblock %}
 













