{% extends 'allifmaalcommonapp/ui/general/delete-confirm.html'%}
{% load allif_navigation_tags %}
 
{% block delete-action-decline %}
<a class="amel-table-list-identifier" href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">No, Dont Delete {{allifquery}}</a>

{% endblock %}

{% block delete-action-confirm %}
<a class="amel-table-list-identifier body-delete-link" href="{% url 'allifmaalcommonapp:commonDeleteEntity' allifquery.id user_var glblslug %}"> Yes, Delete {{allifquery}}</a>
{% endblock %}
