  {% extends 'allifmaalcommonapp/ui/details/item-details.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block add-form-header-block %}
  <a href="{% url 'allifmaalcommonapp:commonCompanyDetailsForClients' user_var glblslug %}">Company</a>
  <a href="{% allif_get_single_nav_link_url 'Divisions' user_var glblslug %}">Divisions</a>
  <a href="{% allif_get_single_nav_link_url 'Branches' user_var glblslug %}">Branches</a>
  <a href="{% allif_get_single_nav_link_url 'Departments' user_var glblslug %}">Departments</a>
  <a href="{% allif_get_single_nav_link_url 'OperationYears' user_var glblslug %}">Years</a>
  {%endblock%}

  {% block details-table-col-one %}
    <tr>
      <td class="allif-fix-table-col">Company</td>
      <td>{{allifquery.company}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col">Phone 1</td>
      <td>{{allifquery.phone1}}</td>
    </tr>
     <tr>
    <td class="allif-fix-table-col">Email</td>
    <td>{{allifquery.email}}</td>
  </tr>
  {%endblock%}

  {% block details-table-col-two %}
  <tr>
    <td class="allif-fix-table-col">Phone 2</td>
    <td>{{allifquery.phone2}}</td>
  </tr>
 
   <tr>
    <td class="allif-fix-table-col">Owner</td>
    <td>{{allifquery.owner}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">P.O. Box</td>
    <td>{{allifquery.pobox}}</td>
  </tr>
  {% endblock %}
  
  {% block core-details-tab-col-one %}
  <tr>
    <td class="allif-fix-table-col">Address</td>
    <td>{{allifquery.address}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">City</td>
    <td>{{allifquery.city}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Country</td>
    <td>{{allifquery.country}}</td>

  </tr>
  
  <tr>
    <td class="allif-fix-table-col">Website</td>
    <td>{{allifquery.website}}</td>
  </tr>
  
  <tr>
    <td class="allif-fix-table-col">Sector</td>
    <td>{{allifquery.sector}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Date</td>
    <td>{{allifquery.date|date:'d/m/Y'}}</td>
  </tr>
  {%endblock%}

  {% block core-details-tab-col-two %}
 
  <tr>
    <td class="allif-fix-table-col">Deletable</td>
    <td>{{allifquery.can_delete}}</td>
  </tr>

   <tr>
      <td class="allif-fix-table-col">Logo</td>
      <td>
      {% if allifquery.logo %}
      <a href="{{ allifquery.logo.url }}" class="btn btn-secondary allifanchorimge" target="_blank" >
        <img src="{{allifquery.logo.url}}"  width="200" ></a>
      {% else %}
      <span class="text-muted">No Logo</span>
      {% endif %}
    </td>
    </tr>
  {% endblock %}

    
  {% block allif_sensitive_section_col_one %}
  <tr>
      <td class="allif-fix-table-col">Defaults</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Defaults' user_var glblslug %}">Defaults</a></td>
    </tr>

  <tr>
      <td class="allif-fix-table-col">Currencies</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Currencies' user_var glblslug %}">Currencies</a></td>
    </tr>

    <tr>
      <td class="allif-fix-table-col">Categories</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Categories' user_var glblslug %}">Categories</a></td>
    </tr>

    <tr>
      <td class="allif-fix-table-col">Codes</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Codes' user_var glblslug %}">Codes</a></td>
    </tr>

    <tr>
      <td class="allif-fix-table-col">Measurements</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'MeasuringUnits' user_var glblslug %}">Units</a></td>
    </tr>

    <tr>
      <td class="allif-fix-table-col">Accounts</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Accounts' user_var glblslug %}">Accounts</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
  
<tr>
      <td class="allif-fix-table-col">Scopes</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'CompanyScopes' user_var glblslug %}">Services</a></td>
    </tr>
<tr>
      <td class="allif-fix-table-col">Spaces</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Spaces' user_var glblslug %}">Spaces</a></td>
    </tr>

  <tr>
      <td class="allif-fix-table-col">Payment Terms</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Payment_Terms' user_var glblslug %}">Payment Terms</a></td>
    </tr>

    <tr>
      <td class="allif-fix-table-col">Sales Taxes</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'TaxParameters' user_var glblslug %}">Sales Tax</a></td>
    </tr>
  
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% url 'allifmaalcommonapp:commonEditEntityByClients' allifquery.id user_var glblslug %}">Edit {{allifquery}}</a></td>
    </tr>

    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{% url 'allifmaalcommonapp:commonWantToDeleteCompany' allifquery.id user_var glblslug %}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}

  {% block item_details_related_items_full_table %} {%endblock%}
  {% block item_details_related_items_full_half_tables %}{%endblock%}

 