  {% extends 'allifmaalcommonapp/ui/details/item-details.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block add-form-header-block %}


<a href="{% url 'allifmaalcommonapp:commonCompanyDetailsForClients' user_var glblslug %}">Company</a>


<div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Company Setup
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDivisions' user_var glblslug %}">Divisions</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonBranches' user_var glblslug %}">Branches</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDepartments' user_var glblslug %}">Departments</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonOperationYears' user_var glblslug %}">Operation Years</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonOperationYearTerms' user_var glblslug %}">Operation Terms</a></li>
      
    </div>
    </ul>
  </div>

  <div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Operation Setups
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonDefaultValues' user_var glblslug %}">Default Values</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCurrencies' user_var glblslug %}">Currencies</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonPaymentTerms' user_var glblslug %}">Payment Terms</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCompanyScopes' user_var glblslug %}">Scopes</a></li>
      
      
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonTaxParameters' user_var glblslug %}">Taxes</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonUnits' user_var glblslug %}">Measurements</a></li>

       <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCategories' user_var glblslug %}">Categories</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCodes' user_var glblslug %}">Codes</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonGeneralLedgers' user_var glblslug %}">Accounts</a></li>
    
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonSpaces' user_var glblslug %}">Spaces</a></li>
    </div>
    </ul>
  </div>

  {%endblock%}

  {% block details-table-col-one %}
    <tr>
      <td class="allif-fix-table-col">Company</td>
      <td>{{allifquery.company}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col">Phone 1</td>
      <td>{{allifquery.phone1}}</td>
    </tr>
     <tr>
    <td class="allif-fix-table-col">Email</td>
    <td>{{allifquery.email}}</td>
  </tr>
  {%endblock%}

  {% block details-table-col-two %}
  <tr>
    <td class="allif-fix-table-col">Phone 2</td>
    <td>{{allifquery.phone2}}</td>
  </tr>
 
   <tr>
    <td class="allif-fix-table-col">Owner</td>
    <td>{{allifquery.owner}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">P.O. Box</td>
    <td>{{allifquery.pobox}}</td>
  </tr>
  {% endblock %}
  
  {% block core-details-tab-col-one %}
  <tr>
    <td class="allif-fix-table-col">Address</td>
    <td>{{allifquery.address}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">City</td>
    <td>{{allifquery.city}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Country</td>
    <td>{{allifquery.country}}</td>

  </tr>
  
  <tr>
    <td class="allif-fix-table-col">Website</td>
    <td>{{allifquery.website}}</td>
  </tr>
  
  <tr>
    <td class="allif-fix-table-col">Sector</td>
    <td>{{allifquery.sector}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Date</td>
    <td>{{allifquery.date|date:'d/m/Y'}}</td>
  </tr>
  {%endblock%}

  {% block core-details-tab-col-two %}
 
  <tr>
    <td class="allif-fix-table-col">Deletable</td>
    <td>{{allifquery.can_delete}}</td>
  </tr>

   <tr>
      <td class="allif-fix-table-col">Logo</td>
      <td>
      {% if allifquery.logo %}
      <a href="{{ allifquery.logo.url }}" class="btn btn-secondary allifanchorimge" target="_blank" >
        <img src="{{allifquery.logo.url}}"  width="200" ></a>
      {% else %}
      <span class="text-muted">No Logo</span>
      {% endif %}
    </td>
    </tr>
  {% endblock %}

    
  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% url 'allifmaalcommonapp:commonEditEntityByClients' allifquery.id user_var glblslug %}">Edit {{allifquery}}</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{% url 'allifmaalcommonapp:commonWantToDeleteCompany' allifquery.id user_var glblslug %}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}

  {% block item_details_related_items_full_table %} {%endblock%}
  {% block item_details_related_items_full_half_tables %}{%endblock%}

 