{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allif_pdf_main_body_container">
  
<!--start of ... table main dynamic content section-->
<div class="allif-pdf-table-content-body-section">
    <table class="allif-pdf-table-body">

    <tr>
    <th colspan="5">Company</th>
    <th colspan="2">Address</th>
    <th colspan="2">Phone</th>
    <th colspan="3">Date</th>
    </tr>
   
    <tbody>
    {% for item in searched_data %}
    <tr>
    <td colspan="5">{{item.company}}</td>
    <td colspan="2">{{item.address}}</td>
    <td colspan="2"> {{item.phone1}}</td>
    <td colspan="3">{{item.date|date:'d/m/Y'}}</td>
    
    </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>
    <!--start of ... table main dynamic content section-->

  
</div> 


{% block scripts %}

{% endblock %}

{% endblock %}
   
 