  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonSalarySearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonSalaryAdvanceSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}
  <a href="{% allif_get_single_nav_link_url 'Salaries' user_var glblslug %}">Salaries</a>
  <a href="{% allif_get_single_nav_link_url 'AddSalary' user_var glblslug %}">Add Salary</a>
  <a href="{% allif_get_single_nav_link_url 'PostedSalaries' user_var glblslug %}">Posted Salaries</a>
   <a href="{% url 'allifmaalcommonapp:commonhrm' user_var glblslug %}">HRM</a>
 
  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col">First Name</td>
  <td class="allif-table-header-td"> Last Name</td>
  <td class="allif-table-header-td"> Description </td>
  
  <td class="allif-table-header-td">Amount </td>
  {% endblock %}

  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonSalaryDetails' item.id user_var glblslug %}"> {{item.staff}} </a>{%endblock%}</td>
  <td class="allif-table-content-td"> {{item.staff.lastName}}</td>
  <td class="allif-table-content-td"> {{item.description}}</td>
  <td class="allif-table-content-td"> {{item.amount|floatformat:2|intcomma}} </td>
  
  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonEditSalaryDetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
  
  
  {% endblock %}
  


