{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Clients' user_var glblslug %}">Clients</a>
  <a href="{% allif_get_single_nav_link_url 'AddClient' user_var glblslug %}">Add New Customer</a>
  {% endblock %}
   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Phone</td>
      <td>{{form.phone}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Email</td>
      <td>{{form.email}}</td>
    </tr>
    
        
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Address</td>
      <td>{{form.address}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Contact</td>
      <td>{{form.contact}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">City</td>
      <td>{{form.city}}</td>
    </tr>
   
    {%endblock%}

     {% block standard-tab-col-one %}
      <tr>
          <td class="allif-fix-table-col-forms">Description</td>
          <td>{{form.description}}</td>
        </tr>

        <tr>
      <td class="allif-fix-table-col-forms">Country</td>
      <td>{{form.country}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Balance</td>
      <td>{{form.balance}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Turnover</td>
      <td>{{form.turnover}}</td>
    </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Sales</td>
      <td>{{form.sales}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Document Number</td>
      <td>{{form.document_number}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Nationality</td>
      <td>{{form.nationality}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Payment Type</td>
      <td>{{form.paymentType}}</td>
    </tr>
  
    {%endblock%}
       
   {% block standard-tab-col-two %}
  
     <tr>
      <td class="allif-fix-table-col-forms">age</td>
      <td>{{form.age}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Gender</td>
      <td>{{form.gender}}</td>
    </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Blood Group</td>
      <td>{{form.blood_group}}</td>
    </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Next Kin</td>
      <td>{{form.nextkin}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Relationship</td>
      <td>{{form.relationship}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Registered</td>
      <td>{{form.register}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Triaged</td>
      <td>{{form.triaged}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Seen</td>
      <td>{{form.seen}}</td>
    </tr>
       
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Clients' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteCustomerConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}

