  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonCustomerSearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonCustomerAdvanceSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}
  <a href="{% allif_get_single_nav_link_url 'Clients' user_var glblslug %}">Customers</a>
  <a href="{% allif_get_single_nav_link_url 'AddClient' user_var glblslug %}">Add Client</a>
  <a href="{% allif_get_single_nav_link_url 'ReceiveClientPayment' user_var glblslug %}">Receipt Customer Payment</a>
  <a href="{% allif_get_single_nav_link_url 'CustomerPayments' user_var glblslug %}">Customer Payments</a>
  
  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col"> Name</td>
  <td class="allif-table-header-td"> Phone</td>
  <td class="allif-table-header-td"> Email </td>
  <td class="allif-table-header-td"> Address</td>
  <td class="allif-table-header-td">Date </td>
  {% endblock %}

 
  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCustomerDetails' item.id user_var glblslug %}"> {{item.name}} </a>{%endblock%}</td>
  <td class="allif-table-content-td"> {{item.phone}} </td>
  <td class="allif-table-content-td"> {{item.email}}</td>
  <td class="allif-table-content-td"> {{item.address}}</td>
  <td class="allif-table-content-td"> {{item.date|date:'d/m/Y'}}</td>

  
  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonEditCustomer' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Item Details</a>
  
  
  {% endblock %}
  
