
<div> <!--this div is not necessary but just added so as to have all links under one div-->

  <!--start of side menu one....-->
  <div class="sidenavonemenu">
   <a href="#" class="opensidemenuonebtn sidenavonemenulinksforminiscreens sidenav-close-link"
    id="sidenavoneshwohiddenlinkslink">Close Menu <i class="fa fa-close"></i></a>
   <a href="#" class="opensidemenutwobtn"> Menu 2 <i class="fa fa-caret-right"></i></a>
   <a href="#" class="opensidemenuthreebtn">Menu 3 <i class="fa fa-caret-right"></i></a>
   
   
   
  
   
   
   

  
   <button class="sidenavonedropdownbtn" >Quotations<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    
  </div>
  
  <button class="sidenavonedropdownbtn" >Purchases<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="">Logistics</a>
    <a href="#">Invoices</a>
    <a href="#">Quotations</a>
  </div>

  <button class="sidenavonedropdownbtn" >Employees<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="">Logistics</a>
    <a href="#">Invoices</a>
    <a href="#">Quotations</a>
  </div>
  
  <button class="sidenavonedropdownbtn">Inventory<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <a href="" class="">Tables</a>
  <a href="#" class="">Marketing</a>
  <a href="#" class="">Leads</a>

  <button class="sidenavonedropdownbtn">Inventory<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <button class="sidenavonedropdownbtn">Sales<i class="fa fa-caret-down"></i></button>
  <div class="sidenavone-dropdown-container">
    <a href="">Purchases</a>
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>
  
 
  <a href="{% url 'allifmaaluiapp:allifmaalUICompactPage' %}" class="">Compact</a>
 
  </div>
  <!--end of side menu one-->

<!--start of side menu two-->
<div class="sidenavtwomenu">
  <a href="#" class="opensidemenutwobtn sidenav-close-link">Close <i class="fa fa-close"></i></a>
    <a href="{% url 'allifmaaluiapp:allifmaalUIExplore' %}">Xplore</a>
    <a href="#">About</a>
   
    <button class="sidenavtwomenudropdownbtn">Inventory <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
    
      <a href="#">Returns</a>
    </div>

    <a href="#">Customers</a>
    <a href="#">Invoices</a>

    <button class="sidenavtwomenudropdownbtn">Insurances <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
    
      <a href="#">Suppliers</a>
      <a href="#">Returns</a>
    </div>

    <button class="sidenavtwomenudropdownbtn">Medicals <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
     
      <a href="#">Suppliers</a>
      <a href="#">Returns</a>
    </div>

    <button class="sidenavtwomenudropdownbtn">Returns <i class="fa fa-caret-down"></i></button>
    <div class="sidenavtwo-dropdown-container">
    
      <a href="#">Suppliers</a>
      <a href="#">Returns</a>
    </div>

    <a href="#" class="">Managers</a>

  </div>
<!--end of side menu two-->

<!--start of side menu three-->
<div class="sidenavthreemenu">
  <a href="#" class="opensidemenuthreebtn sidenav-close-link">Close <i class="fa fa-close"></i></a>
 
  <a href="#">Inventory</a>
  
  <button class="sidenavthreemenudropdownbtn">Inventory <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
   
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  
  <a href="#">Invoices</a>

  <button class="sidenavthreemenudropdownbtn">Insurances <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
    
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <button class="sidenavthreemenudropdownbtn">Medicals <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
    
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <button class="sidenavthreemenudropdownbtn">Returns <i class="fa fa-caret-down"></i></button>
  <div class="sidenavthree-dropdown-container">
   
    <a href="#">Suppliers</a>
    <a href="#">Returns</a>
  </div>

  <a href="#" class="">Managers</a>

</div>
<!--end of side menu three-->

</div>