{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allif_pdf_main_body_container">
    <div class="allif_pdf_search_header">Suppliers Search Results</div>
    <table class="table-bordered">
    <tr>
    <thead>
    <tr class="allif-pdf-table-header">
    <th>Supplier</th>
    <th>Address</th>
    <th>Owner</th>
    <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for item in searched_data %}
    <tr>
    <td>{{item.name}}</td>
    <td>{{item.address}}</td>
    <td>{{item.owner}}</td>
    <td> {{item.date|date:'d/m/Y'}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
        
</div> 

{% block scripts %}

{% endblock %}

{% endblock %}
   