{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}

 {% block add-form-header-block %}

 
<div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
     <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddQuoteDetails' allifquery.id user_var glblslug %}">Edit Item</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddQuoteItems' allifquery.id user_var glblslug %}">Add Item</a></li>
    
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonQuoteToPdf' allifquery.id user_var glblslug %}">Generate pdf</a></li>

      <li><a class="dropdown-item body-delete-link" href="{% url 'allifmaalcommonapp:commonWantToDeleteQuote' allifquery.id user_var glblslug %}">Delete Item</a></li>

    </div>
    </ul>
  </div>
<a href="{% allif_get_single_nav_link_url 'Quotes' user_var glblslug %}">Quotations</a>
{% endblock %}

   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
     <tr>
        <td class="allif-fix-table-col-forms">Description</td>
        <td>{{form.description}}</td>
      </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Delivery</td>
      <td>{{form.delivery}}</td>
    </tr>
    
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Customer</td>
      <td>{{form.customer}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Discount</td>
      <td>{{form.discount}}</td>
    </tr>

        
     <tr>
      <td class="allif-fix-table-col-forms">Sales Tax</td>
      <td>{{form.salestax}}</td>
    </tr>
 
      <tr>
      <td class="allif-fix-table-col-forms">Likelyhood</td>
      <td>{{form.prospect}}</td>
    </tr>
    {%endblock%}

     {% block standard-tab-col-one %}
    
    <tr>
      <td class="allif-fix-table-col-forms">Tax Rate</td>
      <td>{{form.tax}}</td>
    </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Discount Value</td>
      <td>{{form.discountValue}}</td>
    </tr>
    
     <tr>
      <td class="allif-fix-table-col-forms">Total</td>
      <td>{{allifquery.total}}</td>
    </tr>
     
    {%endblock%}
       
   {% block standard-tab-col-two %}
      
    <tr>
      <td class="allif-fix-table-col-forms">Payment Mode</td>
      <td>{{form.payment_terms}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Currency</td>
      <td>{{form.currency}}</td>
    </tr>
       
       
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Quotes' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteQuoteConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}

