{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">

<!--start....main headere-->
<div class="card-header">

<div class="row mt-12" ><!--start....header row-->

<div class="col-md-12"><!--start....header column-->

<div class="container-fluid amel-content-header">
<div class="dropdown allifmaal-content-dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  Actions
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <div class="content-dropdown-menu">
    
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddTransitDetails' allifquery.id user_var glblslug %}">Edit Item</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddShipmentItems' allifquery.id user_var glblslug %}">Add Shipments</a></li>
    <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddShipmentItems' allifquery.id user_var glblslug %}">Add Flights</a></li>
      <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonTransitToPdf' allifquery.id user_var glblslug %}">Generate pdf</a></li>

      <li><a class="dropdown-item body-delete-link" href="{% url 'allifmaalcommonapp:commonWantToDeleteTransit' allifquery.id user_var glblslug %}">Delete Item</a></li>

   </div>
  </ul>
</div>
<a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>

<a href="{% url 'allifmaalcommonapp:commonQuotes' user_var glblslug %}">Quotations</a>


</div>

    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->

  <div class="allifmaincontainer">
<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description">{{allifquery}} Details</div>
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
    
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>
    
        <tr>
          <td class="allif-fix-table-col">Company</td>
          <td>{{allifquery.company}}</td>
          </tr>
      <tr>
        <td class="allif-fix-table-col">Division</td>
        <td>{{allifquery.division}}</td>
        </tr>
      <tr>
        <td class="allif-fix-table-col">Branch</td>
        <td>{{allifquery.branch}}</td>
        </tr>
        <tr>
          <td class="allif-fix-table-col">Department</td>
          <td>{{allifquery.department}}</td>
          </tr>
            
        
          <tr>
            <td class="allif-fix-table-col">Carrier</td>
            <td>{{allifquery.carrier}}</td>
            </tr>
     
          <tr>
            <td class="allif-fix-table-col">Transport number</td>
            <td>{{allifquery.shipment_number}}</td>
            </tr>
            <tr>
              <td class="allif-fix-table-col">Description</td>
              <td>{{allifquery.description}}</td>
              </tr>
              <tr>
                <td class="allif-fix-table-col">Status</td>
                <td>{{allifquery.status}}</td>
                </tr>
              
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
         <tr>
                <td class="allif-fix-table-col">Expected</td>
                <td>{{allifquery.expected}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Origin</td>
                <td>{{allifquery.origin}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Route</td>
                <td>{{allifquery.via}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Staff Dispatched</td>
                <td>{{allifquery.dispatched_by}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Staff Received</td>
                <td>{{allifquery.received_by}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Customer</td>
                <td>{{allifquery.customer}}</td>
                </tr>
                    <tr>
                      <td class="allif-fix-table-col">Delivery Confirmed By</td>
                      <td>{{allifquery.delivery_confirmed_by_employee}}</td>
                      </tr>
                    
                    <tr>
                      <td class="allif-fix-table-col">Exit Warehouse</td>
                      <td>{{allifqueryexit_warehouse}}</td>
                      </tr>
                      <tr>
                        <td class="allif-fix-table-col">Entry Warehouse</td>
                        <td>{{allifquery.entry_warehouse}}</td>
                        </tr>
                        <tr>
                          <td class="allif-fix-table-col">Destination</td>
                          <td>{{allifquery.destination}}</td>
                          </tr>

                       
                        
          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
          
   <tr>
                          <td class="allif-fix-table-col">Confirmed Customer</td>
                          <td>{{allifquery.delivery_confirmed_by_customer}}</td>
                          </tr>

                          <tr>
                            <td class="allif-fix-table-col">Supplier</td>
                            <td>{{allifquery.supplier}}</td>
                            </tr>
                            <tr>
                              <td class="allif-fix-table-col">Delivery Notes</td>
                              <td>{{allifquery.delivery_notes}}</td>
                              </tr>
                             
                                <tr>
                                  <td class="allif-fix-table-col">Unit of Measure</td>
                                  <td>{{allifquery.unit_of_measure}}</td>
                                  </tr>
                            <tr>
                              <td class="allif-fix-table-col">Notes</td>
                              <td>{{allifquery.notes}}</td>
                              </tr>
                
                               <tr>
                              <td class="allif-fix-table-col">Selling Price With Discount</td>
                              <td>{{allifquery.selling_price_with_disc|floatformat:2|intcomma}}</td>
                              </tr>     
<tr>
  <td class="allif-fix-table-col">Description</td>
  <td>{{allifquery.description}}</td>
  </tr>
<tr>
  <td class="allif-fix-table-col">Created By</td>
  <td>{{allifquery.owner}}</td>
  </tr>

          <tr>
            <td class="allif-fix-table-col">Date</td>
            <td>{{allifquery.date|date:'d/m/Y'}}</td>
            </tr>
          
            <tr>
              <td class="allif-fix-table-col">Comments</td>
              <td>{{allifquery.comments}}</td>
          
          </tr> 
        
          </tbody>
          </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>
<!--end of table-->

</div><!--end of main container of the page....-->

<hr>

<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description">Add/Edit Quote Details</div>
  <form method='POST' action=''>{% csrf_token %}
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
    
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>

      <tr>
        <td class="allif-fix-table-col">Division</td>
        <td>{{form.division}}</td>
    
        </tr>
        
        <tr>
          <td class="allif-fix-table-col">Branch</td>
          <td>{{form.branch}}</td>
      
          </tr>
          <tr>
            <td class="allif-fix-table-col">Department</td>
            <td>{{form.department}}</td>
        
            </tr>
          <tr>
            <td class="allif-fix-table-col">Customer</td>
            <td>{{form.customer}}</td>
        
            </tr>
          
              <tr>
                <td class="allif-fix-table-col">Description</td>
                <td>{{form.description}}</td>
            
                </tr>

                 <tr>
            <td class="allif-fix-table-col">Carrier</td>
            <td>{{form.carrier}}</td>
            </tr>
     
          <tr>
            <td class="allif-fix-table-col">Transport number</td>
            <td>{{form.shipment_number}}</td>
            </tr>
           
              
               
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
          <tr>
                <td class="allif-fix-table-col">Status</td>
                <td>{{form.status}}</td>
                </tr>
               <tr>
                <td class="allif-fix-table-col">Expected</td>
                <td>{{form.expected}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Origin</td>
                <td>{{form.origin}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Route</td>
                <td>{{form.via}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Staff Dispatched</td>
                <td>{{form.dispatched_by}}</td>
                </tr>
                 <tr>
                <td class="allif-fix-table-col">Staff Received</td>
                <td>{{form.received_by}}</td>
                </tr>
                
                
                    <tr>
                      <td class="allif-fix-table-col">Delivery Confirmed By</td>
                      <td>{{form.delivery_confirmed_by_employee}}</td>
                      </tr>
                    
                    <tr>
                      <td class="allif-fix-table-col">Exit Warehouse</td>
                      <td>{{form.exit_warehouse}}</td>
                      </tr>
                     

          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
         
           
          <tr>
                        <td class="allif-fix-table-col">Entry Warehouse</td>
                        <td>{{allifquery.entry_warehouse}}</td>
                        </tr>
                        <tr>
                          <td class="allif-fix-table-col">Destination</td>
                          <td>{{form.destination}}</td>
                          </tr>

                        <tr>
                          <td class="allif-fix-table-col">Confirmed Customer</td>
                          <td>{{form.delivery_confirmed_by_customer}}</td>
                          </tr>

                        
               
    <tr>
        <td class="allif-fix-table-col">Supplier</td>
        <td>{{form.supplier}}</td>
        </tr>
        <tr>
          <td class="allif-fix-table-col">Delivery Notes</td>
          <td>{{form.delivery_notes}}</td>
          </tr>
          
            <tr>
              <td class="allif-fix-table-col">Unit of Measure</td>
              <td>{{form.unit_of_measure}}</td>
              </tr>
        <tr>
          <td class="allif-fix-table-col">Notes</td>
          <td>{{form.notes}}</td>
          </tr>

            <tr>
              <td class="allif-fix-table-col">Action</td>
              <td> <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
          
              </tr>
          </tbody>
          </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>
</form>
<!--end of table-->

</div><!--end of main container of the page....-->

<hr>

</div>
</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
