{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allif_pdf_main_body_container">

<!--start of ... table main dynamic content section-->
<div class="allif-pdf-table-content-body-section">
    <table class="allif-pdf-table-body">

    <tr>
    <th colspan="2">Number</th>
    <th colspan="6">Customer</th>
    <th colspan="2">Amount</th>
    <th colspan="2">Date</th>
    </tr>
   
    <tbody>
    {% for item in searched_data %}
    <tr>
    <td colspan="2">{{item.number}}</td>
    <td colspan="6">{{item.customer}}</td>
    <td colspan="2"> {{item.grandtotal|floatformat:2|intcomma}}</td>
    <td colspan="2">{{item.date|date:'d/m/Y'}}</td>
    
    </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>
    <!--start of ... table main dynamic content section-->

    <div class="allif-pdf-table-body-summary-section">
    <table class="allif-pdf-table-body-summary">
    <tbody>
  
  
</div> 


{% block scripts %}

{% endblock %}

{% endblock %}
{% block footer %}

{% endblock %}
 
