  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonLedgerEntrySearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonLedgerEntryAdvanceSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}
  <a href="{% allif_get_single_nav_link_url 'LedgerEntries' user_var glblslug %}">Ledger Entries</a>
  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col">Transaction</td>
  <td class="allif-table-header-td">Supplier</td>
  <td class="allif-table-header-td">Customer</td>
  <td class="allif-table-header-td">Staff</td>
  <td class="allif-table-header-td">Owner</td>
  <td class="allif-table-header-td">Credit</td>
  
  <td class="allif-table-header-td">Debit</td>
  <td class="allif-table-header-td">Balance</td>
  
  {% endblock %}

    
  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonLedgerEntryDetails' item.id user_var glblslug %}"> {{item.comments}} </a>{%endblock%}</td>
  
  <td class="allif-table-content-td"> {{item.supplier}} </td>
  <td class="allif-table-content-td"> {{item.customer}} </td>
  <td class="allif-table-content-td"> {{item.staff}} </td>
  <td class="allif-table-content-td"> {{item.ledgowner}} </td>

  <td class="allif-table-content-td"> {{item.credit|floatformat:2|intcomma}} </td>
  <td class="allif-table-content-td"> {{item.debit|floatformat:2|intcomma}} </td>
  <td class="allif-table-content-td"> {{item.balance|floatformat:2|intcomma}} </td>
  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonLedgerEntryDetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Add Items</a>
  
  
  {% endblock %}
