{% extends 'allifmaalsalesapp/base/uimainbase/salesbase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}

<div class="allifmaal-main-container">
    <!--we can insert the other section here-->
     
      <!--start....main headere-->
      <div class="card-header">
        <div class="row mt-12" ><!--start....header row-->
        <div class="col-md-12"><!--start....header column-->
        <div class="container-fluid amel-content-header">
        
            <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
            <a href="{% url 'allifmaalcommonapp:commonCompanyDetailsForClients' user_var glblslug %}">Company</a>
            <a href="{% url 'allifmaalcommonapp:commonDivisions' user_var glblslug %}">Divisions</a>
            <a href="{% url 'allifmaalcommonapp:commonBranches' user_var glblslug %}">Branches</a>
            <a href="{% url 'allifmaalcommonapp:commonDepartments' user_var glblslug %}">Departments</a>
        </div>
          </div><!--end....header column-->
          </div><!--end....header row-->
        </div><!--end....main headere-->
      
    <div class="allifmaincontainer">
      <div class="table-details-content-description"> <strong>{{main_sbscrbr_entity}}</strong>: Home|KPIs</div>
       <!--start of first row..ok -->
       <hr>

       
<div class="row mt-12" >

          <div class="col-md-4">
          <div class="card">
          <div class="card-header allif-dashboard-card-header">
           Prospects: <span><strong>{{quotes_total|floatformat:2|intcomma}}</strong></span>
          </div>
      
          <div class="col-md-12">
          <div class="column allif-dashboard-card-body">
          
        <div class="allif-scroll-table">
          <div class="table-responsive allif-full-table">
          <table class="table table-layout">
            <thead>
              <tr class="allif-table-header-row">
              <td>Number</td>
              <td>Value</td>
              <td>Date</td>
              </tr>
              </thead>
              <tbody class="allif-table-body">
              {% for item in allifqueryset_quotes %} 
              <tr data-id="{{item.id}}">
              <td><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonAddQuoteDetails' item.id user_var glblslug %}">{{item.number}}</a></td>
              <td>
                {{item.total|floatformat:2|intcomma}}
              </td>
              <td>{{item.date|date:'d/m/Y'}}</td>
        
          </tr>
          {% endfor %}
          
            </tbody>
          </table>
          </div>
         </div>
      
    
      </div>
      </div>
      
      
      </div>
      </div>
      
      <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          Premium Customers: <span><strong>{{customers_turnover|floatformat:2|intcomma}}</strong></span>
        </div>
    
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
    
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Customers</td>
            <td>Turnover</td>
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in allifqueryset_customers %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="">{{item.name}}</a></td>
           
            <td>
              {{item.turnover|floatformat:2|intcomma}}
            </td>
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
    
    </div>
    </div>
    
    
    </div>
    </div>
    
      
    <div class="col-md-4">
        <div class="card">
        <div class="card-header allif-dashboard-card-header">
          Premium Suppliers: <span> <strong>{{suppliers_turnover|floatformat:2|intcomma}}</strong></span>
        </div>
     
        <div class="col-md-12">
        <div class="column allif-dashboard-card-body">
        
    
      <div class="allif-scroll-table">
        <div class="table-responsive allif-full-table">
        <table class="table table-layout">
          <thead>
            <tr class="allif-table-header-row">
            <td>Suppliers</td>
           
            <td>Turnover</td>
        
            </tr>
            </thead>
            <tbody class="allif-table-body">
             
            
            {% for item in allifqueryset_suppliers %} 
            <tr data-id="{{item.id}}">
            <td><a class="allif-table-links" href="">{{item.name}}</a></td>
           
            <td>
              {{item.turnover|floatformat:2|intcomma}}
            </td>
        </tr>
        {% endfor %}
        
          </tbody>
        </table>
        </div>
       </div>
    
    
    </div>
    </div>
    
    
    </div>
    </div>
    
      </div>
      
      <!--end of first row-->
      
      <!--start of second row-->
      <hr>
       <!--start of first row-->
       <div class="row mt-12" >
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              Premium Stock Items <span>: <strong>{{gold_items_value|floatformat:2|intcomma}}</strong></span> 
            </div>
         
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
            
      
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Item</td>
               
                <td>Sold Units</td>
            
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in gold_items %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.description}}</a></td>
               
               
            <td>
              {{item.total_units_sold|floatformat:2|intcomma}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>
        </div>
        
       
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              Top Debtors <span>: <strong>{{customers_balances|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
            
      
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Customer</td>
               
                <td>Balance</td>
            
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in allifqueryset_debtors %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.name}}</a></td>
                  
            <td>
              {{item.balance|floatformat:2|intcomma}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              Top Creditors <span>: <strong>{{suppliers_balances|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
            
      
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Supplier</td>
               
                <td>Balance</td>
             
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in allifqueryset_creditors %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.name}}</a></td>
               
                <td>
              {{item.balance|floatformat:2|intcomma}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>
        </div>
        
      </div>
      
      <!--end of first row-->
      
      <!--start of second row-->
      <hr>
       <!--start of first row-->
       <div class="row mt-12" >
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              High Value Assets <span>: <strong>{{assets_value|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
    
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Item</td>
               
                <td>Value</td>
            
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in high_value_assets %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.description}}</a></td>
               
               
            <td>
              {{item.value|floatformat:2|intcomma}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>
        </div>
        
       
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              High Value Expenses <span>: <strong>{{expenses_value|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
            
      
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Expense</td>
               
                <td>Amount</td>
            
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in high_value_expenses %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.description}}</a></td>
                  
            <td>
              {{item.amount|floatformat:2|intcomma}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              Top Invoices <span>: <strong>{{invoices_total|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
         
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Supplier</td>
               
                <td>Balance</td>
                <td>Date</td>
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in high_value_invoices %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.number}}</a></td>
               
                <td>
              {{item.total|floatformat:2|intcomma}}
            </td>
            <td>
              {{item.date|date:'d/m/Y'}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>
        </div>
        
      </div>
     
      <hr>
       <!--start of first row-->
       <div class="row mt-12" >
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              Highest Customer Payments <span>: <strong>{{customer_payments_total|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
    
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Customer</td>
               
                <td>Amount</td>
            
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in high_value_customer_payments %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.customer}}</a></td>
               
               
            <td>
              {{item.amount|floatformat:2|intcomma}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>
        </div>
        
       
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              Highest Supplier Payments <span>: <strong>{{supplier_payments_total|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
            
      
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Supplier</td>
               
                <td>Amount</td>
            
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in high_value_supplier_payments %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.supplier}}</a></td>
                  
            <td>
              {{item.amount|floatformat:2|intcomma}}
            </td>
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
        </div>
        </div>
        
        
        </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
            <div class="card-header allif-dashboard-card-header">
              Top 10 Performing Staff <span>: <strong>{{staff_rating|floatformat:2|intcomma}}</strong></span>
            </div>
        
            <div class="col-md-12">
            <div class="column allif-dashboard-card-body">
         
          <div class="allif-scroll-table">
            <div class="table-responsive allif-full-table">
            <table class="table table-layout">
              <thead>
                <tr class="allif-table-header-row">
                <td>Staff</td>
               
                <td>Rating</td>
               
                </tr>
                </thead>
                <tbody class="allif-table-body">
                 
                
                {% for item in high_peformancing_staff %} 
                <tr data-id="{{item.id}}">
                <td><a class="allif-table-links" href="">{{item.first_name}}</a></td>
               
                <td>
              {{item.peformance_counter|floatformat:2|intcomma}}
            </td>
           
            </tr>
            {% endfor %}
            
              </tbody>
            </table>
            </div>
           </div>
        
      
        </div>
        </div>
        
        
        </div>

        </div>
        
      </div>
    <hr>
    </div><!--end of main container of the page-->
    
    
     
    <!--we can insert the other section here...-->
    
    </div>
       
    
   {% endblock %}
   