{% extends 'allifmaalshaafiapp/base/uimainbase/shaafispecbase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}

<div class="allifmaal-main-container">
    <!--we can insert the other section here-->
     
      <!--start....main headere-->
      <div class="card-header">
        <div class="row mt-12" ><!--start....header row-->
        <div class="col-md-12"><!--start....header column-->
        <div class="container-fluid amel-content-header">
        
            <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
            <a href="{% url 'allifmaalcommonapp:commonCompanyDetailsForClients' user_var glblslug %}">Company</a>
            <a href="{% url 'allifmaalcommonapp:commonDivisions' user_var glblslug %}">Divisions</a>
            <a href="{% url 'allifmaalcommonapp:commonBranches' user_var glblslug %}">Branches</a>
            <a href="{% url 'allifmaalcommonapp:commonDepartments' user_var glblslug %}">Departments</a>
        </div>
          </div><!--end....header column-->
          </div><!--end....header row-->
        </div><!--end....main headere-->
   <h1>Healthcare Dashboard</h1>
    
     
    <!--we can insert the other section here...-->
    
    </div>
       
    
   {% endblock %}
   