{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}

<!-- START... below is for loading contextual dynamic tags and links... used for only contextual links -->
{% load allif_contextual_action_tags %} {# this helps to put the links where you want and it loads them #}
{% allif_get_contextual_actions_map allifquery user_var glblslug as allif_contextual_action_links %}
<!--'allif_contextual_action_links' now holds the dictionary returned by the tag-->
<!-- END.. -->

{% load allif_navigation_tags %}

 {% block add-form-header-block %}

 
<div class="dropdown allifmaal-content-dropdown">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="content-dropdown-menu">
       <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddPODetails' allifquery.id user_var glblslug %}">Edit Item</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonAddPOItems' allifquery.id user_var glblslug %}">Add Item</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonPOMiscCost' allifquery.id user_var glblslug %}">Misc Costs</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonCalculatePOMiscCosts' allifquery.id user_var glblslug %}">Calculate PO Misc Costs</a></li>
          <li><a class="dropdown-item" href="{% url 'allifmaalcommonapp:commonPostPO' allifquery.id user_var glblslug %}">Post PO</a></li>
         
        <li><a class="dropdown-item body-delete-link" href="{% url 'allifmaalcommonapp:commonWantToDeletePO' allifquery.id user_var glblslug %}">Delete Item</a></li>
    
        
    </div>
    </ul>
  </div>


  <a href="{% allif_get_single_nav_link_url 'PurchaseOrders' user_var glblslug %}">Purchase Orders</a>
  
  <a href="{{ allif_contextual_action_links.pomiscosts.url }}">Misc. Costs</a>
 
  
{% endblock %}

   {% block core-tab-col-one %}
    <tr>
      <td class="allif-fix-table-col-forms">Purchase Name</td>
      <td>{{form.name}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Supplier</td>
      <td>{{form.supplier}}</td>
    </tr>
    
        
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
          <td class="allif-fix-table-col-forms">Description</td>
          <td>{{form.description}}</td>
        </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Delivery</td>
      <td>{{form.delivery}}</td>
    </tr>
     
    {%endblock%}

     {% block standard-tab-col-one %}
    
     <tr>
      <td class="allif-fix-table-col-forms">Quantity</td>
      <td>{{form.quantity}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Amount</td>
      <td>{{form.amount}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Misc. Costs</td>
      <td>{{form.misccosts}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Tax Amount</td>
      <td>{{form.taxamount}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Grand Total</td>
      <td>{{form.grandtotal}}</td>
    </tr>
    
       <tr>
      <td class="allif-fix-table-col-forms">Uplift</td>
      <td>{{form.uplift}}</td>
    </tr>
    
    {%endblock%}
       
   {% block standard-tab-col-two %}
         <tr>
      <td class="allif-fix-table-col-forms">Aprroval Status</td>
      <td>{{form.approval_status}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Balance</td>
      <td>{{form.balance}}</td>
    </tr>
  
     <tr>
      <td class="allif-fix-table-col-forms">Sales Tax</td>
      <td>{{form.taxrate}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Posting Status</td>
      <td>{{form.posting_po_status}}</td>
    </tr>
      <tr>
      <td class="allif-fix-table-col-forms">Payment Mode</td>
      <td>{{form.payment_terms}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Currency</td>
      <td>{{form.currency}}</td>
    </tr>
       
       
    {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'PurchaseOrders' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeletePurchaseOrderConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}
