{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
<!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
    <a href="{% url 'allifmaalcommonapp:commonAddPODetails' allifquery.id user_var glblslug %}">Back to PO</a>
    <a href="{% url 'allifmaalcommonapp:commonAddPOItems' allifquery.id user_var glblslug %}">Refresh</a>
    <a href="{% url 'allifmaalcommonapp:commonPOMiscCost' allifquery.id user_var glblslug %}">Misc Costs</a>
    <a href="{% url 'allifmaalcommonapp:commonPostPO' allifquery.id user_var glblslug %}">Post PO</a>
    <a href="{% url 'allifmaalcommonapp:commonPurchaseOrders' user_var glblslug %}">Purchase Orders</a>
    <a href="{% url 'allifmaalcommonapp:commonCalculatePOMiscCosts' allifquery.id user_var glblslug %}">Synch</a>
    
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->

<div class="allifmaincontainer">
  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"><!--start of the first row body-->
      <div class="allif-form-container">
      
      <div class="row"><!--start of row div --->
        <div class="allif-scroll-table">
          <div class="table-responsive allif-full-table">
          <table class="table table-layout">
            <thead>
              <tr class="allif-table-header-row">
              <td class="allif-fix-table-col">Description</td>
         
          
          <td>Quantity</td>
          <td>Unit Cost</td>
          <td>Amount</td>
        
           
              <td>Navigate</td>
              
              <td> . . . </td>
              <td></td>
              </tr>
              </thead>
              <tbody class="allif-table-body">
              
              <tr>
                <form method='POST' action=''>{% csrf_token %}
                 
                  <td id="allif-table-inline-form">{{form.items}}</td>
                  <td id="allif-table-inline-form">{{form.quantity}}</td>
                  <td id="allif-table-inline-form">{{form.unitcost}}</td>
                  <td id="allif-table-inline-form" colspan="1"> <input type="submit" value='Add Item' class="btn btn-success allifmaal-submit-btn"></td>
                  <td id="allif-table-inline-form" colspan="2"></td>
                  <td id="allif-table-inline-form" colspan="3"></td>
                </form>
                </tr>
               
              
              {% for item in allifqueryset %} 
              <tr data-id="{{item.id}}">
              <td><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonStockItemDetails' item.id user_var glblslug %}">{{item.items}}</a></td>
             
              <td>{{item.quantity|floatformat:2|intcomma}} </td>
              <td>{{item.unitcost|floatformat:2|intcomma}}</td>
              <td>{{item.purchase_order_amount|floatformat:2|intcomma}}</td>
             
               <td>
                <div class="dropdown allifmaal-content-dropdown">
                  <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                  <div class="dropdown-content">
                    <a href="{% url 'allifmaalcommonapp:commonEditPOItem' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                    <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                    
                  </div>
                </div>
                <div class="dropdown allif-confirm-action">
                  
                  <a href="{% url 'allifmaalcommonapp:commonAddPOItems' item.po_item_con.id user_var glblslug %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
                  <a href="{% url 'allifmaalcommonapp:commonDeletePOItem' item.id user_var glblslug %}" id="allif-confirm-delete">Confirm</a>
                </div>
      
               
              </td>
             <td> . . . </td>
             <td></td>
            
        
          </tr>
          {% endfor %}
          <tr>
            
            <td id="allif-table-sums-section" colspan="3">Sub Total</td>
            <td id="allif-table-sums-section">{{allifquery.amount|intcomma}}</td>
            <td id="allif-table-sums-section" colspan="3"></td>
           
          </tr>
         
            <tr>
             
              <td id="allif-table-sums-section" colspan="3">Tax Amount</td>
              <td id="allif-table-sums-section">{{allifquery.taxamount|floatformat:2|intcomma}}</td>
              <td id="allif-table-sums-section" colspan="3"></td>
              
              </tr>
          
            <tr>
             
              <td id="allif-table-sums-section" colspan="3">Tax Inclusive</td>
              <td id="allif-table-sums-section">{{allifquery.amounttaxincl|floatformat:2|intcomma}}</td>
              <td id="allif-table-sums-section" colspan="3"></td>
              </tr>
              <tr>
               
                <td id="allif-table-sums-section" colspan="3">Misc. Costs</td>
                <td id="allif-table-sums-section">{{allifquery.misccosts|floatformat:2|intcomma}}</td>
                <td id="allif-table-sums-section" colspan="3"></td>
                </tr>
  
                <tr>
                 
                  <td id="allif-table-sums-section" colspan="3">Grand Total</td>
                  <td id="allif-table-sums-section">{{allifquery.grandtotal|floatformat:2|intcomma}}</td>
                  <td id="allif-table-sums-section" colspan="3"></td>
                  </tr>

         
            </tbody>
          </table>
          </div>
         </div>

          </tbody>
          </table>
                   
      <!--end of table-->
          
            </div><!--end of column 1-->
        
        </div><!--end of row div --->
            
        </div>
            </div><!--end of first row body....-->
  
</div><!--end of main container of the page-->
</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
