{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allif_pdf_main_body_container">
  
<!--start of ... Table header section-->
<div class="allif-table-pdf-header">
<table class="allif-pdf-table-header-section">
    <tr>
      <th>Purchase Order Details</th>
      <th>Supplier Details</th>
      <th>Terms Details</th>
      
    </tr>

    <tr> 
    <td>
    <li><span class="allif-pdf-table-content-headers">P.O.REF.</span> {{allifquery.po_number}}</li>
    <li><span class="allif-pdf-table-content-headers">Department</span> {{allifquery.department}}</li>
    <li><span class="allif-pdf-table-content-headers">Date</span> {{allifquery.date|date:'d/m/Y'}}</li>
    </td>

    <td>
    <li><span class="allif-pdf-table-content-headers">Supplier</span> {{allifquery.supplier}}</li>
    <li><span class="allif-pdf-table-content-headers">Phone</span> {{allifquery.supplier.phone}}</li>
    <li><span class="allif-pdf-table-content-headers">Address</span> {{allifquery.supplier.address}}</li>
    </td>

    <td>
    <li><span class="allif-pdf-table-content-headers">Comments</span> {{allifquery.comments}}</li>
    <li><span class="allif-pdf-table-content-headers">Terms</span> {{allifquery.payment_terms}}</li>
    <li><span class="allif-pdf-table-content-headers">Delivery</span> {{allifquery.delivery}}</li>

    </td>

    </tr>

    </table>
    </div>
    <!--end of ... Table header section-->
    <div class="allif-pdf-table-content-body-header">
    <span class="allif-pdf-table-content-headers">Subject: </span> {{allifquery.description}}
    
    </div>


<!--start of ... table main dynamic content section-->
<div class="allif-pdf-table-content-body-section">
    <table class="allif-pdf-table-body">

    <tr>
    <th colspan="5">Description</th>
    <th colspan="2">Quantity</th>
    <th colspan="2">Unit Cost</th>
    <th colspan="3">Amount</th>
    </tr>
   
    <tbody>
    {% for item in allifqueryset %}
    <tr>
    <td colspan="5">{{item.items}}</td>
    <td colspan="2">{{item.quantity|floatformat:2|intcomma}}</td>
    <td colspan="2"> {{item.unitcost|floatformat:2|intcomma}}</td>
    <td colspan="3">{{item.purchase_order_amount|floatformat:2|intcomma}}</td>
    
    </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>
    <!--start of ... table main dynamic content section-->

    <div class="allif-pdf-table-body-summary-section">
    <table class="allif-pdf-table-body-summary">
    <tbody>
    
    <tr>
    <td colspan="5" id="allif-pdf-table-body-no-border"></td>
    <td colspan="4"> Sub Total </td>
    <td colspan="3">{{allifquery.amount|floatformat:2|intcomma}} </td>
    </tr>

    <tr>
    <td colspan="5" id="allif-pdf-table-body-no-border"></td>
    <td colspan="4"> Add Tax  </td>
    <td colspan="3"> {{allifquery.taxamount|floatformat:2|intcomma}}</td>
    </tr>

    <tr>
    <td colspan="5" id="allif-pdf-table-body-no-border"></td>
    <td colspan="4"> Tax Inclusive {{allifquery.currency}}</td>
    <td colspan="3">{{allifquery.amounttaxincl|floatformat:2|intcomma}} </td>
    </tr>

    </tbody>
    </table>
    </div>
  
</div> 


{% block scripts %}

{% endblock %}

{% endblock %}
   
 