  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonPOSearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonPOAdvanceSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}
  <a href="{% allif_get_single_nav_link_url 'PurchaseOrders' user_var glblslug %}">Purchases</a>
 <a href="{% allif_get_single_nav_link_url 'AddPurchaseOrder' user_var glblslug %}">New PO</a>
  <a href="{% url 'allifmaalcommonapp:commonSpaces' user_var glblslug %}">Warehouses</a>
    <a href="{% url 'allifmaalcommonapp:commonTransferOrders' user_var glblslug %}">Transfer Orders</a>
    <a href="{% url 'allifmaalcommonapp:commonCategories' user_var glblslug %}">Categories</a>
  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col"> Number</td>
   <td class="allif-table-header-td">Supplier</td>
  
  <td class="allif-table-header-td">Amount</td>
  
  <td class="allif-table-header-td">Misc Cost</td>
   <td class="allif-table-header-td">Tax</td>
  <td class="allif-table-header-td">Total</td>
  {% endblock %}

    
  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonAddPODetails' item.id user_var glblslug %}"> {{item.number}} </a>{%endblock%}</td>
  <td class="allif-table-content-td"> {{item.supplier}} </td>
  <td class="allif-table-content-td">
  <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonAddPOItems' item.id user_var glblslug %}">{{item.amount|floatformat:2|intcomma}}</a>
</td>
 <td class="allif-table-content-td">
  <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCalculatePOMiscCosts' item.id user_var glblslug %}">{{item.misccosts|floatformat:2|intcomma}}</a>
</td>
 <td class="allif-table-content-td">
  <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCalculatePOMiscCosts' item.id user_var glblslug %}">{{item.taxamount|floatformat:2|intcomma}}</a>
</td>
 <td class="allif-table-content-td">
  <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonCalculatePOMiscCosts' item.id user_var glblslug %}">{{item.grandtotal|floatformat:2|intcomma}}</a>
</td>

  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonAddPODetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
  
  
  {% endblock %}
