  {% extends 'allifmaalcommonapp/ui/details/item-details.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block add-form-header-block %}
 <a href="{% allif_get_single_nav_link_url 'LedgerEntries' user_var glblslug %}">Ledger Entries</a>

  {%endblock%}

  {% block details-table-col-one %}
  
      <tr>
      <td class="allif-fix-table-col">Ledger Owner</td>
      <td>{{allifquery.ledgowner}}</td>
    </tr>
    
  
  {%endblock%}

  {% block details-table-col-two %}
   <tr>
    <td class="allif-fix-table-col">Description</td>
    <td>{{allifquery.comments}}</td>
  </tr>
 
 
  
 
  {% endblock %}
  
  {% block core-details-tab-col-one %}
  <tr>
    <td class="allif-fix-table-col">Balance</td>
    <td>{{allifquery.balance|floatformat:2|intcomma}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Credit</td>
    <td>{{allifquery.credit|floatformat:2|intcomma}}</td>
  </tr>
 

  {%endblock%}

  {% block core-details-tab-col-two %}
  <tr>
    <td class="allif-fix-table-col">Debit</td>
    <td>{{allifquery.debit|floatformat:2|intcomma}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">New Amount</td>
    <td>{{allifquery.newamount|floatformat:2|intcomma}}</td>
  </tr>

  {% endblock %}

  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col">{{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'LedgerEntries' user_var glblslug %}">Go Back</a></td>
    </tr>
 
    
  {%endblock%}

  {% block general-details-tab-col-two %}
  <tr>
    <td class="allif-fix-table-col">Description</td>
    <td>{{allifquery.description}}</td>
  </tr>
  {% endblock %}
  
  {% block allif_sensitive_section_col_two %}
  <tr>
    <td class="allif-fix-table-col">Delet {{allifquery}}</td>
    <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteLedgerEntryConfirm.url }}">Delete {{allifquery}}</a></td>
  </tr>
  {%endblock%}

  {% block item_details_related_items_full_table %} {%endblock%}
  {% block item_details_related_items_full_half_tables %}{%endblock%}
