

<div> <!--this div is not necessary but just added so as to have all links under one div...-->

<div class="allifmaaltopnavone" id="allifmaaltopnavoneid">
  <a href="#" class="opensidemenuonebtn sidenavonemenulinksforminiscreens topnavmobilelinks">Mn1 <i class="fa fa-caret-down"></i></a>

  <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}" class="topnavlaptoplinks">Hm</a>
  
  
  <a href="{% url 'allifmaalcommonapp:commonExpenses' user_var glblslug %}" class="topnavlaptoplinks">Ex</a>
  <a href="{% url 'allifmaalcommonapp:ui1' user_var glblslug %}" class="topnavlaptoplinks">1</a>
  
  
  
  
  
  
  <a href="{% url 'allifmaalcommonapp:commonSupplierPayments' user_var glblslug %}" class="topnavtabletlinks">SupPy</a>
  <a href="{% url 'allifmaalcommonapp:commonSupplierStatements' user_var glblslug %}" class="topnavtabletlinks">Supstm </a>

  <a href="{% url 'allifmaalcommonapp:commonPaySupplierDirect' user_var glblslug %}" class="topnavtabletlinks">PaySupps </a>
   
  
<a href="{% url 'allifmaalcommonapp:commonCustomerStatements' user_var glblslug %}" class="topnavtabletlinks">Custment </a>
<a href="{% url 'allifmaalcommonapp:commonCustomerPayments' user_var glblslug %}" class="topnavtabletlinks">Cuspymnts</a>
    
  
  <a href="{% url 'allifmaaladminapp:adminappHome' user_var glblslug %}" class="topnavlaptoplinks">SC</a>
  <a href="{% url 'allifmaalcommonapp:commonSalaries' user_var glblslug %}"  class="topnavlaptoplinks">Payrl</a>
  <a href="#" class="opentopnavdropdownmenulinkone topnavminilaptoplinks"> s <i class="fa fa-caret-down"></i></a>
  <a href="#" class="opentopnavdropdownmenulinktwo topnavminilaptoplinks"> Asts <i class="fa fa-caret-down"></i>
    <a href="#" class="opentopnavdropdownmenulinkthree topnavminilaptoplinks">M <i class="fa fa-caret-down"></i></a>
  
  
  
  <a href="{% url 'allifmaaluiapp:allifmaalUIMainUIHome' %}" class="topnavlaptoplinks">UI</a>

  
  <a href="{% url 'allifmaalcommonapp:commonPurchaseOrders' user_var glblslug %}" class="topnavlaptoplinks">PO</a>
  <a href="{% url 'allifmaalcommonapp:commonQuotes' user_var glblslug %}" class="topnavlaptoplinks">Qt</a>
  <a href="{% url 'allifmaalcommonapp:commonInvoices' user_var glblslug %}" class="topnavlaptoplinks">Inv</a>
  <a href="{% url 'allifmaalcommonapp:commonJobs' user_var glblslug %}" class="topnavlaptoplinks">jb</a>
  <a href="{% url 'allifmaalcommonapp:commonTasks' user_var glblslug %}" class="topnavlaptoplinks">Tsks</a>
  <a href="{% url 'allifmaalcommonapp:commonTaxParameters' user_var glblslug %}" class="topnavlaptoplinks">Tax</a>
  <a href="{% url 'allifmaalcommonapp:commonProfitAndLoss' user_var glblslug %}" class="topnavlaptoplinks">p&l</a>
  <a href="{% url 'allifmaalcommonapp:commonMainReports' user_var glblslug %}" class="topnavlaptoplinks">Rrt</a>
  <a href="" class="topnavlaptoplinks">apr</a>

  <a href="" class="topnavdesktoplinks">Desktop</a>
  <a href="#about" class="topnavdesktoplinks">Desktop</a>
  <a href="#about" class="topnavlargescreenlinks">screen</a>
  <a href="#about" class="topnavlargescreenlinks">Screen</a>
  <a href="#about" class="topnavlargescreenlinks">screen</a>
  <a href="#about" class="topnavlargescreenlinks">Screen</a>
  <a href="#about" class="topnavlargescreenlinks">screen</a>
  <a href="#about" class="topnavlargescreenlinks">Screen</a>
  <a href="#about" class="topnavlargescreenlinks">screen</a>
  <a href="#about" class="topnavlargescreenlinks">Screen</a>
  <a href="#about" class="topnavlargescreenlinks">screen</a>
  <a href="#about" class="topnavlargescreenlinks">Screen</a>
  <a href="#about" class="topnavlargescreenlinks">screen</a>
  <a href="#about" class="topnavlargescreenlinks">Screen</a>
  <a href="#about" class="topnavlargescreenlinks">screen</a>
  <a href="#about" class="topnavlargescreenlinks">Screen</a>
  <a href="{% url 'allifmaalusersapp:userLogoutPage' %}"  class="topnavlargescreenlinks">Logout</a>
 
   <!--the only work of javascript:void(0) is to makes the cursor pointer like hand...-->
  <a href="javascript:void(0);" class="allifmaaltopnavoneicon" onclick="opentopnavonehiddenlinks()"><i class="fa fa-bars"></i> </a>
</div>

<!-- below are the drop down links....3-->
<!-- links one ....-->
<div class="topnavmenudropdownmenuonewithclose">
  <a href="#" class="opentopnavdropdownmenulinkone topnavminilaptoplinks topnav-close-link"> Close <i class="fa fa-close"></i> </a>
  <a href="{% url 'allifmaaluiapp:allifmaalUIFormAddItem' %}">Add Items</a>
  <a href="#">Market</a>
  <a href="#" class="">Sales</a>
  <a href="#" class="">Sales</a>
</div>

<!-- links two ....-->
<div class="topnavmenudropdownmenutwowithclose">
  <a href="#" class="opentopnavdropdownmenulinktwo topnavminilaptoplinks topnav-close-link"> Close <i class="fa fa-close"></i> </a>
  <a href="{% url 'allifmaalcommonapp:commonAssets' user_var glblslug %}">Assets</a>
  <a href="#">Xawa</a>
  <a href="#" class="">Rents</a>
  <a href="#" class="">Marketing</a>
</div>

<!-- links three ....-->
<div class="topnavmenudropdownmenuthreewithclose">
  <a href="#" class="opentopnavdropdownmenulinkthree topnavminilaptoplinks topnav-close-link"> Close <i class="fa fa-close"></i> </a>
  <a href="#">Sales</a>
  <a href="#">Xawa</a>
  <a href="#" class="">Rents</a>
  <a href="#" class="">Marketing</a>
</div>
</div>