{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}

 {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Transactions' user_var glblslug %}">Transactions</a>
  <a href="{% allif_get_single_nav_link_url 'triagedata' user_var glblslug %}">Triage</a>
  <a href="{% allif_get_single_nav_link_url 'MedicalAssessments' user_var glblslug %}">Assessments</a>
  <a href="{% allif_get_single_nav_link_url 'Tests' user_var glblslug %}">Lab Tests</a>
  <a href="{% allif_get_single_nav_link_url 'Results' user_var glblslug %}">Results</a>
  <a href="{% allif_get_single_nav_link_url 'prescriptions' user_var glblslug %}">Prescriptions</a>
 
{% endblock %}
{% block details-table-col-one %}
 <tr>
    <td class="allif-fix-table-col">Customer</td>
    <td>{{allifquery.medical_file.customer}}</td>
  </tr>

{%endblock%}
{% block details-table-col-two %}
 <tr>
    <td class="allif-fix-table-col">Test For </td>
    <td>{{allifquery.medication}}</td>
  </tr>
{%endblock%}
   {% block core-tab-col-one %}
  
  
    <tr>
      <td class="allif-fix-table-col-forms">Medication</td>
      <td>{{form.medication}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Dosage Form</td>
      <td>{{form.dosage_form}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Dosage</td>
      <td>{{form.dosage}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Via</td>
      <td>{{form.via}}</td>
    </tr>
     
    
     
    {%endblock%}

    {% block core-tab-col-two %}
     <tr>
      <td class="allif-fix-table-col-forms">Quantity</td>
      <td>{{form.quantity}}</td>
    </tr>
    
     <tr>
        <td class="allif-fix-table-col-forms">Instructions</td>
        <td>{{form.description}}</td>
      </tr>
       
       
      
     
    
    {%endblock%}
 {% block standard-tab-col-one %}
   <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
     <tr>
        <td class="allif-fix-table-col-forms">Prescribed by Dr</td>
        <td>{{form.prescribed_by_doctor}}</td>
      </tr>
        

 {%endblock%}
 {% block standard-tab-col-two %}
 <tr>
        <td class="allif-fix-table-col-forms">Issued By</td>
        <td>{{form.issued_by_pharmacist}}</td>
      </tr>
  <tr>
        <td class="allif-fix-table-col-forms">Issue Status</td>
        <td>{{form.is_issued}}</td>
      </tr>
 {%endblock%}
    


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'prescriptions' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeletePrescriptionConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    
    {% endblock %}

     {% block bottom-fields-col-one %}
     <tr>
      <td class="allif-fix-table-col-forms">Frequency</td>
      <td>{{form.frequency}}</td>
    </tr>
     {%endblock%}
       {% block bottom-fields-col-two %}
        <tr>
        <td class="allif-fix-table-col-forms">Duration</td>
        <td>{{form.duration}}</td>
      </tr>
     {%endblock%}

    