{% extends 'allifmaalshaafiapp/base/uimainbase/shaafibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
 
<!--start....main headere-->
<div class="card-header">

<div class="row mt-12" ><!--start....header row-->

<div class="col-md-12"><!--start....header column-->

<div class="container-fluid amel-content-header">

  <a class="amel-table-list-identifier">Add New Prescriptions:</a>

  <a href="{% url 'allifmaalshaafiapp:prescriptions' user_var glblslug %}">Prescriptions</a>

</div>

    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->


  <div class="allifmaincontainer">
{% if allifquery_update %}
<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description">Edit {{allifquery}} Warehouse Details</div>
  <form method='POST' action=''>{% csrf_token %}
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
    
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>

      <tr>
        <td class="allif-fix-table-col">Division</td>
        <td>{{form.division}}</td>
    
        </tr>
        
        <tr>
          <td class="allif-fix-table-col">Branch</td>
          <td>{{form.branch}}</td>
      
          </tr>
       
           
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
        
          <tr>
            <td class="allif-fix-table-col">Department</td>
            <td>{{form.department}}</td>
        
            </tr>
            <tr>
              <td class="allif-fix-table-col">Warehouse</td>
              <td>{{form.name}}</td>
          
              </tr>
        
           
          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
          <tr>
            <td class="allif-fix-table-col">Comments</td>
            <td>{{form.comments}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Inventory A/C</td>
            <td>{{form.inventory_account}}</td>
        
            </tr>
 
            <tr>
              <td class="allif-fix-table-col">Action</td>
              <td> <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
          
              </tr>
          </tbody>
          </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>

<div class="error-body">
  <p>{{error_message}}</p>
  </div>
</form>
<!--end of table-->

</div><!--end of main container of the page....-->
{% else %}

<div class="row mt-12"> <!--start....table row-->
  <div class="table-details-content-description">Add/Edit New General Ledger Account</div>
  <form method='POST' action=''>{% csrf_token %}
  <div class="col-md-12"> <!--start....table column-->
  <div class="allif-scroll-table">
    <div class="allif-info-tables">
      <div class="row"><!--start of row div --->
  <!--start of column two-->
  <div class="col-md-4">
  
      <!--start of the table here-->
      <div class="table-responsive">
      <table class="table table-layout">
      <tbody>
        <tr>
          <td class="allif-fix-table-col">Medical File</td>
          <td>{{form.medical_file}}</td>
      
          </tr>

        <tr>
            <td class="allif-fix-table-col">Status</td>
            <td>{{form.is_issued}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Quantity</td>
            <td>{{form.quantity}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Via</td>
            <td>{{form.via}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Medication</td>
            <td>{{form.medication}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Dosage From</td>
            <td>{{form.dosage_form}}</td>
        
            </tr>
            
           
        </tbody>
        </table>
      </div>
        </div>
           
    
     <!--start of column two-->
     <div class="col-md-4">
       <!--start of the table here-->
       <div class="allif-details-card table-responsive">
       <table class="table table-layout">
        <tbody>
          <tr>
            <td class="allif-fix-table-col">Dosage</td>
            <td>{{form.dosage}}</td>
        
            </tr>
        <tr>
            <td class="allif-fix-table-col">Frequency</td>
            <td>{{form.frequency}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Duration</td>
            <td>{{form.duration}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Prescribed By</td>
            <td>{{form.prescribed_by_doctor}}</td>
         
            </tr>
             <tr>
            <td class="allif-fix-table-col">Instructions</td>
            <td>{{form.instructions}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Issued By</td>
            <td>{{form.issued_by_pharmacist}}</td>
        
            </tr>
           
          </tbody>
          </table>
          </div>
          </div>
    
    
     <!--start of column two-->
     <div class="col-md-4">
      <div class="allif-details-card table-responsive">
       <!--start of the table here-->
       <table class="table table-layout">
        <tbody>
        <tr>
            <td class="allif-fix-table-col">Issued On</td>
            <td>{{form.issued_date_time}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Max Occupancy</td>
            <td>{{form.max_occupancy}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Monthly Rent</td>
            <td>{{form.monthly_rent}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Description</td>
            <td>{{form.description}}</td>
        
            </tr>
             <tr>
            <td class="allif-fix-table-col">Status</td>
            <td>{{form.current_status}}</td>
        
            </tr>
           
          
        <tr>
          <td class="allif-fix-table-col">Action</td>
          <td> <input type="submit" value='Save' class="btn btn-success allifmaal-submit-btn"></td>
      
          </tr>
      </tbody>
      </table>
  </div>
    </div>
    </div><!--end of row div --->
      
        </div>

</div><!--end....table row-->
</div>

<div class="error-body">
  <p>{{error_message}}</p>
  </div>
</form>
<!--end of table-->



</div><!--end of main container of the page....-->

{% endif %}


</div>

</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
