{% extends 'allifmaalcommonapp/ui/forms/add-form.html'%}
{% load allif_navigation_tags %}
 {% block add-form-header-block %}
  <a href="{% allif_get_single_nav_link_url 'Stocks' user_var glblslug %}">Inventory Stocks</a>
 <a href="{% allif_get_single_nav_link_url 'AddStockItem' user_var glblslug %}">Add Stock Item</a>

  {% endblock %}
   {% block core-tab-col-one %}
  <tr>
      <td class="allif-fix-table-col-forms">Part Number</td>
      <td>{{form.number}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Name</td>
      <td>{{form.name}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Description</td>
      <td>{{form.description}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Item Code</td>
      <td>{{form.code}}</td>
    </tr>
   
    {%endblock%}

    {% block core-tab-col-two %}
   <tr>
      <td class="allif-fix-table-col-forms">Quantity</td>
      <td>{{form.quantity}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Buying Price</td>
      <td>{{form.buyingPrice}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col-forms">Unit Cost</td>
      <td>{{form.unitcost}}</td>
    </tr>
   
    
     <tr>
      <td class="allif-fix-table-col-forms">Standard Unit Cost</td>
      <td>{{form.standardUnitCost}}</td>
    </tr>
     
   
    {%endblock%}

     {% block standard-tab-col-one %}
       <tr>
      <td class="allif-fix-table-col-forms">Unit Price</td>
      <td>{{form.unitPrice}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Critical Number</td>
      <td>{{form.criticalnumber}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Total Units Sold</td>
      <td>{{form.total_units_sold}}</td>
    </tr>
    
     <tr>
        <td class="allif-fix-table-col-forms">Inventory A/C</td>
        <td>{{form.inventory_account}}</td>
      </tr>
     <tr>
        <td class="allif-fix-table-col-forms">Income A/C</td>
        <td>{{form.income_account}}</td>
      </tr>

   
    <tr>
      <td class="allif-fix-table-col-forms">Expense A/C</td>
      <td>{{form.expense_account}}</td>
    </tr>
    
    <tr>
      <td class="allif-fix-table-col-forms">Sales Tax</td>
      <td>{{form.taxrate}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Supplier Tax Rate</td>
      <td>{{form.suppliertaxrate}}</td>
    </tr>
     
  
    
    {%endblock%}
       
   {% block standard-tab-col-two %}
    <tr>
      <td class="allif-fix-table-col-forms">Normal Range</td>
      <td>{{form.normal_range}}</td>
    </tr>
   
     <tr>
      <td class="allif-fix-table-col-forms">Units</td>
      <td>{{form.units}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Length</td>
      <td>{{form.length}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Width</td>
      <td>{{form.width}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Height</td>
      <td>{{form.height}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col-forms">Weight</td>
      <td>{{form.weight}}</td>
    </tr>
    <tr>
      <td class="allif-fix-table-col-forms">Expires</td>
      <td>{{form.expires}}</td>
    </tr>

    <tr>
      <td class="allif-fix-table-col-forms">Item State</td>
      <td>{{form.item_state}}</td>
    </tr>
   
  
    {%endblock%}
{% block bottom-fields-col-one %}
    
       <tr>
      <td class="allif-fix-table-col-forms">Category</td>
      <td>{{form.category}}</td>
    </tr>
    
      {%endblock%}
    {% block bottom-fields-col-two %}
      
     <tr>
      <td class="allif-fix-table-col-forms">Warehouse</td>
      <td>{{form.warehouse}}</td>
    </tr>

      {%endblock%}


  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col"> {{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Stocks' user_var glblslug %}">Go Back</a></td>
    </tr>
  {% endblock %}
  {% block allif_sensitive_section_col_two %}
    <tr>
      <td class="allif-fix-table-col">Delet {{allifquery}}</td>
      <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteStockItemConfirm.url }}">Delete {{allifquery}}</a></td>
    </tr>
    {% endblock %}
