  {% extends 'allifmaalcommonapp/ui/details/item-details.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block add-form-header-block %}
   <a href="{% allif_get_single_nav_link_url 'Stocks' user_var glblslug %}">Inventory Stocks</a>
 <a href="{% allif_get_single_nav_link_url 'AddStockItem' user_var glblslug %}">Add Stock Item</a>

  {%endblock%}

  {% block details-table-col-one %}
    <tr>
      <td class="allif-fix-table-col">Name</td>
      <td>{{allifquery.name}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Description</td>
      <td>{{allifquery.description}}</td>
    </tr>
     <tr>
      <td class="allif-fix-table-col">Number</td>
      <td>{{allifquery.number}}</td>
    </tr>

     <tr>
      <td class="allif-fix-table-col">Category</td>
      <td>{{allifquery.category}}</td>
    </tr>
    
  {%endblock%}

  {% block details-table-col-two %}
  <tr>
    <td class="allif-fix-table-col">Quantity</td>
    <td>{{allifquery.quantity|floatformat:2|intcomma}}</td>
  </tr>
   <tr>
      <td class="allif-fix-table-col">Unit Cost</td>
      <td>{{allifquery.unitcost|floatformat:2|intcomma}}</td>
    </tr>
     <tr>
    <td class="allif-fix-table-col">Unit Price</td>
    <td>{{allifquery.unitPrice|floatformat:2|intcomma}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Balance</td>
    <td>{{allifquery.balance|floatformat:2|intcomma}}</td>
  </tr>

  
  {% endblock %}
  
  {% block core-details-tab-col-one %}
   <tr>
    <td class="allif-fix-table-col">Standard Unit Cost</td>
    <td>{{allifquery.standardUnitCost|floatformat:2|intcomma}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Buying Price</td>
    <td>{{allifquery.buyingPrice|floatformat:2|intcomma}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Critical Number</td>
    <td>{{allifquery.criticalnumber|floatformat:2|intcomma}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Income A/C</td>
    <td>{{allifquery.income_account}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Inventory A/C</td>
    <td>{{allifquery.inventory_account}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Expense A/C</td>
    <td>{{allifquery.expense_account}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Sales Tax</td>
    <td>{{allifquery.taxrate}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Total Units Sold</td>
    <td>{{allifquery.total_units_sold|floatformat:2|intcomma}}</td>
  </tr>
   
  {%endblock%}

  {% block core-details-tab-col-two %}
  <tr>
    <td class="allif-fix-table-col">Expires</td>
    <td>{{allifquery.expires}}</td>
  </tr>
   <tr>
    <td class="allif-fix-table-col">Normal Range</td>
    <td>{{allifquery.normal_range}}</td>
  </tr>



  <tr>
    <td class="allif-fix-table-col">Length</td>
    <td>{{allifquery.length}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Width</td>
    <td>{{allifquery.width}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Height</td>
    <td>{{allifquery.height}}</td>
  </tr>
  <tr>
    <td class="allif-fix-table-col">Weight</td>
    <td>{{allifquery.weight}}</td>
  </tr>

  <tr>
    <td class="allif-fix-table-col">Date</td>
    <td>{{allifquery.date|date:'d/m/Y'}}</td>
  </tr>
  {% endblock %}

  {% block allif_sensitive_section_col_one %}
    <tr>
      <td class="allif-fix-table-col">{{allifquery}}</td>
      <td><a class="amel-table-list-identifier" href="{% allif_get_single_nav_link_url 'Stocks' user_var glblslug %}">Go Back</a></td>
    </tr>
  {%endblock%}

  {% block general-details-tab-col-two %}
  <tr>
    <td class="allif-fix-table-col">Description</td>
    <td>{{allifquery.description}}</td>
  </tr>
  {% endblock %}
  
  {% block allif_sensitive_section_col_two %}
  <tr>
    <td class="allif-fix-table-col">Delet {{allifquery}}</td>
    <td><a class="amel-table-list-identifier body-delete-link" href="{{ allif_contextual_action_links.DeleteStockItemConfirm.url }}">Delete {{allifquery}}</a></td>
  </tr>
  {%endblock%}

{% block item_details_related_items_full_half_tables %}
{%endblock%}
