  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonStockItemSearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonStockItemAdvanceSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}
  <a href="{% allif_get_single_nav_link_url 'Stocks' user_var glblslug %}">Inventory Stocks</a>
 <a href="{% allif_get_single_nav_link_url 'AddStockItem' user_var glblslug %}">Add Stock Item</a>
  <a href="{% url 'allifmaalcommonapp:commonSpaces' user_var glblslug %}">Warehouses</a>
    <a href="{% url 'allifmaalcommonapp:commonTransferOrders' user_var glblslug %}">Transfer Orders</a>
    <a href="{% url 'allifmaalcommonapp:commonCategories' user_var glblslug %}">Categories</a>
  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col"> Number</td>
   <td class="allif-table-header-td"> Description</td>
  
  <td class="allif-table-header-td"> Quantity</td>
  
  <td class="allif-table-header-td">Unit Cost</td>
  <td class="allif-table-header-td">Unit Price</td>
  {% endblock %}

  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonStockItemDetails' item.id user_var glblslug %}"> {{item.number}} </a>{%endblock%}</td>
  <td class="allif-table-content-td"> {{item.description}} </td>
  <td class="allif-table-content-td"> {{item.quantity|floatformat:2|intcomma}} </td>
  <td class="allif-table-content-td"> {{item.unitcost|floatformat:2|intcomma}} </td>
  <td class="allif-table-content-td"> {{item.unitPrice|floatformat:2|intcomma}} </td>
  
  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonEditStockItem' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
  
  
  {% endblock %}
  