{% extends 'allifmaalcommonapp/base/uimainbase/allifpdfuibase.html'%}
{% load humanize %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allif_pdf_main_body_container">
  
<!--start of ... table main dynamic content section-->
<div class="allif-pdf-table-content-body-section">
    <table class="allif-pdf-table-body">

    <tr>
    <th colspan="2">Part Number</th>
    <th colspan="2">Category</th>
    <th colspan="6">Description</th>
    <th colspan="2">Quantity</th>
    </tr>
   
    <tbody>
    {% for item in searched_data %}
    <tr>
    <td colspan="2">{{item.partNumber}}</td>
    <td colspan="2">{{item.category}}</td>
    <td colspan="6">{{item.description}}</td>
    <td colspan="2"> {{item.quantity|floatformat:2|intcomma}}</td>
    
    </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>
    <!--start of ... table main dynamic content section-->

  
</div> 


{% block scripts %}

{% endblock %}

{% endblock %}
   
