{% extends 'allifmaalcommonapp/ui/general/delete-confirm.html'%}
{% load allif_navigation_tags %}
 <a href="{% allif_get_single_nav_link_url 'Stocks' user_var glblslug %}">Stocks</a>
  <a href="{% allif_get_single_nav_link_url 'AddStockItem' user_var glblslug %}">New Item</a>
{% block delete-action-decline %}
<a class="amel-table-list-identifier" href="{% url 'allifmaalcommonapp:commonStocks' user_var glblslug %}">No, Dont Delete {{allifquery}}</a>
{% endblock %}

{% block delete-action-confirm %}
<a class="amel-table-list-identifier body-delete-link" href="{% url 'allifmaalcommonapp:commonDeleteStockItem' allifquery.id user_var glblslug %}"> Yes, Delete {{allifquery}}</a>
{% endblock %}
     