{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% load allif_navigation_tags %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}
<div class="allifmaal-main-container">
<!--start....main headere-->
<div class="card-header">
  <div class="row mt-12" ><!--start....header row-->
  <div class="col-md-12"><!--start....header column-->
  <div class="container-fluid amel-content-header">
    <a class="amel-table-list-identifier">Add Items {{allifquery}}:</a>
    <a href="{% url 'allifmaalcommonapp:commonHome' user_var glblslug %}">Home</a>
 <a href="{% allif_get_single_nav_link_url 'CreditNotes' user_var glblslug %}">Credit Notes</a>
  </div>
  
      </div><!--end....header column-->
    
    </div><!--end....header row-->
  
  </div><!--end....main headere-->

<div class="allifmaincontainer">



  <div class="row mt-12"> <!--start....table row-->
    <div class="col-md-12"><!--start of the first row body-->
      <div class="allif-form-container">
      
      <div class="row"><!--start of row div --->
        <div class="allif-scroll-table">
          <div class="table-responsive allif-full-table">
          <table class="table table-layout">
            <thead>
              <tr class="allif-table-header-row">
               
                <td>Item Description</td>
                <td>Quantity</td>
                <td>Discount</td>
                <td>Part No.</td>
                <td>In Stock</td>
                <td>Unit Cost</td>
                <td>Unit Price</td>
                <td>Amount</td>
             
             
              <td>Navigate</td>
              
              <td> . . . </td>
              <td></td>
              </tr>
              </thead>
              <tbody class="allif-table-body">
             
              {% for item in allifqueryset %} 
              <tr data-id="{{item.id}}">
              <td><a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonStockItemDetails' item.items.id user_var glblslug %}">{{item.items}}</a></td>
            
          <td>{{item.quantity|floatformat:2|intcomma}}</td>
          <td>{{item.discount|floatformat:2|intcomma}}%</td>
          <td> {{item.description.partNumber}}</td>
         
          <td>{{item.description.quantity|floatformat:2|intcomma}}</td>
          <td>{{item.description.unitcost|floatformat:2|intcomma}}</td>
          <td>{{item.description.unitPrice|floatformat:2|intcomma}}</td>
          
          <td>{{item.invoice_selling_price|floatformat:2|intcomma}}</td>
          
         
               <td>
                <div class="dropdown allifmaal-content-dropdown">
                  <a href="#" onclick="showDropdown(event, this)" class="dropdown-toggle dropdown-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                  <div class="dropdown-content">
                    <a href="{% url 'allifmaalcommonapp:commonEditCreditNoteItem' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Edit Item</a>
                    <a href="#" onclick="confirmDelete(this)" class="dropdown-item" id="allif-table-drop-item-link-delete">Delete Item</a>
                    
                  </div>
                </div>
                <div class="dropdown allif-confirm-action">
                  
                  <a href="{% url 'allifmaalcommonapp:commonAddCreditNoteItems' item.credit_note.id user_var glblslug %}" id="allif-table-drop-item-link">No</a><span><strong> | </strong></span>
                  <a href="{% url 'allifmaalcommonapp:commonDeleteCreditNoteItem' item.id user_var glblslug %}" id="allif-confirm-delete">Confirm</a>
                </div>
      
               
              </td>
             <td> . . . </td>
             <td></td>
            
        
          </tr>
          {% endfor %}

           <tr>
                <form method='POST' action=''>{% csrf_token %}
                 
                  <td id="allif-table-inline-form">{{form.items}}</td>
                  <td id="allif-table-inline-form">{{form.quantity}}</td>
                  <td id="allif-table-inline-form">{{form.discount}}</td>
                  <td id="allif-table-inline-form"> <input type="submit" value='Add' class="btn btn-success allifmaal-submit-btn"></td>
                  <td id="allif-table-inline-form">_______________</td>
                  <td id="allif-table-inline-form">_______________</td>
                  <td id="allif-table-inline-form">_______________</td>
                  <td id="allif-table-inline-form" colspan="5">_______________</td>
                </form>
                </tr>

          <tr>
            <td id="allif-table-sums-section" colspan="3"></td>
            <td id="allif-table-sums-section" colspan="4">Sub Total</td>
            <td id="allif-table-sums-section" colspan="2">{{allifquery.total|floatformat:2|intcomma}}</td>
            <td id="allif-table-sums-section" colspan="3"></td>
            
          </tr>
  
          <tr>
            <td id="allif-table-sums-section" colspan="3"></td>
            <td id="allif-table-sums-section" colspan="4">Discount</td>
            <td id="allif-table-sums-section" colspan="2">{{allifquery.discountAmount|floatformat:2|intcomma}}</td>
            <td id="allif-table-sums-section" colspan="3"></td>
            
            </tr>
            <tr>
            <td id="allif-table-sums-section" colspan="3"></td>
              <td id="allif-table-sums-section" colspan="4">Total</td>
              <td id="allif-table-sums-section" colspan="2">{{allifquery.totalwithdiscount|floatformat:2|intcomma}}</td>
              <td id="allif-table-sums-section" colspan="3"></td>
              
              </tr>
  
            
            <tr>
             <td id="allif-table-sums-section" colspan="3"></td>
              <td id="allif-table-sums-section" colspan="4"> Add Tax {{allifquery.salestax.taxrate}}%</td>
              <td id="allif-table-sums-section" colspan="2">{{allifquery.taxAmount|floatformat:2|intcomma}}</td>
              <td id="allif-table-sums-section" colspan="3"></td>
              
              </tr>
          
                <tr>
                 <td id="allif-table-sums-section" colspan="3"></td>
                  <td id="allif-table-sums-section" colspan="4"><strong>Grand Total {{allifquery.currency}}</strong></td>
                  <td id="allif-table-sums-section" colspan="2"><strong>{{allifquery.grandtotal|floatformat:2|intcomma}}</strong></td>
                  <td id="allif-table-sums-section" colspan="4"></td>
                  
                  </tr>
          
         
            </tbody>
          </table>
          </div>
         </div>

        
                   
      <!--end of table-->
          
            </div><!--end of column 1-->
        
        </div><!--end of row div --->
            
        </div>
            </div><!--end of first row body....-->


  
</div><!--end of main container of the page-->
</div>
  {% block scripts %}

  {% endblock %}
   {% endblock %}
   
