  {% extends 'allifmaalcommonapp/ui/tables/full/data-list.html'%}
  {% load humanize %}
  {% load allif_navigation_tags %}
  {% block allif-basic-search-action %}
    {% url 'allifmaalcommonapp:commonCreditNotesSearch' user_var glblslug %}
  {% endblock %}
 
  {% block advanced-search-action %}
    {% url 'allifmaalcommonapp:commonCreditNotesAdvanceSearch' user_var glblslug %}
  {% endblock %}
  {% block upload-excel-file-action %}
  
  {% endblock %}
  {% block allif-header-links %}
  <a href="{% allif_get_single_nav_link_url 'Invoices' user_var glblslug %}">Invoices</a>
 
 <a href="{% allif_get_single_nav_link_url 'CreditNotes' user_var glblslug %}">Credit Notes</a>
<a href="{% allif_get_single_nav_link_url 'AddCreditNote' user_var glblslug %}">New Credit Note</a>
 
  {% endblock %}
  {% block upload-excel-file %}
  {%endblock%}
  {% block list-table-headers %}
  <td class="allif-fix-table-col"> Number</td>
   <td class="allif-table-header-td">Customer</td>
  
  <td class="allif-table-header-td">Invoice</td>
  
  <td class="allif-table-header-td">Amount</td>
   
  {% endblock %}

    
  {% block list-table-content-seciton %}
  <td class="allif-fix-table-col">{% block list-table-content-seciton-links %}<a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonAddCreditNoteDetails' item.id user_var glblslug %}"> {{item.number}} </a>{%endblock%}</td>
  
  <td class="allif-table-content-td"> {{item.customer}} </td>
  <td class="allif-table-content-td"> {{item.original_invoice}} </td>
  <td class="allif-table-content-td">
    <a class="allif-table-links" href="{% url 'allifmaalcommonapp:commonAddCreditNoteDetails' item.id user_var glblslug %}">
     {{item.total_amount|floatformat:2|intcomma}}</a>
     </td>
  
  {% endblock %}
  {% block list-table-content-seciton-dropdown-links %}
  <a href="{% url 'allifmaalcommonapp:commonAddCreditNoteDetails' item.id user_var glblslug %}" class="dropdown-item" id="allif-table-drop-item-link">Add Items</a>
  
  
  {% endblock %}
