{% extends 'allifmaalcommonapp/base/uimainbase/allifmaaluibase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
{% block body %}


 {% if allifquery %}
<!-- START... below is for loading contextual dynamic tags and links... used for only contextual links -->
{% load allif_contextual_action_tags %} {# this helps to put the links where you want and it loads them #}
{% allif_get_contextual_actions_map allifquery user_var glblslug as allif_contextual_action_links %}
<!--'allif_contextual_action_links' now holds the dictionary returned by the tag-->
<!-- END.. -->
{% endif %}

<div class="allifmaal-main-container">
<div class="allif-header-main-wrapper">
 <!--... START OF HEADER.... -->
{% include 'allifmaalcommonapp/includes/headers/header-upper-section.html' %}


{% block add-form-header-block %}
 
{%endblock%}
{% include 'allifmaalcommonapp/includes/headers/header-lower-section.html' %}
 <!--... ENDT OF HEADER.... -->
</div>
  <div class="allifmaincontainer">
   
{% if allifquery %}
     <div class="allif-details-table-main-wrapper">
  <!--... START OF TABLE.... -->
   {% include 'allifmaalcommonapp/includes/details/two-column-details-table-upper-section.html' %}
    {% block details-table-col-one %}
      <tr>
        <td class="allif-fix-table-col">Name</td>
        <td>{{allifquery.name}}</td>
      </tr>
      {%endblock%}

    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-middle-section.html' %}
      {% block details-table-col-two %}
     <tr>
        <td class="allif-fix-table-col">Description</td>
        <td>{{allifquery.description}}</td>
      </tr>
      {% endblock %}
        
    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-lower-section.html' %}
     <!--... END OF TABLE.... -->
      </div>
{% endif %}

  <div class="allif-form-main-wrapper">
    <form method='POST' action=''>{% csrf_token %}


    <!--START.... start of single pages content and its links section-->
    <div class="allif-single-page-tabs-contents-main-wrapper" >
    {% include 'allifmaalcommonapp/includes/links/single-page-links.html' %}

    <!--start of singple page contents-->
    <div class="tab-content allif-single-page-tab-content-wrapper" id="allif-single-page-tab-content-wrapper-id">
       <!--START.. Start of show/hide table section one-->
      <div class="tab-pane allif-single-page-tab-content-pane show active" id="allif-single-page-tab-core-details" role="tabpanel" aria-labelledby="allif-single-page-tab-core-details-id">
     
        <div class="allif-forms-table-main-wrapper">
        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-one-section.html' %}

        {% block core-tab-col-one %}
          <tr>
            <td class="allif-fix-table-col-forms">Name</td>
            <td>{{form.name}}</td>
          </tr>
        
          {%endblock%}
        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-section.html' %}
        {% block core-tab-col-two %}
        
        <tr>
          <td class="allif-fix-table-col-forms">Description</td>
          <td>{{form.description}}</td>
        </tr>
       
        {%endblock%}
        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-last-section.html' %}
    </div>

  </div>
       <!--END... End of show/hide table more details section one..ok...hree....-->
 <!--START.. Start of show/hide table section one-->
    <div class="tab-pane allif-single-page-tab-content-pane show" id="allif-single-page-tab-standard-details" role="tabpanel" aria-labelledby="allif-single-page-tab-standard-details-id">
      <div class="allif-forms-table-main-wrapper">

        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-one-section.html' %}

        {% block standard-tab-col-one %}
          <tr>
            <td class="allif-fix-table-col-forms"></td>
            <td></td>
          </tr>
        
          {%endblock%}
        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-section.html' %}
        {% block standard-tab-col-two %}
        <tr>
          <td class="allif-fix-table-col-forms"></td>
          <td></td>
        </tr>
       
        {%endblock%}
        {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-last-section.html' %}

     {% include 'allifmaalcommonapp/includes/forms/standard-form-fields.html' %}
     </div>
    </div>
       <!--END... End of show/hide table more details section one-->

    {% if consider_to_remove %}
  <div class="tab-pane allif-single-page-tab-content-pane show" id="allif-single-page-tab-general-details" role="tabpanel" aria-labelledby="allif-single-page-tab-general-details-id">
    <div class="allif-forms-table-main-wrapper">
      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-one-section.html' %}
       {% block general-tab-col-one %}
      <tr>
        <td class="allif-fix-table-col-forms">Balance</td>
        <td>{{form.balance}}</td>
      </tr>
      {%endblock%}
      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-section.html' %}
      {% block general-tab-col-two %}
      <tr>
        <td class="allif-fix-table-col-forms">Quantity</td>
        <td>{{form.quantity}}</td>
      </tr>
      {%endblock%}
      {% include 'allifmaalcommonapp/includes/forms/two-column-forms-table-column-two-last-section.html' %}
     </div>
    </div>
{% endif %}

       <!--END... End of show/hide table more details section one-->
    <div class="tab-pane allif-single-page-tab-content-pane show" id="allif-single-page-tab-static-details" role="tabpanel" aria-labelledby="allif-single-page-tab-static-id">
     <div class="allif-forms-table-main-wrapper">
    {% include 'allifmaalcommonapp/includes/forms/static-form-fields.html' %}
     </div>
    </div>



    {% if allifquery %}

    <div class="tab-pane allif-single-page-tab-content-pane show" id="allif-single-page-tab-sensitive-details" role="tabpanel" aria-labelledby="allif-single-page-tab-sensitive-id">
       <div class="allif-forms-table-main-wrapper">
        {% include 'allifmaalcommonapp/includes/details/two-column-details-table-upper-section.html' %}
   
    {% block allif_sensitive_section_col_one %}
      <tr>
        <td class="allif-fix-table-col">{{allifquery}}</td>
        <td><a class="amel-table-list-identifier" href="">Download {{allifquery}}</a></td>
      </tr>
      {%endblock%}

    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-middle-section.html' %}
    
    {% block allif_sensitive_section_col_two %}
     <tr>
        <td class="allif-fix-table-col">Delet {{allifquery}}</td>
        <td><a class="amel-table-list-identifier body-delete-link" href="">Delete {{allifquery}}</a></td>
      </tr>
      {%endblock%}

    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-lower-section.html' %}

       </div>
    </div>
    {%endif%}


       <!--END... End of show/hide table more details section one-->
    <div class="allif-forms-table-main-wrapper">
    {% include 'allifmaalcommonapp/includes/forms/three-column-forms-table-column-one-section.html' %}
    {% block bottom-fields-col-one%}
      <tr>
        <td class="allif-fix-table-col-forms">Code</td>
        <td>{{form.code}}</td>
      </tr>
      {%endblock%}
      {% include 'allifmaalcommonapp/includes/forms/three-column-forms-table-column-two-section.html' %}
      {% block bottom-fields-col-two %}
      <tr>
        <td class="allif-fix-table-col-forms">Number</td>
        <td>{{form.number}}</td>
      </tr>
      {%endblock%}
      {% include 'allifmaalcommonapp/includes/forms/three-column-forms-table-column-three-section.html' %}
      {% include 'allifmaalcommonapp/includes/forms/forms-save-button.html' %}  
      {% include 'allifmaalcommonapp/includes/forms/three-column-forms-table-column-three-last-section.html' %}
      </div>
        </div>
         </form>
  </div>

   <div class="allif-content-spacer"></div>
   {% block collapsible_section %}
  {% if consider_to_remove_this_section %}
  <!--... START OF COLLAPSIBLE SECTIONS.... -->
  <div class="allif-collapsible-sections-main-wrapper">
<!--START......... Start of collapsible sectioon links..........-->
  {% include 'allifmaalcommonapp/includes/links/collapse-links.html' %}
    
  <!--start....content of first dropdown/collapsible section-->
  <div class="collapse allif-collapsible-details-section-wrapper" id="allif-collapsible-core-details">
  
    <div class="allif-details-table-main-wrapper">
     <!--... START OF TABLE.... -->
   {% include 'allifmaalcommonapp/includes/details/two-column-details-table-upper-section.html' %}
   {% block allif_core_details_col_one %}
      <tr>
        <td class="allif-fix-table-col">Comments</td>
        <td>{{allifquery.comments}}</td>
      </tr>
      {%endblock%}
    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-middle-section.html' %}
    {% block allif_core_details_col_two %}
      <tr>
        <td class="allif-fix-table-col">Balance</td>
        <td>{{allifquery.balance}}</td>
      </tr>
      {%endblock%}
    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-lower-section.html' %}
       <!--... END OF TABLE.... -->
      </div> 
      </div>
    <!--end....content of first dropdown/collapsible section-->

    <!--start....content of second dropdown/collapsible section-->
    <div class="collapse allif-collapsible-details-section-wrapper" id="allif-collapsible-standard-details">
     <!--... START OF TABLE.... -->
    <div class="allif-details-table-main-wrapper">
   {% include 'allifmaalcommonapp/includes/details/two-column-details-table-upper-section.html' %}
   {% block allif_standard_details_col_one %}
      <tr>
        <td class="allif-fix-table-col">Quantity</td>
        <td>{{allifquery.quantity}}</td>
      </tr>
      {%endblock%}
    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-middle-section.html' %}
     {% block allif_standard_details_col_two %}
      <tr>
        <td class="allif-fix-table-col">Date</td>
        <td>{{allifquery.date}}</td>
      </tr>
      {%endblock%}
    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-lower-section.html' %}
       <!--... END OF TABLE.... -->
       </div>
    </div>
       <!--end....content of second dropdown/collapsible section-->
    <!--start....content of second dropdown/collapsible section-->
    <div class="collapse allif-collapsible-details-section-wrapper" id="allif-collapsible-general-details">
      <div class="allif-details-table-main-wrapper">
    {% include 'allifmaalcommonapp/includes/details/standard-base-details.html' %}
    </div>
    </div>
       <!--end....content of second dropdown/collapsible section-->
    
        <!--start....content of second dropdown/collapsible section-->
    <div class="collapse allif-collapsible-details-section-wrapper" id="allif-collapsible-static-details">
      <div class="allif-details-table-main-wrapper">
    {% include 'allifmaalcommonapp/includes/details/general-base-details.html' %}
    </div>
    </div>

  
    <div class="collapse allif-collapsible-details-section-wrapper" id="allif-collapsible-sensitive-details">
      <div class="allif-details-table-main-wrapper">
        
  <!--... START OF TABLE.... -->
   {% include 'allifmaalcommonapp/includes/details/two-column-details-table-upper-section.html' %}

   {% block allif_collapsible_sensitive_section_col_one %}
      <tr>
        <td class="allif-fix-table-col">{{allifquery}}</td>
        <td><a class="amel-table-list-identifier" href="">Download {{allifquery}}</a></td>
      </tr>
      {%endblock%}
    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-middle-section.html' %}
    {% block allif_collapsible_sensitive_section_col_two %}
     <tr>
        <td class="allif-fix-table-col">Delet {{allifquery}}</td>
        <td><a class="amel-table-list-identifier body-delete-link" href="">Delete {{allifquery}}</a></td>
      </tr>
      {%endblock%}

    {% include 'allifmaalcommonapp/includes/details/two-column-details-table-lower-section.html' %}
     <!--... END OF TABLE.... -->
    </div>
    </div>
   
   

       <!--end....content of second dropdown/collapsible section-->
       </div>

       {% endif %}

       {% endblock %}
      </div>
      <!--END.... END of single pages content and its links section-->
    </div>
  {% block scripts %}
  {% endblock %}
   {% endblock %}