{% extends 'allifmaalhotelsapp/base/uimainbase/hotelsbase.html'%}
{% load humanize %}
{% block title %}
{{title}}
{% endblock %}
{% block style %}
{%endblock%}
   
{% block body %}

<!--we can insert the other section here-->
<div class="allifmaincontainer">
      
  <!--start....main headere-->
  <div class="card-header">

    <div class="row mt-12" ><!--start.......header row-->

    <div class="col-md-12"><!--start....header column-->
          
    <a href="#" class="module-menu-one-open-link module-menu-links">Navigate <i class="fa fa-caret-down"></i></a>
    <a href="#" class="module-menu-two-open-link module-menu-links">Open <i class="fa fa-caret-down"></i></a>
    <a href="#" class="module-menu-three-open-link module-menu-links">Modules <i class="fa fa-caret-down"></i></a>
    <a href="" class="module-menu-links">Sales </a>
    <a href="#" class="module-menu-links">Sales Returns </a>
    <a href="#" class="module-menu-links"> <span>Customers</span> </a>


<!--start....module side nav one menu-->
 <div class="module-menu-one">
  <a href="#" class="module-menu-one-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
 

  <button class="module-menu-dropdown-btn" >Quotations<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
  
   <a href="#">Suppliers</a>
 </div>

 <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   
   <a href="#">Invoices</a>
   <a href="#">Quotations</a>
   <a href="#">Invoices</a>
   <a href="#">Quotations</a>
   
 </div>

    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
 </div>
 <!--end....module side nav one menu-->

 <!--start....module side nav two menu-->
 <div class="module-menu-two">
  <a href="#" class="module-menu-two-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
  <a href="" >menu 2</a>

  <button class="module-menu-dropdown-btn" >Menu2<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   <a href="">Menu 2</a>
   <a href="#">Suppliers</a>
 </div>

 <button class="module-menu-dropdown-btn" >Purchases<i class="fa fa-caret-down"></i></button>
 <div class="module-menu-dropdown-container">
   <a href="">Logistics</a>
   <a href="#">Invoices</a>
  
 </div>

    <a href="#" class="">Sales</a>
    <a href="#" class="">Sales</a>
   
 </div>
 <!--end....module side nav two menu-->

 <!--start....module side nav three with search menu-->
 <div class="module-menu-three">
    <table class="table allif-search-table">
      <tr>
        <a href="#" class="module-menu-three-open-link module-menu-close-link">Close The Menu <i class="fa fa-close"></i> </a>
      </tr>
     
      <tr>
        <td>
      <a href=""> New Customer </a>
        </td>

        <td> 
          <a href="">Customer Payments</a>
        </td>

        </tr>

        <tr>
        <td>
      <a href=""> Customer Statements </a>
        </td>
        <td>     
          <a href="">Transactions</a>
        </td>

        </tr>
        <tr>
          <td>
        <a href=""> Customer Statements </a>
          </td>
          <td>     
            <a href="">Customer Transactions</a>
          </td>
          </tr>
        </table>
 </div>
 <!--start....module side nav three with search menu-->
 
    </div><!--end....header column-->
  
  </div><!--end....header row-->

</div><!--end....main headere-->


<h2>Dear <strong> {{user_var}} </strong> </h2>
<h4>Welcome To The Hotels App Home </h4>
       


</div><!--end of main container of the page-->

   {% endblock %}
   